<!--
табличка със логове за редакции на клетки
-->

<template>
    <div>
        <h4 v-if="showHeader">{{$t("site.dbs.table.logs.header")}}</h4>
        <!--Ако масива logs e празен-->
        <div v-if="!logs.length" class="msg orange white-text">{{$t("site.dbs.table.logs.empty")}}</div>

        <table v-else class="yScrollableTable responsive-table">
            <thead>
            <tr>
                <th v-if="showColumn">{{$t("site.dbs.table.logs.col")}}</th>
                <th>{{$t("site.dbs.table.logs.old")}}</th>
                <th>{{$t("site.dbs.table.logs.new")}}</th>
                <th>{{$t("site.dbs.table.logs.modifier")}}</th>
                <th>{{$t("site.dbs.table.logs.date")}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody :style="{'max-height': height+'px'}">
            <tr v-for="log in logs">
                <td v-if="showColumn">{{log.column.verbose?log.column.verbose:log.column.column}}</td>
                <td>
                    <!--В случай, че стойността е bool -->
                    <i v-if="log.old_value==='Bool(True)'" class="material-icons green-text">check</i>
                    <i v-else-if="log.old_value==='Bool(False)'" class="material-icons red-text">close</i>

                    <span v-else>{{log.old_value}}</span>
                </td>
                <td>
                    <!--В случай, че стойността е bool -->
                    <i v-if="log.new_value==='Bool(True)'" class="material-icons green-text">check</i>
                    <i v-else-if="log.new_value==='Bool(False)'" class="material-icons red-text">close</i>

                    <span v-else>{{log.new_value}}</span>
                </td>
                <td>{{log.user}}</td>
                <td>{{log.created_at|date}} <br> ( {{log.created_at|dateDif}} )</td>
                <td>
                    <button @click="$emit('revert', log )" data-position="right"
                            :data-tooltip='$t("site.dbs.table.logs.revert")'
                            class="btn-small btn-floating orange edit-cell-logs  tooltipped ">
                        <i class="material-icons ">history</i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ["logs", "height", "showHeader", "showColumn"],


        //Филтри за форматиране на дати
        filters: {
            dateDif: function (value) {
                let d = new moment(value);
                d.subtract(2, 'hours');
                return d.fromNow()
            },
            date: function (value) {
                let d = new moment(value);
                d.subtract(2, 'hours');
                return d.format("Do MMMM YYYY")
            }
        },
    }
</script>

<style scoped>
    /*За таблици, които може да им се сролва body-то */
    @media screen and (min-width: 1000px){
        .yScrollableTable tbody {
            display: block;
            overflow-y: scroll;
        }
        .yScrollableTable thead,
        .yScrollableTable tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    }

</style>