<!-- Модал за качване на снимка към сайт -->
<style scoped>
    .modal {
        padding: 13px
    }
</style>
<template lang="html">
    <div>
        <div class="modal" id="fileModal">
            <h5>Качи снимка</h5>
            <br>
            <form method="POST" :action="submitUrl" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="POST"/>
                <input name="authenticity_token" :value="csrfToken" type="hidden">
                <div class="row">
                    <div class="file-field input-field col s12 m8 offset-m2">
                      <div class="btn pink accent-3">
                        <span>Снимка</span>
                        <input type="file" name="photo_file" accept="image/x-png,image/gif,image/jpeg">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" id="photo">
                      </div>
                    </div>
                </div>
                <div class='row'>
                    <button type='submit' class='col s12 m8 offset-m2 btn btn-large waves-effect pink accent-3'>Качи
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        data (){
            return {
                submitUrl:"",
            }
        },
        created(){
          setTimeout(()=>{
              this.submitUrl = this.url
          }, 200)
        },
        //Vuex променливи
        computed: mapState({
            site: "site",
            csrfToken: "csrfToken",
            url: state => state.urls['sitePhotoUrl'],
        }),
    }
</script>