<!-- Поле за редактиране на мета данни на сайта -->
<template>
    <div class="row tableRow">
        <div class="col">
            <h6><b>{{name}} :</b></h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" >
                    <h6 v-show="!edited" class="truncate">
                        {{data}}
                    </h6>
                    <div v-show="edited" class="input-field tableInput">
                        <input v-model="editedVal" v-if='type!="textarea"' :class="{invalid:errors}" type="text">
                        <textarea v-else cols="30" rows="10" :class="{invalid:errors}" v-model="editedVal" class="materialize-textarea"></textarea>
                        <span v-if="errors" class="helper-text" :data-error="errors[0]"></span>
                    </div>

                </div>
                <div class="col right-aligned">
                    <!--Бутон за редакция-->
                    <div v-show="!edited" class="iconDiv">
                        <a @click="edited='true'" href="#!" class="material-icons cyan-text">edit</a>
                    </div>

                    <div  v-show="edited" class="iconDiv">
                        <!--Бутон за потвърждаване на данните в input-a -->
                        <a @click="edit" href="#!" class="material-icons green-text" style="width: 30px;">checkmark</a>
                        <!--Бутон за връщане на оригиналните данни в input-a-->
                        <a v-show="editedVal != data" @click="restore" href="#!" class="material-icons orange-text">restore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["type", "data", "name", "errors"],
        data() {
            return {
                edited: false,
                editedVal: "",
            }
        },
        watch: {
            data(d) {
                this.editedVal = d
            },
            errors(e) {
                if (e) {
                    this.edited = true;
                }
            },
        },
        methods: {
            //Редактира
            edit() {
                this.edited = false;
                this.$emit("edited", this.editedVal)
            },
            restore(){
                this.editedVal = this.data;
            }
        }
    }
</script>

<style scoped>
    .iconDiv {
        padding-top: 10px;
    }


    .tableRow {
        margin-bottom: 0px;
    }

    .tableInput {
        top: -18px;
    }
</style>