<!-- Страница където се зареждат всички мои сатове -->
<br>
<div class="row">
    <h3><%=t("mySites")%></h3>
</div>

<my-sites
        :owned='<%=json(owned)%>'
        :admin='<%=json(admin)%>'
        :rw='<%=json(rw)%>'
        :read='<%=json(read)%>'
></my-sites>

<div class="fixed-action-btn">
    <a href="<%= getSiteFormPath() %>" class="btn-floating btn-large waves-effect waves-light pink accent-3"><i class="material-icons">add</i></a>
</div>
