<!----------------- -------------------------------------
Страница за определен сайт

Тук се намира 80% от логикта на приложението
Добавяне/редкатиране/настройване/изтриване на
връзки към БД/таблици/колони/диаграми и самият сайт

 ------------------------------------------------------->
<% let scripts = true  %>
<site></site>
<br>

<% contentFor("scripts") { %>
<%= javascriptTag("sitePage.js") %>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //Всички Url-и които се използват от vue компонентите
        VuexStore.commit("addUrls", {
            "siteEditUrl": "<%= editSitePath({site_id: site.ID}) %>",
            "sitePhotoUrl":"<%= sitePhotoPath({site_id: site.ID}) %>",
            "homeUrl": "<%= rootPath() %>",
            "removeUserUrl": "<%= removeUserPath({site_id: site.ID}) %>",
            "changeRightsUrl": "<%= changeRightsPath({site_id: site.ID}) %>",
            "generateWorkerUrl": "<%= generateLinkPath({site_id: site.ID}) %>",
            "sendInviteUrl": "<%= sendInvitePath({site_id: site.ID}) %>",
            "checkConnUrl": "<%= siteDbCheckConnectionPath({site_id:site.ID}) %>",
            "tableCheckConnUrl": '<%=siteDbTableCheckConnPath({site_id:site.ID,table_id:"table_id"})%>',
            "getDbTablesUrl": "<%= siteDbGetTablesPath({site_id:site.ID})%>",
            "getTableColumnsUrl": '<%= siteDbTableGetColumnsPath({site_id:site.ID})%>',
            "getTableSavedColumnsUrl": '<%= siteDbTableGetSavedColumnsPath({site_id:site.ID})%>',
            "getRowsUrl": '<%=siteDbTableRowPath({site_id:site.ID,table_id:"table_id"})%>',
            "getRowsCountUrl": "<%=siteDbTableRowsCountPath({site_id:site.ID})%>",
            "renameTableUrl": '<%=siteDbTableRenamePath({site_id:site.ID,table_id:"table_id"})%>',
            "setTablePkColumnUrl": '<%=siteDbTableSetPkColumnPath({site_id:site.ID,table_id:"table_id"})%>',
            "createTableColumnsUrl": '<%= siteDbTableCreateColumnsPath({site_id:site.ID})%>',
            "updateTableColumnsUrl": '<%= siteDbTableUpdateColumnsPath({site_id:site.ID})%>',
            "updateColumnUrl": "<%= siteDbTableUpdateColumnPath({site_id:site.ID})%>",
            "createConnUrl": "<%=siteDbCreatePath({site_id:site.ID})%>",
            "updateConnUrl": "<%=siteDbUpdatePath({site_id:site.ID})%>",
            "delConnUrl": '<%=siteDbDeletePath({site_id:site.ID, conn_id:"conn_id"})%>',
            "getConnsUrl": "<%=siteDbGetConnectionsPath({site_id:site.ID})%>",
            "createRelationUrl":'<%=siteDbTableColumnAddRelationPath({site_id:site.ID,column_id:"column_id"})%>',
            "deleteRelationUrl":'<%=siteDbTableColumnRemoveRelationPath({site_id:site.ID,column_id:"column_id"})%>',
            "createMutationUrl":'<%=siteDbTableColumnAddMutationPath({site_id:site.ID,column_id:"column_id"})%>',
            "deleteMutationUrl":'<%=siteDbTableColumnRemoveMutationPath({site_id:site.ID,column_id:"column_id"})%>',
            "createValidationUrl":'<%=siteDbTableColumnAddValidationPath({site_id:site.ID,column_id:"column_id"})%>',
            "deleteValidationUrl":'<%=siteDbTableColumnRemoveValidationPath({site_id:site.ID,column_id:"column_id", validation_id:"validation_id"})%>',
            "createChartUrl":'<%=siteChartCreatePath({site_id:site.ID})%>',
            "updateChartUrl":'<%=siteChartUpdatePath({site_id:site.ID, chart_id:"chart_id"})%>',
            "getChartsUrl":'<%=siteChartGetAllPath({site_id:site.ID})%>',
            "chartUrl":'<%=siteChartPath({site_id:site.ID, chart_id:"chart_id"})%>',
            "deleteChartUrl":'<%=siteChartDeletePath({site_id:site.ID, chart_id:"chart_id"})%>',
            "updateCellDataUrl":"<%=siteDbTableUpdateCellDataPath({site_id:site.ID})%>",
            "cellEditLogUrl":"<%=editSiteDbTableGetCellLogPath({site_id:site.ID})%>",
            "getTableLogsUrl":'<%=siteDbTableLogsPath({site_id:site.ID, table_id:"table_id"})%>'
        });
        //Данните за сайта
        VuexStore.commit("setSite", <%=json(site)%>);
        //Данните за потребителите на сайта
        VuexStore.commit("setSiteUsers", <%=json(users)%> );

        VuexStore.commit("setUserAccess","<%=rights%>" );
        VuexStore.commit("setCsrfToken", "<%= authenticity_token %>")

        //Disable-ва кликането на десен бутон за цялата страница
        document.addEventListener('contextmenu', function(event) { event.preventDefault()});
    });



</script>
<% } %>


