<!-- Layout за логин формата -->
<!DOCTYPE html>
<html>

  <head>
    <!-- Include the header -->
    <%= partial("includes/header.html") %>

    <!-- Иконки -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">

    <style>
      body{
        background-image: url("<%=assetPath("images/welcome/auth_bg.jpg")%>");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
      .bg{
        opacity:0.8;
        background-image: linear-gradient(to bottom right, #3f51b5, #c51162  );
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index: -1;
      }
    </style>
      <%= partial("flash.html") %>

  </head>
  <body class="">
    <div class="bg">
    </div>

    <div class="container" style="z-index:1;" id="app">
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
