<!-- Layout за първата страница -->
<!DOCTYPE html>
<html>
<head>
    <%= partial("includes/header.html") %>
    <%= stylesheetTag("welcome.css") %>
    <%= partial("flash.html") %>


</head>
<body class="">
<div>
    <%= yield %>
</div>

<%= javascriptTag("application.js") %>
<script>
    //инициализира  materialize Material Box-овете
     M.Materialbox.init( document.querySelectorAll('.materialboxed'), {});
</script>
</body>
</html>
