<!-- Модал за промяна на уменията -->
<style scoped>

</style>
<template lang="html">
    <div>
        <div class="modal row" id="skillsModal">
            <h5 class="center">Промени уменията си</h5>
            <br>
            <div class="col l8 offset-l2 m8 offset-m2 s12 offset-s0 row">

                <!-- Customizable input  -->
                <div class="chips">
                    <input/>
                </div>

                <!--<div class="col s12" v-for="skill in skills">-->
                <!--<div class="">-->
                <!--<li style="font-size: 17px"><b>{{skill}}</b></li>-->
                <!--</div>-->
                <!--<div class="">-->
                <!--<a class="btn-floating btn-small waves-effect waves-light pink accent-3 right" ><i class="material-icons" @click="removeSkill(skill)">delete</i></a>-->
                <!--</div>-->
                <!--<br><br>-->
                <!--</div>-->

                <!--<div v-show="skills.length < 6" class="col s12">-->
                <!--<div class="input-field">-->
                <!--<input type="text" id="skill" class='validate' @keyup.enter="addSkill">-->
                <!--<label for="skill">Въведи умение</label>-->
                <!--</div>-->
                <!--<div class="">-->
                <!--<a class="btn-floating waves-effect waves-light pink accent-3 right" ><i class="material-icons" @click="addSkill">add</i></a>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["user", "csrfToken", "errors", "editSkillsUrl", "skills"],
        created() {
            let data = [];
            this.skills.forEach(s => {
                data = [...data, {
                    tag: s,
                }]
            });
            var vue  =this;
            setTimeout(() => {
                M.Chips.init(document.querySelectorAll('.chips'), {
                    data,
                    onChipAdd(_, c) {
                        let skill = c.innerText;
                        skill = skill.substring(0, skill.lastIndexOf("close"));
                        vue.addSkill(skill)
                    },
                    onChipDelete(_,c){
                        let skill = c.innerText;
                        skill = skill.substring(0, skill.lastIndexOf("close"));
                        vue.removeSkill(skill)
                    }
                });
            }, 130);
        },

        methods: {
            //Добавяне на умение
            addSkill(skill) {

                this.skills.push(skill);


                let d = qs.stringify({
                    skills: JSON.stringify(this.skills),
                });

                axios.put(this.editSkillsUrl, d).catch((e) => {
                        M.toast({html:e.response.data,  classes: 'red'})
                })

            },
            //Премахване на умение
            removeSkill(skill) {
                var index = this.skills.indexOf(skill);
                this.skills.splice(index, 1);

                if (this.skills.length == 0) {
                    var d = qs.stringify({
                        skills: JSON.stringify([]),
                    })
                } else {
                    var d = qs.stringify({
                        skills: JSON.stringify(this.skills),
                    })
                }

                axios.put(this.editSkillsUrl, d).catch((e) => {
                     M.toast({html:e.response.data,  classes: 'red'})
                })
            }
        }
    }
</script>