<!-- Качване на корица или аватар на потребителя -->
<style scoped>
	.modal{
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
</style>
<template lang="html">

		<div class="modal row" id="fileModal">
			<div class="col s12 m8 offset-m2">
				<h5 class="center">{{$t("profile.fileHeader")}}</h5>
				<br>
				<!-- Форма -->
				<form method="POST" :action="profileFileUrl" enctype="multipart/form-data">
					<input type="hidden" name="_method" value="POST"/>
					<input name="authenticity_token" :value="csrfToken" type="hidden">
					<div class="col s12">
						<div class="file-field input-field">
							<div class="btn pink accent-3">
								<span>{{$t("profile.avatar")}}</span>
								<input type="file" name="avatar_file" accept="image/x-png,image/gif,image/jpeg">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" id="avatar">
							</div>
						</div>
					</div>
					<div class="col s12">
						<div class="file-field input-field">
							<div class="btn pink accent-3">
								<span>{{$t("profile.cover")}}</span>
								<input type="file" name="cover_file" accept="image/x-png,image/gif,image/jpeg">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" id="cover">
							</div>
						</div>
					</div>
					<div class="col s12">
						<button style="width: 100%;" type='submit' class='col btn  waves-effect cyan darken-1'>
							{{$t("profile.upload")}}
						</button>
					</div>
				</form>

			</div>

		</div>

</template>

<script>
	export default {
		props: ["user", "csrfToken", "errors", "profileFileUrl"],
	}
</script>