<!-- Страница с всички покани на един потребител -->
<style media="screen" scoped>
    img.siteLogo {
        width: 40px;
        margin-top: 4px;
    }

    .site_link {
        font-size: 20px;
        font-style: italic;
        text-decoration: underline;
        color: black;
    }

    .site_desc {
        font-size: 16px;
    }

</style>

<template lang="html">
    <div>
        <br v-if="!invites || !invites.length">
        <div v-if="!invites || !invites.length"
             class="msg light-blue lighten-5 light-blue-text text-darken-4  z-depth-1">
            <h6 class="center-align">
                {{$t("invites.empty")}}
            </h6>
        </div>
        <div class="row">
            <div v-for="invite in invites" class="col s12 m6">
                <div class="card  white">
                    <div class="card-content">
                        <h5> {{$t("invites.joinSite", {
                            site:invite.Site.name
                            })}}"</h5>
                        <a :href="invite.Site.link"><span class="site_link">{{invite.Site.link}}</span></a><br>
                        <span class="site_desc">{{invite.Site.desc}}</span><br><br>
                    </div>
                    <div class="card-action right-align">
                        <a @click="joinSite(invite.Site.id, invite.id)" href="#" class=""> {{$t("invites.join")}}</a>
                        <a @click="removeInvite(invite.id)" href="#" class="red-text"> {{$t("cancel")}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['invites',],
        methods: {
            //Приемане на поканата
            joinSite(site_id, invite_id) {
                var url = "/site/join/" + site_id;

                var d = qs.stringify({
                    invite_id: invite_id
                });

                axios.put(url, d)
                    .then((r) => {
                        window.location.href = r.data;
                    }).catch((e) => {
                    this.msg = {status: "error", msg: e.response.data}
                });
            },
            //Отказ на поканата
            removeInvite(id) {
                var url = "/invites/delete/" + id + "";

                axios.delete(url)
                    .then((r) => {
                        window.location.href = r.data;
                    }).catch((e) => {
                    this.msg = {status: "error", msg: e.response.data}
                });
            }
        }
    }
</script>