<!-- Форма за промяна на паролата -->
<template>
	<div>
		<div v-show="passwordShow" class="card">
			<form method="POST" :action="editPassUrl">
				<br>

                <input type="hidden" name="_method" value="POST"/>
                <input name="authenticity_token" :value="csrfToken" type="hidden">

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id="passSignUp"/>
                        <label for='passSignUp'>Нова парола</label>
                    </div>
                </div>

               	<div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password_confirmation' id="pass_conf"/>
                        <label for='pass_conf'>Повтори паролата</label>
                    </div>
                </div>

                <br/>
                <div class='row'>
                    <button type='submit' class='col s12 btn btn-large waves-effect pink accent-3'>Промени
                    </button>
                </div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["user", "csrfToken", "errors", "passwordShow", "editPassUrl", "dataShow"],
	}
</script>