<!-- Профил страница -->
<style scoped>
	.cardProfileImage{
	    position: absolute;
	    top: 190px;
	    z-index: 1;
	    left: 40px;
	    cursor: pointer;
	    margin: 0;
	}

    .cardProfileImage .image{
        width: 140px;
        height: 140px;
        background-size: 100% 100%;
    }

	.text {
		font-size: 17px;
	}
</style>
<template lang="html">
	<div>
		<div v-if="errors" class="pink accent-3 errors">
            <ul>
                <li v-for="e in errors.errors" style="color: white">
                    {{e[0]}}
                </li>
            </ul>
        </div>
        <!-- Основна карта -->
		<div v-show="dataShow" class="card">
			<!-- Корица -->
			<div class="card-image waves-effect waves-block waves-light" style="height: 250px">
				<a style="margin-bottom: -100%; margin-top:5px; margin-right:5px" v-if="myProfile == 'true'" class="btn-floating waves-effect waves-light white right modal-trigger" data-target="fileModal" id="uploadFile" >
					<i class="material-icons pink-text text-darken-2">file_upload</i>
				</a>
				<img v-if="!user.cover" class="activator" src="/assets/images/default_cover.jpg">
				<img v-else class="activator" :src="user.cover">
			</div>
			<!-- Аватар -->
			<figure class="cardProfileImage">

                <div class="image circle z-depth-2 responsive-image hide-on-med-and-down"
                     :style='{backgroundImage:"url(\""+avatar+"\")"}'>
                </div>
			</figure>

			<!-- Кратка информация -->
			<div class="card-content">
				<div class="row pt-2">
					<div class="col s12 m3 offset-m2">
						<h4 v-if="user.name" class="card-title grey-text text-darken-4">{{user.name}}</h4>
						<h4 v-else class="card-title grey-text text-darken-4">{{user.email}}</h4>
						<p class="medium-small grey-text">{{$t("profile.email")}}</p>
					</div>
					<div class="col s12 m3 center-align">
						<h4 class="card-title grey-text text-darken-4">{{owned.length}}</h4>
                      	<p class="medium-small grey-text">{{$t("profile.ownedSites")}}</p>
					</div>
					<div class="col s12 m3 center-align">
						<h4 class="card-title grey-text text-darken-4">{{other.length}}</h4>
                      	<p class="medium-small grey-text">{{$t("profile.mySites")}}</p>
					</div>

					<!--TODO::това е бутончеето за допълнителни опции (телефон, град) но мисля, че е излишно + валидацията му не работи като хората -->
					<div v-if="false" class="col s12 m1 right-align">
						<a class="btn-floating activator waves-effect waves-light pink accent-3 right" style="margin-top: 15px">
                        <i class="material-icons">perm_identity</i>
                      </a>
					</div>
				</div>
			</div>

			<!-- Допълнителна информация -->
			<!--<div class="card-reveal">-->
				<!--<p>-->
                    <!--<span class="card-title grey-text text-darken-4"><span v-if="user.name">{{user.name}}</span><span v-else>{{user.email}}</span>-->
                    	<!--&lt;!&ndash; Бутони за редакция &ndash;&gt;-->
                      <!--<i class="material-icons right" style="margin-top: 22px">close</i>-->

                      <!--<a v-if="myProfile == 'true'" class="btn-floating waves-effect waves-light pink accent-3 right" style="margin-top: 15px" @click="showForm">-->
                        <!--<i class="material-icons">edit</i>-->
                      <!--</a>-->
                      <!--<a v-if="myProfile == 'true'" class="btn-floating waves-effect waves-light pink accent-3 right" style="margin-top: 15px; margin-right: 4px" @click="showPassword">-->
                        <!--<i class="material-icons">lock</i>-->
                      <!--</a>-->
                      <!--<a v-if="myProfile == 'true'" class="btn-floating waves-effect waves-light pink accent-3 right modal-trigger" data-target="fileModal" id="uploadFile" style="margin-top: 15px; margin-right: 4px">-->
                        <!--<i class="material-icons">file_upload</i>-->
                      <!--</a>-->
                    <!--</span>-->

                    <!--<span >-->
                      <!--<i class="material-icons pink-text text-accent-3">perm_identity</i>&nbsp; <span v-if="user.occupation">{{user.occupation}}</span><span v-else>Професия</span>-->
                  	<!--</span>-->
              	<!--</p>-->
              	<!--<br><br>-->
              	<!--<p>-->
                    <!--<i class="material-icons pink-text text-accent-3">perm_phone_msg</i> &nbsp;<span v-if="user.phone">{{user.phone}}</span><span v-else>Телефон</span>-->
                <!--</p>-->
                <!--<p v-if="user.email">-->
                    <!--<i class="material-icons pink-text text-accent-3">email</i>&nbsp; {{user.email}}-->
                <!--</p>-->
                <!--<p>-->
                    <!--<i class="material-icons pink-text text-accent-3">cake</i>&nbsp; <span v-if="user.birthday">{{user.birthday}}</span><span v-else>Рожден ден</span>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<i class="material-icons pink-text text-accent-3">location_city</i> &nbsp;<span v-if="user.city">{{user.city}}</span><span v-else>Град</span>-->
                <!--</p>-->
			<!--</div>-->
		</div>
		<!-- Форма за редакция на допълинтелната информация -->
		<profile-form 
			:user="user"
			:csrfToken="csrfToken"
			:errors="errors"
			:formShow="formShow"
			:dataShow="dataShow"
			:edit-meta-url="editMetaUrl"
		></profile-form>
		<!-- Форма за редакция на паролата -->
		<password-form
			:user="user"
			:csrfToken="csrfToken"
			:errors="errors"
			:formShow="formShow"
			:passwordShow="passwordShow"
			:edit-pass-url="editPassUrl"
		></password-form>
		<!-- Малки карти -->
		<div class="row">
			<div class=" col s12 m4">
				<div class="card pink accent-3">
					<div class="card-content white-text center-align">
		              <p class="card-title">
		                <i class="fas fa-key"></i> {{owned.length}}</p>
		              <p>{{$t("profile.ownedSites")}}</p>
		            </div>
				</div>
				<ul v-if="owned.length" class="sites-details collection z-depth-1">
					<li v-for="site in owned" class="collection-item avatar">
						<a :href="'/site/' + site.id">
							<img v-if="!site.photo" class="circle deep-orange accent-2" src="/assets/images/default_site.jpg" alt=""/>
							<img v-else class="circle deep-orange accent-2" :src="site.photo" alt="">
	                    	<span class="title black-text">{{site.name}}</span>
	                    	<p class="black-text">{{site.desc}}
	                    	</p>
	                    </a>
                    </li>
				</ul>
			</div>
			<div class=" col s12 m4">
				<div class="card pink accent-3">
					<div class="card-content white-text center-align">
		              <p class="card-title">
		                <i class="fas fa-user"></i> {{other.length}}</p>
		              <p>{{$t("profile.mySites")}}</p>
		            </div>
				</div>
				<ul v-if="other.length" class="sites-details collection z-depth-1">
					<li v-for="site in other" class="collection-item avatar">
						<a :href="'/site/' + site.id">
	                    	<img src="#" alt="" class="circle deep-orange accent-2">
	                    	<span class="title black-text">{{site.name}}</span>
	                    	<p class="black-text">{{site.desc}}
	                    	</p>
	                    </a>
                    </li>
				</ul>
			</div>
			<div class=" col s12 m4">
				<div class="card pink accent-3">
					<div class="card-content white-text center-align">
		              <p class="card-title">
		                <a v-if="myProfile == 'true'" class="btn-floating waves-effect waves-light white modal-trigger " data-target="skillsModal" id="editSkills"><i style="margin-top: 3px" class="material-icons pink-text text-darken-2">edit</i></a>
		            	&nbsp; {{$t("profile.skills")}}
            		  </p>
		            </div>
				</div>
				<ul v-if="skills.length" class="sites-details collection z-depth-1">
					<li v-for="skill in skills" class="collection-item">
                    	<h6 class="title black-text">{{skill}}</h6>
                    	</p>
                    </li>
				</ul>
			</div>
		</div>
		<!-- Модал за редактиране на умения -->
		<edit-skills
			:user="user"
			:csrfToken="csrfToken"
			:errors="errors"
			:edit-skills-url="editSkillsUrl"
			:skills="skills"
		></edit-skills>
		<!-- Модал за качване на аватар и корица -->
		<file-upload
			:user="user"
			:csrfToken="csrfToken"
			:errors="errors"
			:profile-file-url="profileFileUrl"
		></file-upload>
	</div>
</template>
<script>
    export default {
    	props: [
    		"user", 
    		"csrfToken", 
    		"errors", 
    		"editPassUrl", 
    		"editMetaUrl", 
    		"profileFileUrl",
    		"owned",
    		"other",
    		"editSkillsUrl",
    		"myProfile",
		],
    	data() {
    		return {
    			formShow: false,
    			dataShow: true,
    			passwordShow: false,
    			skills: [],
    		}
    	},
    	methods: {
    		//Показване на форми
    		showForm() {
    			this.formShow = true;
    			this.dataShow = false
    		},
    		showPassword() {
				this.passwordShow = true;
    			this.dataShow = false
    		},
    	}, 
    	created() {
    		if (this.user.skills != null){
    			this.skills = JSON.parse(this.user.skills)
    		}
    	},
        computed:{
    	    avatar(){
    	        return this.user.avatar?this.user.avatar:"/assets/images/default_avatar.png";
            }
        }
    }
</script>