<!-- Форма за редактиране на допълнителна информация -->
<template lang="html">
	<div>
		<div v-show="formShow" class="card">
			<form method="POST" :action="editMetaUrl">
                <br>

                <input type="hidden" name="_method" value="POST"/>
                <input name="authenticity_token" :value="csrfToken" type="hidden">

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='email' name='email'  :value="user.email" id="emailSignUp"/>
                        <label for='emailSignUp'>Имейл</label>
                    </div>
                </div>

               	<div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='name'  :value="user.name" id="name"/>
                        <label for='name'>Име</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='occupation'  :value="user.occupation" id="occupation"/>
                        <label for='occupation'>Професия</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='phone'  :value="user.phone" id="phone"/>
                        <label for='phone'>Телефон</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate datepicker' type='text' name='birthday'  :value="user.birthday" id="birthday"/>
                        <label for='birthday'>Рожден ден</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='city'  :value="user.city" id="city"/>
                        <label for='city'>Град</label>
                    </div>
                </div>

                <br/>
                <div class='row'>
                    <button type='submit' class='col s12 btn btn-large waves-effect pink accent-3'>Редактирай
                    </button>
                </div>
            </form>

		</div>
	</div>
</template>
<script>
	export default {
		props: ["user", "csrfToken", "errors", "formShow", "editMetaUrl", "dataShow"],
	}
</script>