<!----------------------------------------------------
Модал за добавяне/редактиране на връзка към база данни

Попълват се:
    данни за връзка към сървъра (host, port, username ... )
    вид на връзката (mysql | postgres)
    избор на таблици, които ще се облужват
    избор на име на връзката (за лесно последващо намиране)

------------------------------------------------------>

<style lang="css">
    .input-field input {
        color: #2f2f2f;
    }

    .errors, .msg {
        padding: 6px 6px 6px 6px;
    }

    .spinner {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1000;
        margin-left: -24px;
    }

    .loading {
        pointer-events: none;
    }
</style>

<template lang="html">
    <div :id="modalId" class="modal modal-fixed-footer">
        <div class="modal-content" :class="{loading:loading}">

            <div class="spinner">
                <spinner size="big" v-show="loading"></spinner>
            </div>

            <h4>
                <span v-if="edit">{{$t("site.dbs.modals.updateDB.header")}}</span>
                <span v-else>{{$t("site.dbs.modals.createDB.header")}}</span>
            </h4>

            <div v-show="error" class="pink accent-3 errors white-text">
                {{error}}
            </div>

            <div v-show="success" class="msg blue msg white-text">
                {{success}}
            </div>

            <br>

            <!--Стъпка 1 - форма за данни  -->
            <span v-show="step==1">
             <div class="input-field">
               <select v-model="type" class="icons dbModalSelect">
                 <option value="mysql" data-icon="/assets/images/DBTable/mysql-logo.png">MySQL</option>
                 <option value="postgres" data-icon="/assets/images/DBTable/postgres-logo.png">PostgreSQL</option>
               </select>
               <label>{{$t("site.dbs.modals.createDB.type")}}</label>
             </div>
             <div class="input-field">
                  <input v-model="port" :id="'port'+modalId" type="text">
                  <label :for="'port'+modalId">{{$t("site.dbs.modals.createDB.port")}}</label>
             </div>
             <div class="input-field">
                  <input v-model="host" :id="'host'+modalId" type="text">
                  <label :for="'host'+modalId">{{$t("site.dbs.modals.createDB.host")}} ( mysite.com )</label>
             </div>
             <div class="input-field">
                  <input v-if="edit" placeholder="" v-model="user" :id="'user'+modalId" type="text">
                  <input v-else v-model="user" :id="'user'+modalId" type="text">
                  <label :for="'user'+modalId">{{$t("site.dbs.modals.createDB.user")}}</label>
             </div>
             <div class="input-field">
                  <input v-model="password" :id="'pass'+modalId" type="password">
                  <label :for="'pass'+modalId">{{$t("site.dbs.modals.createDB.pass")}}</label>
             </div>

             <div class="input-field">
                  <input v-if="edit" placeholder="" v-model="db" :id="'db'+modalId" type="text">
                  <input v-else v-model="db" :id="'db'+modalId" type="text">
                  <label :for="'db'+modalId">DB</label>
             </div>
            </span>

            <!-- Стъпка 2 име на връзката -->
            <div v-show="step==2" class="input-field">
                <input placeholder="Име на връзка с база данни" v-model="name" :id="'name'+modalId" type="text"/>
                <label :for="'name'+modalId">{{$t("site.dbs.modals.createDB.connection_name")}}</label>
            </div>

            <!-- Стъпка 3 избор на таблици -->
            <div v-show="step==3" class="">

                <div v-if="!tables || !tables.length" class="pink accent-3 errors white-text">
                    {{$t("site.dbs.modals.createDB.noTables")}}
                    <a @click="step=1" class="blue-text text-lighten-4" href="#!">
                       {{$t("back")}}
                    </a>
                </div>

                <ul v-else class="collection with-header">
                    <li class="collection-header">
                        <div>
                            <h5>{{$t("site.dbs.modals.createDB.chooseTables")}}</h5>
                            <div class="secondary-content">
                                <label>
                                    <input v-model="checkAll" type="checkbox"/>
                                    <span></span>
                                </label>
                            </div>
                            <h6> {{$t("for")}} {{name}}</h6>
                        </div>

                    </li>

                    <li v-for="table in tables" class="collection-item">
                        <div>
                            {{table}}
                            <div class="secondary-content">
                                <label>
                                    <input @change="toggle(table)" :checked="selectedTables.includes(table)"
                                           type="checkbox"/>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
        <!--Бутони за навигация в модала-->
        <div class="modal-footer " :class="{loading:loading}">
            <a v-if="step==1" @click="checkConn" href="#1!" class="waves-effect waves-teal btn-flat">{{$t("next")}}</a>

            <a v-if="step==2" @click="step=1" href="#2!" class="waves-effect waves-teal btn-flat">{{$t("back_short")}}</a>
            <a v-if="step==2" @click="getTables" href="#3!" class="waves-effect waves-teal btn-flat">{{$t("next")}}</a>

            <a v-if="step==3" @click="step=2" href="#4!" class="waves-effect waves-teal btn-flat">{{$t("back_short")}}</a>
            <a v-if="step==3" @click="submit" href="#5!" class="waves-effect waves-teal btn-flat">{{$t("ok")}}</a>


        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: ['edit', 'editData'],
        data() {

            return {

                type: "mysql", //вида на връзката
                host:"", //domain-a/ip-то на отдалечения сървъв
                user: "", //потребител за БД
                password: "", //паврола
                port: 3306, //порт
                db: "", //име на базата данни

                id: "", //ако се редактира

                name: "connection_name", //името на връзката (за лесно намиране)
                tables: [], //всички таблици във базата (масива се попълва чрез заяква към сървъра)
                selectedTables: [], //избраните таблици за обслужване

                error: "", //ако има грешки (валидационни или невъзможно свързване със сървъра)
                success: "", //съобщение за успех
                step: 1, //стъпката от модала
                loading: false, //дали се зарежда
                modalId: this.edit ? 'dbModalEdit' : 'dbModal', //какво да е id-то на модала
            }
        },
        created() {
            setTimeout(() => {
                var elems = document.querySelectorAll('.dbModalSelect');
                var instances = M.FormSelect.init(elems, {});
            }, 100)
        },
        methods: {
            //Проверява,дали е възможна връзка към отдалечениея съвър (в краяа на стъпка 1)
            checkConn() {

                var d = {
                    type: this.type,
                    user: this.user,
                    password: this.password,
                    port: this.port,
                    host: this.host,
                    db: this.db,
                    connection_name: this.name,
                    site: this.site,
                };

                if (this.edit) {
                    d.id = this.id;
                }

                d = qs.stringify(d);

                this.loading = true;
                axios.post(this.checkConnUrl, d).then(() => {
                    this.step = 2;
                    this.error = false;
                    this.success = this.$t("site.dbs.modals.createDB.messages[0]", {db:this.db, host:this.host});
                    this.name = this.edit ? this.editData.connection_name : this.host + " - " + this.db;
                    this.loading = false;
                }).catch(e => {
                    this.loading = false;
                    if (e.response.status == 422) {
                        this.error = this.$t("site.dbs.modals.createDB.messages[1]", {err:e.response.data});
                    } else {
                        let errs = e.response.data.errors
                        this.error = errs[Object.keys(errs)[0]][0];
                    }
                })
            },
            //Зарежда всички таблици (в края на стъпка 2)
            getTables() {
                var d = {
                    type: this.type,
                    user: this.user,
                    password: this.password,
                    port: this.port,
                    host: this.host,
                    db: this.db,
                    site: this.site,
                    connection_name: this.name
                };

                if (this.edit) {
                    d.id = this.id;
                }

                d = qs.stringify(d);

                this.loading = true;
                axios.post(this.getDbTablesUrl, d).then((r) => {
                    this.step = 3;
                    this.success = this.$t("site.dbs.modals.createDB.messages[2]");
                    this.error = false;
                    this.tables = r.data
                    this.loading = false;
                }).catch(e => {
                    this.loading = false;
                    if (e.response.status == 422) {
                        this.error = this.$t("site.dbs.modals.createDB.messages[1]", {err:e.response.data});
                    } else {
                        console.log(e.response.data)
                        let errs = e.response.data.errors
                        this.error = errs[Object.keys(errs)[0]][0];
                    }
                })
            },
            //Запазва връзката във нашата база
            submit() {
                this.loading = true;
                if (!this.selectedTables.length) {
                    this.error = this.$t("site.dbs.modals.createDB.messages[3]");
                    this.loading = false;
                    return
                }

                var d = {
                    type: this.type,
                    user: this.user,
                    password: this.password,
                    port: this.port,
                    host: this.host,
                    db: this.db,
                    site: this.site,
                    tables: this.selectedTables,
                    connection_name: this.name
                };
                if (this.edit) {
                    d.id = this.id;
                }

                axios.put(this.url, qs.stringify(d)).then((r) => {
                    d.id = r.data;
                    this.$emit("conn-saved", d);

                    //reset-ва всички данни
                    Object.assign(this.$data, this.$options.data.call(this));
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                    if (e.response.status == 422) {
                        this.error = this.$t("site.dbs.modals.createDB.messages[1]", {err:e.response.data});
                    } else {
                        let errs = e.response.data.errors
                        this.error = errs[Object.keys(errs)[0]][0];
                    }
                })
            },
            //check/uncheck-ва някоя таблица (при избора на таблици)
            toggle(t) {
                var selectedTables = this.selectedTables.slice();

                if (selectedTables.includes(t)) {
                    selectedTables.splice(selectedTables.indexOf(t), 1);
                } else {
                    selectedTables.push(t)
                }

                this.selectedTables = selectedTables
            }
        },
        watch: {
            editData(d) {
                //reset-ва всички данни
                Object.assign(this.$data, this.$options.data.call(this));
                this.host = d.host;
                this.type = d.type;
                this.port = d.port;
                this.db = d.db;
                this.user = d.user;
                this.id = d.id;
                // this.selectedTables
                d.tables.forEach(t => {
                    this.selectedTables.push(t.name)
                });

                setTimeout(() => {
                     M.FormSelect.init(document.querySelectorAll('select'), {});
                }, 100)
            },
            type() {
                switch (this.type) {
                    case "mysql":
                        this.port = 3306;
                        break;
                    case "postgres":
                        this.port = 5432;
                        break;
                }
            },
            defHost(h){this.host=h},
        },
        computed: {
            //за "избери всички" (при таблиците)
            checkAll: {
                get() {
                    return this.selectedTables.length == this.tables.length
                },
                set(v) {
                    var tbls = this.tables.slice()
                    if (v) {
                        this.selectedTables = tbls;
                    }
                    else {
                        this.selectedTables = [];
                    }
                },
            },
            ...mapState({
                checkConnUrl: state => state.urls["checkConnUrl"],
                getDbTablesUrl: state => state.urls["getDbTablesUrl"],
                url(state){
                    if (this.edit) {
                        return state.urls["updateConnUrl"]
                    }
                    return state.urls["createConnUrl"]
                },
                defHost: state => {
                    var host = state.site.link.split("http://").pop();
                    host = host.split("https://").pop();
                    return host
                },
            }),
        }
    }
</script>
