<!-- Страница за присъединяване към сайт чрез линк -->
<style media="screen" scoped>
    .site_link {
        font-size: 20px;
        font-style: italic;
    }

    .site_desc {
        font-size: 16px;
    }

</style>

<template lang="html">
    <div class="card  white">
        <div class="card-content">
            <h5>{{$t("invites.header", {site:siteName})}}</h5>
            <a :href="siteLink"><span class="site_link">{{siteLink}}</span></a><br>
            <span class="site_desc">{{siteDesc}}</span><br><br>
        </div>
        <div class="card-action right-align">
            <a @click="joinSite" href="#" class="">Присъединявам се</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['siteName', 'siteDesc', 'siteLink', 'joinSiteUrl'],
        methods: {
            // Присъедияване към сайт
            joinSite() {
                var d = qs.stringify({
                    invite_id: "false",
                });
                axios.put(this.joinSiteUrl, d)
                    .then((r) => {
                        window.location.href = r.data;
                    }).catch((e) => {
                    this.msg = {status: "error", msg: e.response.data}
                })
            }
        }
    }
</script>