<!-- Страница с всички сайтове на един потребител -->
<template>
    <div>
        <div class="row">
          <div class=" input-field col s12">
              <i class="material-icons prefix">layers</i>
               <select v-model="show" id="sitesFilter">
                 <option value="all"> {{$t('site.allSites.all')}}</option>
                 <option value="owner">{{$t('site.allSites.owner')}}</option>
                 <option value="admin">{{$t('site.allSites.admin')}}</option>
                 <option value="rw">{{$t('site.allSites.rw')}}</option>
                 <option value="r">{{$t('site.allSites.r')}}</option>
               </select>
               <label>{{$t('site.allSites.show')}}</label>
          </div>
        </div>
        <div v-show="show=='all'" class="row">
            <site-panel :sites="all" :title="$t('site.allSites.all')"></site-panel>
        </div>
        <div v-show="show=='owner'" class="row">
            <site-panel :sites="owned" :title="$t('site.allSites.owner')"></site-panel>
        </div>
        <div v-show="show=='admin'" class="row">
            <site-panel :sites="admin" :title="$t('site.allSites.admin')"></site-panel>
        </div>
        <div v-show="show=='rw'" class="row">
            <site-panel :sites="rw" :title="$t('site.allSites.rw')"></site-panel>
        </div>
        <div v-show="show=='r'" class="row">
            <site-panel :sites="read" :title="$t('site.allSites.r')"></site-panel>
        </div>
    </div>

</template>


<script>
    export default {
        props: [
            'owned',
            'admin',
            'rw',
            'read'
        ],
        created(){
          setTimeout(()=>{
               M.FormSelect.init(document.querySelectorAll('#sitesFilter'), {});
          },100)
        },
        data() {
            return {
              show:"all"
            }
        },
        computed:{
          all(){
            return _.concat(this.owned, this.admin, this.rw, this.read)
          }
        }
    }
</script>
