<!--Настройките на сайт -->
<template>
    <div>
        <h4>{{$t("site.settings.header")}}</h4>

        <div class="row">
            <div class="col s12 m6 l8">
                <!--Име-->
                <site-form-field
                        :name="$t('site.settings.name')"
                        :data="site.name"
                        :errors="errors.name"
                        @edited="editName"
                ></site-form-field>

                <!--Link-->
                <site-form-field
                        :name="$t('site.settings.link')"
                        :data="site.link"
                        :errors="errors.link"
                        @edited="editLink"
                ></site-form-field>

                <!--Описание-->
                <site-form-field
                        :name="$t('site.settings.desc')"
                        :data="site.desc"
                        :errors="errors.desc"
                        type="textarea"
                        @edited="editDesk"
                ></site-form-field>
            </div>

            <div class="col s12 m6 l4">
                <div class="logo-holder">
                    <img v-if="!site.photo" class="logo" src="/assets/images/default_site.jpg" alt=""/>
                    <img v-else class="logo" :src="site.photo" alt="">

                    <!--Бутон за редакция на логото-->
                    <div v-show="!edited" class="iconDiv ">
                        <a   data-target="fileModal" @click="edited='true'" href="#!" class="modal-trigger material-icons cyan-text">edit</a>
                    </div>
                </div>
            </div>
        </div>



        <a v-if="access=='owner'"  data-target="siteConfirmDeleteModal" class="modal-trigger waves-effect waves-light btn red"><i class="material-icons left">delete</i>{{$t("site.settings.delete")}}</a>

        <site-photo/>

        <!--Потвърждение на изтриването на сайта-->
        <div v-show="access=='owner'" id="siteConfirmDeleteModal" class="modal">
            <div class="modal-content">
                <h4>{{$t("site.settings.deleteHeader")}}</h4>
                <p>{{$t("site.settings.deleteAsk", {site:site.name})}}" ?</p>
                <p>{{$t("site.settings.deleteWarn")}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect btn red">{{$t("no")}}</a>
                <a href="#!" class="modal-close waves-effect btn green" @click="deleteSite(site.id)">{{$t("yes")}}</a>
            </div>
        </div>

    </div>
</template>
<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                errors: false,
            }
        },
        methods: {
            edit(s) { //ajax request за редакция на сайта
                axios.put(this.url, s).then(() => {
                    M.toast({html: this.$t("site.settings.editSuccess")});
                    this.$store.commit("setSite", s);
                }).catch(({response}) => {
                    this.errors = response.data
                })
            },
            editName(n) {
                this.editProp("name", n)
            },
            editLink(l) {
                this.editProp("link", l)
            },
            editDesk(d) {
                this.editProp("desk", d)
            },
            editProp(prop, val) { //променя само един елемент на сайта
                let s = _.clone(this.site);
                if (s[prop] == val) {
                    return
                }
                s[prop] = val;
                this.edit(s);
            },
            deleteSite(id) {
                if (this.access!=='owner'){
                    return
                }
                var url = "/site/delete/" + id + "";

                axios.delete(url)
                    .then((r) => {
                        window.location.href = r.data;
                    }).catch((e) => {
                    this.msg = {status: "error", msg: e.response.data}
                });
            }
        },
        computed: mapState({
            site: "site",
            access:"access",
            url: state => state.urls['siteEditUrl'],
        }),
    }
</script>

<style scoped>
    .logo {
        max-height: 220px;
        max-width: 300px;
    }
    .logo-holder{
        display: inline-block;
        margin-top: -50px;
    }
    .iconDiv{
        /*margin-top: 50%;*/
    }

    @media screen  and (max-width: 600px){
        .logo-holder{
            margin-top: 0px;
        }
    }
</style>