<!--Форма за създаване на нов сайт-->
<template lang="html">
    <div class="row">
        <br>
        <div style="margin-right: auto;float: none" class="col center  s12 m9 l5 card white">
            <div class="row">
                <div v-if="errors" class="pink accent-3 errors">
                    <ul>
                        <li v-for="e in errors.errors" class="white-text">
                            {{e[0]}}
                        </li>
                    </ul>
                </div>
                <br>
                <h5 style=" text-transform: uppercase;">{{title}}</h5>
                <form :action="formUrl" method="POST">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input name="authenticity_token" :value="csrfToken" type="hidden"/>
                    <!--Име-->
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='name' id='name' :value="siteName"/>
                        <label for='name'>{{$t('site.createForm.name')}}</label>
                    </div>
                    <!--Описание -->
                    <div class="input-field col s12">
                        <textarea id="desc" name="desc" class="validate materialize-textarea">{{siteDesc}}</textarea>
                        <label for="desc">{{$t('site.createForm.desc')}}</label>
                    </div>
                    <!--Линк-->

                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='link' id='link' :value="siteLink"/>
                        <label for='link'>{{$t('site.createForm.link')}}</label>
                    </div>

                    <br/>

                    <div class='input-field col s12'>
                        <button style="width:100%;" type='submit' class='btn btn-large waves-effect pink accent-3'>
                            {{$t('site.createForm.create')}}
                        </button>
                    </div>

                    <br><br>

                </form>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            'csrfToken',
            'title',
            'formUrl',
            'siteName',
            'siteDesc',
            'siteLink',
            'errors',
        ],
        data() {
            return {}
        },
        methods: {
            showModal() {
                let elem = document.querySelector('#add_worker_modal')
                let m = M.Modal.getInstance(elem);
                m.open();
            }
        }
    }
</script>
