<!--Главния компонент за сайт-а -->
<!--Зарежда всички подкомпоненти свързани със сайта-->

<template>
    <div>
        <!-- Site bar-a -->
        <site-side-bar
                v-on:navigate="navigate"
                :siteName="site.name"
                :siteLink="site.link"
                :sitePhoto="site.photo"
        ></site-side-bar>

        <!-- Всички връзки към бази данни -->
        <div v-show="page=='dbs'" class="card-panel  white">
            <site-dbs
                    v-on:table-clicked="showTable"
                    :defaultHost="siteLink"
            ></site-dbs>
        </div>

        <!-- За показване на определена таблица  -->
        <div v-show="page=='table'" class="card-panel  white">
            <db-table
                    v-on:navigate-back="page='dbs'"
            ></db-table>
        </div>

        <!-- Потребителите с достъп до сайта -->
        <div v-show="page=='users'" class="card-panel white">
            <site-users/>
        </div>

        <!-- Настройки на сайта -->
        <div v-show="page=='settings'" class="card-panel white">
            <site-settings-form/>
        </div>


        <!-- Статистика за сайта -->
        <div v-show="page=='charts'" class="card-panel  white">
            <charts/>
        </div>

        <!-- Пращане на Email-и  -->
        <div v-show="page=='email'" class="card-panel  white">
            <email-sending/>
        </div>

    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                page: "dbs",
                pageTable: false,
            }
        },
        created() {
            if (getUrlParam("page")) {
                if (_.includes("dbs users settings charts email", getUrlParam("page"))) {
                    this.page = getUrlParam("page")
                }
                if (_.includes(getUrlParam("page"), "table") && getUrlParam("table")) {
                    this.pageTable = getUrlParam("table");

                    //Чака да дойдат записите
                    var waitConn = () => {
                        if (typeof this.connection !== "undefined") {
                                this.$store.dispatch("setConnection", this.connection);
                                this.$store.dispatch("setTable", this.table);
                                this.page="table";
                        }
                        else {
                            setTimeout(waitConn, 400);
                        }
                    };

                    waitConn();
                }
            }
        },
        methods: {
            navigate(p) {
                this.page = p;
                setUrlParam("page", p);
                setUrlParam("table", "");
                if (p === "users") {
                    setTimeout(() => {
                        M.Tabs.getInstance(document.getElementById("usersTabs"))
                            .updateTabIndicator();
                    }, 100);
                }
            },
            showTable(c, t) {
                this.$store.dispatch("setConnection", c);
                this.$store.dispatch("setTable", t);
                this.page = "table";
                setUrlParam("page", "table");
                setUrlParam("table", t.id);
            }
        },
        computed: mapState({
            site: "site",
            connection(state) {
                console.warn("yaba daba dooo");
                if (!this.pageTable) return false;


                for (let c of state.connections) {
                    for (let t of c.tables) {
                        if (t.id === this.pageTable) {
                            return c;
                        }
                    }
                }


            },
            table() {
                if (!this.pageTable) return false;
                if (!this.connection) return false;


                for (let t of  this.connection.tables) {
                    if (t.id === this.pageTable) {
                        return t;
                    }
                }


            }
        })
    }
</script>
