<!--Side bar-a (дясно) във страницата на саит -->
<style media="screen" scoped>
    img.siteLogo {
        max-width: 40px;
        max-height: 48px;
        border-radius: 5px;
    }

    #hideBtn {
        margin-bottom: 0;
        margin: 1.5px 1.5px 1.5px 1.5px;
    }

    .close {
        position: fixed;
        top: 50%;
        cursor: pointer;
        border-radius: 0 100% 100% 0;
        padding-top: 5px;
    }

    .close:hover {
        background-color: #eceff1
    }

    #siteSideNavNarrow {
        width: 80px;
    }

    #siteSideNav {
        z-index: 999 !important;
    }

    #siteSideNavNarrow {
        z-index: 998 !important;
        transform: translateX(0%) !important;
    }

    /* За бутончето при телефон  */

    .close.mobile {
        display: none;
    }

    @media screen and (max-width: 770px) {
        #siteSideNavNarrow {
            display: none;
        }

        .close.mobile {
            left: 93%;
            display: block;
            border-radius: 100% 0 0 100%;
        }

        .close.mobile:hover {
            background-color: #cdcdcd;
        }
    }

</style>


<template>
    <div>
        <!-- Главният side nav -->
        <ul style="z-index:9999" id="siteSideNav" class="sidenav sidenav-fixed right-aligned sidenavSite">
            <br>
            <span @click="hide" class="close">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>

            <li>
                <a href="#!1">
                    <div class="row">
                        <div class="col s3 ">
                            <!-- <img class="siteLogo" src="https://d301sr5gafysq2.cloudfront.net/1f848fcffe3d/img/repo-avatars/go.png" alt=""/> -->
                            <img v-if="!sitePhoto" class="siteLogo" src="/assets/images/default_site.jpg" alt=""/>
                            <img height="100%" v-else class="siteLogo" :src="sitePhoto" alt="">
                        </div>
                   <div class="col s9">{{siteName}}</div>
                    </div>
                </a>
            </li>
            <br>
            <li :class="{active:page=='dbs'}">
                <a  @click="chose('dbs')"><i class="material-icons">storage</i>{{$t("site.sideBar.dbs")}}</a>
            </li>
            <li v-if="hasDBCons" :class="{active:page=='charts'}">
                <a  @click="chose('charts')"><i class="material-icons">donut_large</i>{{$t("site.sideBar.charts")}}</a>
            </li>
            <li v-if="access==='admin' || access==='owner'" :class="{active:page=='users'}">
                <a  @click="chose('users')"><i class="material-icons">supervisor_account</i>{{$t("site.sideBar.users")}}</a>
            </li>
            <li :class="{active:page=='email'}">
                <a  @click="chose('email')"><i class="material-icons">email</i>{{$t("site.sideBar.emails")}}</a>
            </li>
            <li v-if="access==='admin' || access==='owner'" :class="{active:page=='settings'}">
                <a  @click="chose('settings')"><i class="material-icons">settings</i>{{$t("site.sideBar.settings")}}</a>
            </li>
        </ul>

        <!-- "Tесният" side nav -->
        <ul style="z-index:9998" id="siteSideNavNarrow" class="sidenav sidenav-fixed right-aligned sidenavSite">
            <br>
            <span @click="show" class="close">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>

            <br>
            <li :class="{active:page=='dbs'}">
                <a  @click="chose('dbs')"><i class="material-icons">storage</i></a>
            </li>
            <li v-if="hasDBCons" :class="{active:page=='charts'}">
                <a  @click="chose('charts')"><i class="material-icons">donut_large</i></a>
            </li>
            <li v-if="access==='admin' || access==='owner'" :class="{active:page=='users'}">
                <a  @click="chose('users')"><i class="material-icons">supervisor_account</i></a>
            </li>
            <li :class="{active:page=='email'}">
                <a  @click="chose('email')"><i class="material-icons">email</i></a>
            </li>
            <li v-if="access==='admin' || access==='owner'" :class="{active:page=='settings'}">
                <a  @click="chose('settings')"><i class="material-icons">settings</i></a>
            </li>

        </ul>

        <!--Бутон за показване на sidebar-а при мобилен телефон-->
        <span @click="show" class="close mobile">
      <i class="material-icons">keyboard_arrow_left</i>
    </span>

    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: ['siteName', 'siteLink', 'sitePhoto'],
        data() {
            return {page: "dbs"}
        },
        created() {

            setTimeout(() => {
                let sidebarEs = document.querySelectorAll('.sidenavSite');
                M.Sidenav.init(sidebarEs, {edge: "right"});
                M.Sidenav.getInstance($('#siteSideNavNarrow')).close();
                setTimeout(this.hide,30)
            }, 200)

        },
        methods: {
            //избира страница
            chose(page) {
                this.$emit("navigate", page);
                this.page = page;
            },
            //скрива менюто
            hide() {
                M.Sidenav.getInstance($('#siteSideNav')).close();
                M.Sidenav.getInstance($('#siteSideNavNarrow')).open();
            },
            //показва менюто
            show() {
                M.Sidenav.getInstance($('#siteSideNav')).open();
                M.Sidenav.getInstance($('#siteSideNavNarrow')).close();
            }
        },
        computed: mapState({
            access: "access",
            hasDBCons: state => state.connections.length > 0
        })
    }
</script>
