<!--Показва всички връзки към БД за определен сайт-->

<style lang="css">
    .fa-table {
        margin-right: 10px;
        color: #575757;
    }

    .addBtn {
        position: relative;
        float: right;
    }

    .modal {
        z-index: 999999;
    }

    .right-click-menu {
        position: fixed;
        z-index: 1000;
    }

    .right-click-menu > ul {
        display: block;
        opacity: 1;
        width: 150px;
    }

    .right-click-menu > ul > li > a > i {
        float: right;
        margin: 0 0 0 0;
    }

    /*
    ::placeholder {
      color:    #090909;
    } */
</style>


<template lang="html">
    <!-- Бази данни -->
    <div>
        <h3>{{$t("site.dbs.header")}}</h3>
        <div v-if="success" class="msg light-green darken-1 white-text">
            {{success}}
        </div>

        <!--Иконка за зареждане-->
        <div v-if="loading">
            <div class="center-align">
                <spinner></spinner>
            </div>
        </div>

        <!--Съобщение, ако няма добавени БД-->
        <div v-if="!connections.length && !loading" class="msg orange darken-1 white-text">
            {{$t("site.dbs.noDBs")}}
        </div>

        <!--Всички връзки към бази данни-->
        <ul v-else class="collapsible">
            <li v-for="connection in connections">
                <div data-type-rClick="connection" @contextmenu="rClick($event)" class="collapsible-header waves-effect"
                     :id="connection.id">
                    <i class="fas fa-database"></i>
                    {{connection.connection_name}}
                    <span class="badge">{{connection.tables.length}}</span>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <a v-for="table in connection.tables" data-type-rClick="table" :id="table.id"
                           class="collection-item"
                           @contextmenu="rClick($event)"
                           @click='$emit("table-clicked",connection,table)'>
                            <i class="fas fa-table"></i>
                            {{table.verbose ? table.verbose : table.name}}

                            <i v-if="!table.columns" data-tooltip="Няма избрани колони!" data-position="left"
                               class="material-icons right tiny orange-text table-warning-tooltipped">
                                warning
                            </i>
                        </a>
                    </ul>
                </div>
            </li>
        </ul>
        <br>
        <a data-target="dbModal"
           class="btn-floating addBtn waves-effect waves-light  cyan darken-1 modal-trigger"><i class="material-icons">add</i></a>
        <!-- Модал за създаване -->
        <site-db-modal
                v-on:conn-saved="saved"
                :defaultHost="defaultHost"
                :edit="false"
        ></site-db-modal>

        <!-- Модал за редакция (Настройки) -->
        <site-db-modal
                v-on:conn-saved="updated"
                :defaultHost="defaultHost"
                :edit="true"
                :edit-data="editConnecion"
        ></site-db-modal>


        <!-- Right click menu connection!-->
        <div v-show="rMenuShow == 'connection'" class="right-click-menu"
             :style="{top:rMenu.top + 'px',left:rMenu.left + 'px'}">
            <ul class='dropdown-content'>
                <li @click="connectionSettings"><a href="#!">{{$t("site.dbs.settings")}}<i class="fas fa-sliders-h "></i></a></li>
                <li @click="deleteConnAsk()"><a href="#!">{{$t("site.dbs.delete")}}<i class="fas fa-trash"></i></a></li>
            </ul>
        </div>

        <!-- Right click menu table!-->
        <div v-show="rMenuShow == 'table'" class="right-click-menu"
             :style="{top:rMenu.top + 'px',left:rMenu.left + 'px'}">
            <ul style="width:170px" class='dropdown-content'>
                <li @click="renameTableModal"><a href="#!">{{$t("site.dbs.rename")}}<i class="fas fa-pen-alt  "></i></a></li>
                <!-- <li @click="tableSettings"><a href="#!">Настройки<i class="fas fa-sliders-h "></i></a></li> -->
            </ul>
        </div>


        <!-- Модал за потвърждаване на изтриването -->
        <div id="dbConnConfirmDeleteModal" class="modal">
            <div class="modal-content">
                <h4>{{$t("site.dbs.modals.deleteDB.header")}}</h4>
                <p>{{$t("site.dbs.modals.deleteDB.subHeader")}} "{{rMenuItem.connection_name}}" ?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn red">{{$t("no")}}</a>
                <a  class="modal-close waves-effect btn green" @click="deleteConn(rMenuItem.id)">{{$t("yes")}}</a>
            </div>
        </div>

        <!-- Mодал за преименуване на таблица -->
        <div id="tableRenameModal" class="modal">
            <div class="modal-content">
                <h4>{{$t("site.dbs.modals.renameTable.header")}}</h4>
                <div v-if="tableRenamingErr" class="pink accent-3 errors white-text">
                    {{tableRenamingErr}}
                </div>
                <input :placeholder="rMenuItem.name" style="color:#000" min="2" max="125" v-model="tableRenaming"
                       id="first_name" type="text" class="validate">
            </div>
            <div class="modal-footer">
                <a  @click="renameTable" class="waves-effect btn green">{{$t("ok")}}</a>
            </div>
        </div>


    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: [
            "defaultHost",
        ],
        data() {
            return {
                success: false,
                editConnecion: false,
                loading: true,

                rMenuShow: false,
                rMenu: {
                    top: 0,
                    left: 0
                }, //кординатите на менюто
                rMenuItem: false,

                tableRenaming: "",
                tableRenamingErr: "",
                tableSettingsTable: {name: "", verbose: ""},
            }
        },
        created() {

            //За зареждане на данни
            document.addEventListener("DOMContentLoaded", () => {
                setTimeout(this.load, 100)
            });

            //за right click менюто
            $(window).click(() => {
                this.rMenuShow = false;
            });
        },
        methods: {
            load() {
                axios.post(this.getConnsUrl).then(d => {
                    this.$store.dispatch('setConnections',d.data).then(()=>{
                      this.loading = false;
                      //инициализира акордеона
                      setTimeout(() => {
                          M.Collapsible.init( document.querySelectorAll('.collapsible'), {});
                      }, 100)
                    })
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },

            rClick(e) {
                e.preventDefault();

                if (this.access != "owner" && this.access != "admin"){
                    return
                }

                var htmlTarget = {};

                if (typeof e.srcElement !== 'undefined') {
                    htmlTarget = e.srcElement;
                } else if (typeof e.originalTarget !== 'undefined') {
                    htmlTarget = e.originalTarget;
                }

                //Ако няма зададено id


                if (!htmlTarget.attributes.id) return;

                //Дали става въпрос за таблица или връзка към база данни
                var t = htmlTarget.attributes["data-type-rclick"].nodeValue;

                this.rMenuShow = t;
                this.rMenu.left = e.clientX - 3;
                this.rMenu.top = e.clientY - 3;
                var id = htmlTarget.id;

                //Ако е връзка към база данни
                if (t == "connection") {
                    this.rMenuItem = _.find(this.connections, o => {
                        return o.id == id;
                    });
                } else if (t == "table") {  //Ако е таблица
                    let allTbls = _.flatMap(this.connections, (n) => {
                        return n.tables
                    });
                    this.rMenuItem = _.find(allTbls, o => {
                        return o.id == id;
                    });
                    this.tableRenaming = this.rMenuItem.verbose ? this.rMenuItem.verbose : this.rMenuItem.name
                }
                M.Modal.init(document.querySelectorAll('#tableSettingsModal'), {});
                M.Modal.getInstance(document.getElementById("tableSettingsModal"))
                    .open();
            },

            deleteConnAsk() {

                M.Modal.init(document.querySelectorAll('#dbConnConfirmDeleteModal'), {dismissible: false});

                M.Modal.getInstance(document.getElementById("dbConnConfirmDeleteModal"))
                    .open();
            },

            connectionSettings() {
                this.editConnecion = this.rMenuItem
                var inst = M.Modal.getInstance(document.getElementById("dbModalEdit"));
                inst.open()
            },

            deleteConn(id) {
                var url = this.delConnUrl.replace("conn_id", id)
                axios.delete(url).then(() => {
                    //изтрива  връзката от масива
                    var cs =this.connections
                    for (let i = 0; i < cs.length; i++) {
                        if (cs[i].id == id) {
                            cs.splice(i, 1);
                            //съобщение за успех
                            break;
                        }
                    }
                    this.$store.dispatch('setConnections', cs).then(()=>{
                        this.success =  $t("site.dbs.modals.deleteDB.successMsg");
                    })

                }).catch(e => {
                    console.log(e)
                })
            },

            renameTableModal() {
                M.Modal.init(document.querySelectorAll('#tableRenameModal'), {});

                M.Modal.getInstance(document.getElementById("tableRenameModal"))
                    .open();
            },

            renameTable() {
                let url = this.renameTableUrl.replace("table_id", this.rMenuItem.id);
                axios.post(url, qs.stringify({verbose: this.tableRenaming})).then(() => {
                    //променя името на таблицата в масива
                    var cs = this.connections
                    for (let i = 0; i < cs.length; i++) {
                        if (cs[i].id == this.rMenuItem.dbid) {
                            for (let k = 0; k < cs[i].tables.length; k++) {
                                if (cs[i].tables[k].id == this.rMenuItem.id) {
                                    cs[i].tables[k].verbose = this.tableRenaming
                                    break;
                                }
                            }
                            break;
                        }
                    }
                    this.$store.dispatch("setConnections", cs).then(()=>{
                      M.Modal.getInstance(document.getElementById("tableRenameModal"))
                          .close();
                      this.tableRenamingErr = false;
                      M.toast({html: $t("site.dbs.modals.renameTable.successMsg")})
                    })

                }).catch(e => {
                    this.tableRenamingErr = e.response.data.verbose[0]
                })
            },

            tableSettings() {
                //
            },

            saved(d) {
                //Затваря модала
                var inst = M.Modal.getInstance(document.getElementById("dbModal"));
                inst.close();

                //добавя връзката
                var tables = [];
                d.tables.forEach((e) => {
                    tables.push({name: e});
                });
                d.tables = tables;

                this.$store.dispatch("addConnection", d).then(()=>{
                  //съобщение за успех
                  this.success = $t("site.dbs.modals.createDB.successMsg");
                })

            },

            updated(d) {
                //Затваря модала
                var inst = M.Modal.getInstance(document.getElementById("dbModalEdit"));
                inst.close();

                //променя връзката
                var tables = [];
                d.tables.forEach((e) => {
                    tables.push({name: e});
                });
                d.tables = tables;
                this.$store.dispatch("updateConnection", d).then(()=>{
                  //съобщение за успех
                  this.success = this.$t("site.dbs.modals.updateDB.successMsg");
                })



            }
        },
        watch: {
            connections() {
                setTimeout(() => {
                    M.Tooltip.init(document.querySelectorAll('.table-warning-tooltipped'), {enterDelay: 100});
                }, 100);

                if (this.connections.length==1){
                    //инициализира акордеона
                    setTimeout(() => {
                        M.Collapsible.init( document.querySelectorAll('.collapsible'), {});
                    }, 100)
                }
                //Aко е добавена връзка
                //оправя бъга с незададените id-та на  таблиците в новата връзка
                if (!this.connections){
                    this.load()
                }
            },
        },
        computed: mapState({
            connections:"connections",
            access:"access",
            getConnsUrl: state => state.urls["getConnsUrl"],
            renameTableUrl: state => state.urls["renameTableUrl"],
            delConnUrl: state => state.urls["delConnUrl"],
        })
    }
</script>
