<template lang="html">
	<div class="row">
        <div class="white card-panel">
        	<h5>{{title}}</h5>
					<div  v-if="!sites.length"  class="msg light-blue lighten-5 light-blue-text">
						<h6 class="center-align">
								<i class="material-icons">info_outline</i>
								&nbsp;
                            {{$t('site.allSites.noSites')}}
						</h6>
					</div>
            <table v-else class="responsive-table highlight " >
                <thead>
                <tr>
                    <th>{{$t('site.allSites.name')}}</th>
                    <th>{{$t('site.allSites.desc')}}</th>
                    <th>{{$t('site.allSites.link')}}</th>
                    <th>{{$t('site.allSites.owner')}}</th>
                    <th>{{$t('site.allSites.created')}}</th>
                    <th>{{$t('site.allSites.updated')}}</th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="site in sites" @click="show(site.id)">
                    <td><a style="color: black;">{{site.name}}</a></td>
                    <td><a style="color: black;">{{site.desc}}</a></td>
                    <td><a target="_blank" style="text-decoration: underline; color: black" :href="site.link">{{ site.link }}</a></td>
                    <td>{{ site.owner.name ? site.owner.name: site.owner.email }}</td>
                    <td>{{site.created_at | dateDif}} <br> {{site.created_at | date}}</td>
                    <td>{{site.updated_at | dateDif}} <br> {{site.updated_at | date}} </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
	export default {
		props: ['sites', 'title'],
		methods:{
          show(id){
            window.location = "/site/"+id
          }
        },
        filters: {
          dateDif: function (value) {
            var d = new moment(value);
            d.subtract(2, 'hours');
            return d.fromNow()
          },
          date:function (value) {
            var d = new moment(value);
            d.subtract(2, 'hours');
            return d.format("Do MMMM YYYY")
          }
        },
	}
</script>
