<!-- Заглавната страница на BANANAMIN -->



<!--header-a -->
<header>
    <!--logo и навигация--->
    <div class="welcome-header  row">
        <div class="logo col s6">

            <div class="logo-holder white">
                <img src='<%= assetPath("images/logo.svg") %>' alt="bananamin logo">
            </div>
            <h5 class="white-text hide-on-small-and-down">Bananamin</h5>
        </div>
        <div class="nav-buttons col s6 ">
            <a href="<%=authLoginPath() %>?signup=true" class="btn-rounded right btn white pink-text text-accent-3">
                <%= t("welcome.tryLine0") %> <span class="hide-on-small-and-down"><%= t("welcome.tryLine1") %></span>
            </a>
            <a href="<%=authLoginPath() %>" class="right btn-flat white-text"><%= t("login") %></a>
            <a href="#features" class="right btn-flat white-text"><%= t("welcome.advantages") %></a>

        </div>
    </div>
    <!--това под header-a --->
    <div class="row landing valign-wrapper no-valign-wrapper-on-mobile">
        <div class="col s12 l4 m12 landing-desk row white-text">
            <div class="col s12">
                <h4>Bananamin <br><%= t("welcome.headerLine0") %></h4>
            </div>
            <div class="col s12">
                <h5>
                   <%=( t("welcome.headerLine1")) %> <br>  <%=( t("welcome.headerLine11")) %>
                </h5>

            </div>
            <div class="col s12">
                <br>
                <br>
                <a href="<%=authLoginPath() %>?signup=true" class="btn-large btn-rounded  btn pink accent-3 white-text"> <%= t("welcome.tryLine0") %>  <%= t("welcome.tryLine1") %> </a>
            </div>
        </div>

        <div class="col s12 l8 m12 hide-on-med-and-down">
            <div class="right z-depth-3 hero-img-holder"
                 style='background-image: url("<%= assetPath("images/welcome/"+t("current_locale")+"/1.png") %>")'>
                <div class="bg"></div>
            </div>

        </div>
    </div>
</header>

<br><br><br>

<!--Как работи ? --->
<div class="row how-it-works ">

    <div class="col s12">
        <h6 class="center grey-text text-darken-2">
             <%= t("welcome.how_works") %><br><br>
            <i class="material-icons">build</i>
            <br><br>
        </h6>
    </div>


    <!--Стъпка 1 (създай сайт)-->
    <div class="col s12 m12 l6 row how-it-works-desc ">
        <div class="col s11 m9 l6">
            <h3 class="pink-text text-accent-3">
                <i class="medium material-icons">web</i><br>
                 <%= t("welcome.how_works_add_site") %>
            </h3>
            <div>
                 <%= t("welcome.how_works_add_site_desc") %>
            </div>
        </div>
    </div>
    <div class="col s6 how-it-works-img-holder ">
        <img class=" right" src='<%= assetPath("images/welcome/"+t("current_locale")+"/2.png") %>' alt="screenshot моите сайтове">
    </div>

    <!--Стъпка 2 (добави бази данни)-->
    <div class="col col s12 m12 l6 row how-it-works-desc">
        <div class="col s11 m9 l6">
            <h3 class="pink-text text-accent-3">
                <i class="medium material-icons">toc</i><br>
                 <%= t("welcome.how_works_dbs") %>
            </h3>
            <div>
                <%= t("welcome.how_works_dbs_desc") %>
            </div>
        </div>
    </div>
    <div class="col s6 how-it-works-img-holder ">
        <img class="right" src='<%= assetPath("images/welcome/"+t("current_locale")+"/3.png") %>' alt="screenshot моите бази данни">
    </div>


    <!--Стъпка 3 (извлечи статистика и оправлявай)-->
    <div class="col col s12 m12 l6 row how-it-works-desc">
        <div class="col col s11 m9 l6">
            <h3 class="pink-text text-accent-3">
                <i class="medium material-icons">remove_red_eye</i><br>
               <%= t("welcome.how_works_stats") %>
            </h3>
            <div>
               <%= t("welcome.how_works_stats_desc") %>
            </div>
        </div>
    </div>
    <div class="col s6 how-it-works-img-holder">
        <img class=" right" src='<%= assetPath("images/welcome/"+t("current_locale")+"/4.png") %>' alt="screenshot статистики">
    </div>

    <!--Стъпка 4 (Добави партньори)-->
        <div class="col col s12 m12 l6 row how-it-works-desc last">
            <div class="col col s11 m9 l6">
                <h3 class="pink-text text-accent-3">
                    <i class="medium material-icons">people</i><br>
                   <%= t("welcome.how_works_partners") %>
                </h3>
                <div>
                   <%= t("welcome.how_works_partners_desc") %>
                </div>
            </div>
        </div>



    <!--check иконка -->
    <div class="col s12">
        <br>
        <div class="center how-it-works-check">
            <i class="material-icons blue-grey lighten-4 pink-text text-accent-3 ">check</i>
            <br><br>
            <h6 class="grey-text text-darken-2"> <%= t("welcome.how_works_check") %></h6>
            <br>
            <a href="<%=authLoginPath() %>?signup=true" class="btn-large btn-rounded  btn pink accent-3 white-text"><%= t("welcome.tryLine0") %> <%= t("welcome.tryLine1") %></a>
        </div>

    </div>

</div>

<!--Features--->
<div class="row features" id="features">
    <br><br><br><br>
    <h5 class="center"><%=upcase( t("welcome.advantages")) %></h5>
    <br>

    <!--разделяне на права -->
    <div class="col s12 m6 l3 feature center">
        <br>
        <i class="material-icons medium pink-text text-accent-3">person_add</i>
        <h6><%= t("welcome.advantages_grant_access") %></h6>
        <span class="grey-text text-darken-3"><%= t("welcome.advantages_grant_access_desc") %>
        </span>
    </div>

    <!--Преименуване на всичко-->
    <div class="col s12 m6 l3  feature center">
        <br>
        <i class="material-icons medium pink-text text-accent-3">create</i>
        <h6><%= t("welcome.advantages_rename") %></h6>
        <span class="grey-text text-darken-3">
            <%= t("welcome.advantages_rename_desc") %>
        </span>
    </div>
    <!--мутации/релации--->
    <div class="col s12 m6 l3  feature center">
        <br>
        <i class="material-icons medium pink-text text-accent-3">link</i>
        <h6><%= t("welcome.advantages_relation") %></h6>
        <span class="grey-text text-darken-3"><%= t("welcome.advantages_relation_desc") %>
        </span>
    </div>
    <!--диаграми/статистика--->
    <div class="col s12 m6 l3  feature center">
        <br>
        <i class="material-icons medium pink-text text-accent-3">show_chart</i>
        <h6><%= t("welcome.advantages_stats") %></h6>
        <span class="grey-text text-darken-3"><%= t("welcome.advantages_stats_desc") %>
        </span>
    </div>
</div>

<br><br><br><br><br>
 <!---Резултата --->
 <div class="row">
     <h5 class="center"><%=upcase( t("welcome.advantages_result")) %></h5>
     <h6 class="center"><%=upcase( t("welcome.advantages_result_otg")) %></h6>
     <br><br>

     <div class="col s5">
         <img  style="width: 98%" class="z-depth-2 right materialboxed" src='<%= assetPath("images/welcome/"+t("current_locale")+"/5_.png") %>' alt="screenshot не настроена таблица">
     </div>

     <div class="col s2 center">
         <div class="how-it-works-check" style="padding-top: 80%">
             <i class="material-icons blue-grey lighten-4 pink-text text-accent-3 ">arrow_forward</i>
         </div>
     </div>

     <div class="col s5">
         <img style="width: 98%" class="z-depth-2 left materialboxed" src='<%= assetPath("images/welcome/"+t("current_locale")+"/5.png") %>' alt="screenshot настроена таблица">
     </div>
 </div>


<br><br><br><br><br>
<div>
    <h5 class="center"><%=upcase( t("welcome.conclusionLine0")) %><br>
        <%=upcase( t("welcome.conclusionLine1")) %>
        <br><br>
        <a href="<%=authLoginPath() %>?signup=true" class="btn-large btn-rounded  btn pink accent-3 white-text"><%= t("welcome.tryLine0") %>  <%= t("welcome.tryLine1") %></a>
    </h5>
</div>
<br><br><br>
<br>
<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col  s12 m10 l6 offset-l6 offset-m2">
                <form>
                    <h5><%= t("welcome.contact_header") %></h5><br>
                    <div class="input-field">
                        <input id="email" type="text">
                        <label for="email">Еmail</label>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" id="mess" name="mess" id="" cols="30"
                                  rows="10"></textarea>
                        <label for="mess"><%= t("welcome.contact_msg") %></label>
                    </div>
                    <div class="waves-effect waves-light right pink-text text-lighten-2 btn-flat"><%= t("welcome.contact_send") %></div>
                </form>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 kolioPe6oDev
            <div class="right">
               <%= partial("includes/change_locale") %>
            </div>
        </div>
    </div>
</footer>

