<!--Визуализация на диаграма към някоя статистика-->
<template>
    <div class="card-panel white" >
        <!--Бутон за връщане към страницата на сайта-->
        <a :href="backUrl">
            <i class="material-icons right black-text text-lighten-4  headerBtn">arrow_forward</i>
        </a>
        <h3 class="chartHeader">{{chart.name}}</h3>

        <!--Настройки на времевите периоди-->
        <div class="row" v-if="chart.statistics_type == 'countTime'">
            <div class="input-field col s5">
                <input id="firstDate" type="text" class="datepicker chartDatepicker">
                <label for="firstDate">{{$t("chart.from")}}</label>
            </div>
            <div class="input-field col s5">
                <div style="width: 270px;"><h6>{{$t("chart.padding", {n:period})}}</h6></div>
                <div style="margin-top:-20px;width:100%">
                    <p class="range-field">
                        <input type="range" v-model.number="period" min="2" step="1" :max="maxPeriod"/>
                    </p>
                </div>
            </div>
            <div class="input-field col s2">
                <label>
                    <input v-model="total" type="checkbox"/>
                    <span>{{$t("chart.total")}}</span>
                </label>
            </div>
        </div>

        <div id="chartContainer">
            <canvas id="chart"></canvas>
        </div>


        <!--Бутон за принтиране-->
        <a @click="print" class="btn-floating addBtn  waves-effect waves-light  cyan darken-1"><i
                class="material-icons">print</i></a>




    </div>
</template>

<script>
    import Chart from "chart.js"
    import {mapState} from "vuex"

    export default {
        props: ['chart'],
        data() {
            return {
                ws: null,
                labels: [], // етикети (при процентна диаграма)
                data: [], //данните
                backUrl: "",

                firstPeriod: moment().subtract(1, 'years'), //началния период
                period: 15, //времевия период ако типа е countTime
                total: true,//дали да показва колко са създадени през този период или колко общо до този период

                colors: [
                    "rgba(244,67,54, 0.45)", //red
                    "rgba(139,195,74, 0.45)", //light green
                    "rgba(255,152,0, 0.45)", //orange
                    "rgba(30,136,229, 0.45)", //blue
                    "rgba(156,39,176, 0.45)", //purple
                    "rgba(233,30,99, 0.45)", //pink
                    "rgba(205,220,57, 0.45)", //lime
                    "rgba(94,53,177, 0.45)", //deep-purple
                    "rgba(0,150,136, 0.45)", //teal
                    "rgba(57,73,171, 0.45)", //indigo
                    "rgba(255,193,7, 0.45)", //amber
                    "rgba(3,169,244, 0.45)", //light-blue
                    "rgba(0,188,212, 0.45)", //cyan
                    "rgba(76,175,80, 0.45)", //green
                    "rgba(121,85,72, 0.45)", //brown
                    "rgba(255,235,59, 0.45)", //yellow
                    "rgba(255,87,34, 0.45)", //deep-orange
                ],
                borderColors: [
                    "rgb(244,67,54)", //red
                    "rgb(139,195,74)", //light green
                    "rgb(255,152,0)", //orange
                    "rgb(30,136,229)", //blue
                    "rgb(156,39,176)", //purple
                    "rgb(233,30,99)", //pink
                    "rgb(205,220,57)", //lime
                    "rgb(94,53,177)", //deep-purple
                    "rgb(0,150,136)", //teal
                    "rgb(57,73,171)", //indigo
                    "rgb(255,193,7)", //amber
                    "rgb(3,169,244)", //light-blue
                    "rgb(0,188,212)", //cyan
                    "rgb(76,175,80)", //green
                    "rgb(121,85,72)", //brown
                    "rgb(255,235,59)", //yellow
                    "rgb(255,87,34)", //deep-orange
                ],
                
                //Превод на date pick-ара
                i18n: {
                    cancel: 'Отказ',
                    clear: 'Изчисти',
                    done: 'Готово',
                    months: ['Януари', 'Февруари', 'Март', 'Април', 'Май', 'Юни', 'Юли', 'Август', 'Септември', 'Октомври', 'Ноември', 'Декември'],
                    monthsShort: ['Яну', 'Фев', 'Мар', 'Апр', 'Май', 'Юни', 'Юли', 'Авг', 'Сеп', 'Окт', 'Нов', 'Дек'],
                    weekdays: ['Неделя', 'Понеделник', 'Вторник', 'Сряда', 'Четвъртък', 'Петък', 'Събота'],
                    weekdaysShort: ['Нед', 'Пон', 'Вто', 'Сря', 'Чет', 'Пет', 'Съб'],
                    weekdaysAbbrev: ['Н', 'По', 'В', 'С', 'Ч', 'Пе', 'Съ']
                },


            }
        },
        created() {
            setTimeout(() => {
                this.init(); //инициализира webSocket и listener
                this.load(); //праща съобщение, за да получи данни
                this.backUrl = this.siteUrl+"?page=charts";
                //Датепикара за начална дата
                M.Datepicker.init(document.querySelectorAll('.chartDatepicker'), {
                    defaultDate: this.firstPeriod.toDate(),
                    setDefaultDate: true,
                    i18n: window.locale==="bg"?this.i18n:{},
                    maxDate: moment().subtract(1, "week").toDate(),
                    minDate: moment().subtract(10, "years").toDate(),
                    onSelect: (selected) => {
                        this.firstPeriod = moment(selected)
                    },
                });
            }, 500);
        },
        methods: {
            //Праща съобщение за да получи данни
            load: _.debounce(function () {
                this.data = [];
                this.label = [];
                let m = "getChartData";
                if (this.chart.statistics_type === "countTime") {
                    m = `getChartData(Options=start:${this.firstPeriod.unix()};period:${this.period};total:"${this.total}")`
                }
                //изчиства canvas-a
                $("#chart").remove();
                $("#chartContainer").append("<canvas id=\"chart\"></canvas>");
                this.ws.send(m)
            }, 700),

            //Инициализира webSocket, задава и  listener
            init() {
                let protocol = "ws://";
                if (location.protocol === "https:"){
                    protocol = "wss://";
                }
                let domain = window.location.host;
                let url = protocol + domain + this.loadUrl;
                this.ws = new WebSocket(url);
                this.ws.addEventListener("message", ({data}) => {
                    if (data === "--END--") {
                        this.initChart();
                    } else {
                        //Ако е процентна диаграма (идват и data и labels)
                        if (this.chart.statistics_type === "percentage") {
                            let d = JSON.parse(data);
                            this.data.push(d['data']);
                            this.labels.push(d['label']);
                        //Aко е бройка записи спрямо време (идва само data, а  x корфината е дата (година-месец-ден))    
                        } else if (this.chart.statistics_type === "countTime") {
                            this.data.push({
                                x: this.timePeriods[this.data.length],
                                y: data,
                            });
                        }

                    }
                });
            },
            //Инициализира chart.js диаграмата
            initChart() {
                var ctx = document.getElementById("chart").getContext('2d');

                var chart = {
                    type: this.chart.type,
                    data: {
                        labels: this.labels,
                        datasets: [{
                            label: null,//this.chart.name,
                            data: this.data,
                            backgroundColor: this.colors,
                            borderColor: this.borderColor,
                            borderWidth: 2,
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        },
                        legend: {
                            display: true,
                        },
                    }
                };

                //Премахва опцията за изключване на dataset
                if (this.chart.type === "bar" || this.chart.type === "radar" || this.chart.type === "line") {
                    chart.options.legend.display = false
                }

                //Премахва скалата
                if (this.chart.type === "polarArea" || this.chart.type === "radar" || this.chart.type === "pie" || this.chart.type === "doughnut") {
                    chart.options.scales = null
                }

                //Задава цветове при линия или радар
                if (this.chart.type === "line" || this.chart.type === "radar") {
                    chart.data.datasets[0].lineTension = 0;
                    chart.data.datasets[0].pointBackgroundColor = "#880e4f";
                    chart.data.datasets[0].pointBorderColor = "#880e4f";
                    chart.data.datasets[0].pointRadius = 3;
                    chart.data.datasets[0].borderColor = "#ec407a";
                    chart.data.datasets[0].backgroundColor = "rgba(0,188,212, 0.20)";
                    chart.data.datasets[0].borderWidth = 3;
                }

                //задава времева ос
                if (this.chart.statistics_type === "countTime") {
                    chart.options.scales.xAxes = [{
                        type: 'time',
                    }]
                }
                new Chart(ctx, chart);
            },
            //Принтира диаграмата
            print(){
                window.print()
            }
        },
        watch: {
            period() {
                this.load();
            },
            firstPeriod() {
                this.load();
            },
            total() {
                this.load();
            }
        },
        computed: {
            timePeriods() { //времевите периоди на база началния и продължителността на всеки
                var periods = [];
                for (let i = new moment(this.firstPeriod.toDate()); i.isBefore(moment()); i = i.add(this.period, 'days')) {
                    periods.push(i.format("YYYY-MM-DD"));
                }
                return periods
            },
            maxPeriod() { //максималната дължина на 1 период в дни (поне 3 точки на графиката)
                let max = 730;
                let days = moment().diff(this.firstPeriod, 'days'); //брой дни от първия до последния период
                if (days / 2 <= max) {
                    max = Math.floor(days / 2)
                }
                return max;
            },
            ...mapState({
                loadUrl: state => state.urls['loadUrl'],
                siteUrl: state => state.urls['backUrl'],
            }),
        }
    }
</script>

<style scoped>
    .headerBtn {
        margin-top: 0;
    }

    .chartHeader {
        margin-top: -10px;
        margin-bottom: 30px;
    }

</style>

