<!-- Еrror страница за 404 500 -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Bananamin</title>
    <meta name="description" content='<%=t("bananaminDescription")%>'>
    <meta name="keywords" content="admin, db, admin panel, админ панел, dbm, DB, mysql, postgres, charts, statistic">
    <meta name="author" content="kolioPe6oDev">
    <link rel="icon" href="/assets/images/favicon.ico">
    <!--Главните стилове ( materialize.css )-->
    <link rel="stylesheet" href="/assets/application.css">

    <style>
        .img-holder{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }
        .img-container{
            background-color: white;
            border-radius: 90px;
            padding: 40px 40px 40px 40px;
            display: inline-block;
        }
    </style>
</head>
<body class="blue-grey lighten-5">

<div class="container">
    <!--logo-то  на сайта--->
    <div class="img-holder">
        <a href="/">
            <div class="img-container z-depth-1">
                <img class="center" src="/assets/images/logo.svg" alt="">
            </div>

        </a>
    </div>

   <div class="card-panel pink">
       <!--Кода на грешката-->
       <h2 class="center white-text"><%=errorCode%></h2>
       <!--Съобщение описващо грепката-->
       <h5 class="center white-text">
           <%= if (errorCode==404 || errorCode==500) { %>
              <%=t(errorCode)%>
           <% } %>
        </h5>
   </div>
</div>

</body>
</html>

