<!-- HTML за страницата за репорт формата -->
<div class="row">
    <br>
    <div class="z-depth-1 msg col s12 m9 l5 orange center white-text darken-1"
         style="padding:8px 8px 8px 8px;margin-right: auto;float: none">
        <h6><i class="fas fa-exclamation-triangle"></i> <%= t("bugreport.hint") %></h6>
    </div>
</div>

<!--Vue компонента за bug report формата--->
<bug-report
        title='<%= t("bugreport.title") %>'
        form-url="<%= getReportFormPath() %>"
        csrf-token="<%= authenticity_token %>"
        email="<%=current_user.Email%>"
        <%= if (errors) { %>
        :errors='<%= errors %>'
        <% } %>
></bug-report>