<!-- Съдържание на head тага -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="language" content="<%=t("current_locale")%>">
<meta charset="utf-8">
<title>Bananamin</title>
<meta name="description" content="<%=t("bananaminDescription")%>">
<meta name="keywords" content="admin, db, admin panel, админ панел, dbm, DB, mysql, postgres, charts, statistic">
<meta name="author" content="kolioPe6oDev">
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="<%= authenticity_token %>" />
<link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
<meta content="<%= authenticity_token %>" name="csrf-token" />
<!--Главните стилове ( materialize.css )-->
<link rel="stylesheet" href="<%= assetPath("application.css") %>">

<!-- иконки -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!---за инициализиране на materialize компоненти--->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // за инициализиране на sidebar-a
        let  elems = document.querySelectorAll('#mainSideBar');
        var sidebar = M.Sidenav.init(elems, {});

        //За dropdown-a, който е излиза под името на потребителя
        elems = document.querySelectorAll('#profileDropDownTrigger');
        var DropDownInstances = M.Dropdown.init(elems, {hover:true, coverTrigger:false});

        //Инициализира модалите
        elems = document.querySelectorAll('.modal');
        var modalInstances = M.Modal.init(elems,{});

        //Инициализира акордионите
        elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});

    });
</script>

<%= if (scripts) { %>
    <%= contentOf("scripts") %>
<% } %>
<%= if (header) { %>
    <%=header%>
<% } %>

