<!-- Страничното меню -->
<ul  class="sidenav   black white-text" id="mainSideBar">
    <li>
        <!-- Информация за потребителя -->
        <div class="user-view" style="padding: 10px 10px 10px 10px">

            <div class="background" style="  background-image: linear-gradient(to bottom right, #3f51b5, #c51162  );">
            </div>

            <div class="row left-align">
                <div class="col s4 left-align">
                    <!-- Аватар -->
                    <a style="margin-top: 15px" class="circle responsive-img white">

                        <img class="circle"
                        <%= if  (null(current_user.Avatar)) { %>
                             src="/assets/images/default_avatar.png"
                        <% } else { %>
                             src="<%= current_user.Avatar %>"
                        <% } %>
                        >
                    </a>
                </div>
                <div class="col s8" id="profileDropDownTrigger" data-target='profileDropDown'>

                    <!-- Име -->
                    <a  class="btn-flat" >
                        <span class="white-text name"><%=current_user.Name %></span>
                    </a>
                    <!-- Email -->
                    <a><span class="white-text email"><%=current_user.Email %></span></a>


                </div>
            </div>


            <!-- Hover меню, което се показва коато минем над името-->
            <ul id='profileDropDown' class='dropdown-content' >
                <li><a href="<%= getProfilePath({user_id: current_user.ID}) %>"><%=t("profile")%></a></li>
                <!--<li><a href="#!">настройки</a></li>-->
                <li class="divider" tabindex="-1"></li>

                <!--logout бутон-->
                <form id="logout" method="POST" action="<%= logoutPath() %>">
                    <%= csrf() %>
                    <input type="hidden" name="_method" value="DELETE" />
                    <li onclick="$('#logout').submit()"><a><%=t("logOut")%></a></li>
                </form>

            </ul>


        </div>
    </li>

    <!-- Навигация -->
    <li class="pink accent-3">
        <a href="<%= getSiteFormPath() %>" class="white-text"><i class="material-icons white-text">create_new_folder</i><%=t("newSite")%></a>
    </li>
    <li class="pink accent-3">
        <a href="<%= getAllSitesPath() %>" class="white-text"><i class="material-icons white-text">folder_shared</i><%=t("mySites")%></a>
    </li>
    <li class="pink accent-3">
        <a href="<%= getInvitesPath() %>" class="white-text"><i class="material-icons white-text">mail</i><%=t("invitations")%></a>
    </li>
    <li class="pink accent-3">
        <a href="<%= getReportFormPath() %>" class="white-text"><i class="material-icons white-text">bug_report</i><%=t("bugReport")%></a>
    </li>
    <li class="pink accent-3">
        <a href="<%= getManualPath() %>" class="white-text"><i class="material-icons white-text">book</i>
        <%=t("man")%></a>
    </li>

    <li style="bottom: 0px; position: absolute">
         <div style="margin-left: 17rem;">
       <%= partial("includes/change_locale") %>
        </div>
    </li>



</ul>

<!-- Бутон за отваряне на side bar-a -->
<a  style="margin: 7px 7px;position: fixed" href="#" data-target="mainSideBar" class="sidenav-trigger btn-floating btn-large waves-effect waves-light pink accent-3">
    <i class="material-icons">menu</i>
</a>


