<!--Login/SignUp форма-->
<style scoped>

    #sideButton h5 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 20px;
    }

    #sideButton {
        padding-left: 0px;
        margin-top: 7.5px;
        margin-left: -11px;
        border-radius: 0px 10px 10px 0;
        cursor: pointer;
    }

    #sideButton:hover {
        opacity: .87;
    }

    #sideButton.l {
        border-radius: 10px 0 0 10px;
        margin-right: -11px;
        padding-right: 0px;
        padding-left: 5px;
    }

    .errors {
        padding: 6px 6px 6px 6px;
    }

    /* За бъговете с цветовете на input полетата при chrome */
    input {
        color: #cfd8dc !important;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px black inset !important;
        -webkit-text-fill-color: #cfd8dc;
    }


</style>


<template lang="html">
    <div class="row white-text">


        <div style="margin-right: auto;float: none" class="col center  s12 m9 l5">

            <!-- Login -->
            <div v-if="show=='login'" class="row">
                <div class="col s11">
                    <div class="card-panel z-depth-1 black">
                        <a style="margin-right: -33px" href="/" class="pink-text left"><i class="material-icons">arrow_back</i></a>
                        <div class="row"><h3>{{$t('login.login')}}</h3></div>

                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <!-- Социални акаунти -->
                        <div v-show="!loginEmail" class='row'>
                            <div class='col s6 '>
                                <a :href="githubLoginUrl" style="width:100%;" class="btn  waves-effect grey darken-3">
                                    <i class="fab fa-github left material-icons"></i> GitHub</a>
                            </div>
                            <div class='col s6'>
                                <a :href="linkedinLoginUrl" style="width:100%;" class="btn  waves-effect grey darken-3">
                                    <i class="fab fa-linkedin material-icons left"></i>linkedin</a>
                            </div>
                            <br>
                        </div>
                        <!-- бутон за смяна м/у  Email/Социални акаунти -->
                        <div class="row">
                            <div class='col s12'>
                                <a @click="loginEmail=!loginEmail"
                                   class="btn-floating btn-large waves-effect waves-light red pink accent-3">
                                    <i v-show="!loginEmail" class="material-icons">email</i>
                                    <i v-show="loginEmail" class="material-icons">arrow_upward</i>
                                </a>
                            </div>
                        </div>

                        <form v-show="loginEmail" :action="emailLoginUrl" method="post">
                            <input name="authenticity_token" :value="csrfToken" type="hidden">

                            <div v-if="errors" class="pink accent-3 errors">
                                <ul>
                                    <li v-for="e in errors.errors" class="white-text">
                                        {{e[0]}}
                                    </li>
                                </ul>
                            </div>
                            <br><br>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='email' name='email' id='email' :value="userEmail"/>
                                    <label for='email'>Email</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='password' id='password'/>
                                    <label for='password'>{{$t('login.pass')}}</label>
                                </div>
                                <label class="right" v-if="loginErrs">
                                    <a class='pink-text' :href='forgotPassUrl'><b>{{$t('login.forgottenPass')}}</b></a>
                                </label>
                            </div>

                            <br/>
                            <div class='row'>
                                <button type='submit' class='col s12 btn btn-large waves-effect pink accent-3'>{{$t('login.login')}}
                                </button>
                            </div>


                        </form>

                    </div>
                </div>
                <div @click="toggle" class="col s1 grey darken-3" id="sideButton">
                    <h5>{{$t('login.signup')}}</h5>
                </div>
            </div>


            <!-- Sign Up -->
            <div v-if="show!='login'" class="row" id="signup">
                <div @click="toggle" class="col s1 grey darken-3 l" id="sideButton">
                    <h5>{{$t('login.login')}}</h5>
                </div>
                <div class="col s11">
                    <div class="card-panel z-depth-1 black">
                        <a style="margin-left: -33px" href="/" class="pink-text right"><i class="material-icons">arrow_forward</i></a>

                        <div class="row"><h3>{{$t('login.signup')}}</h3></div>
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <!-- Социални акаунти -->
                        <div v-show="!signUpEmail" class='row'>
                            <div class='col s6 '>
                                <a :href="githubLoginUrl" style="width:100%;" class="btn  waves-effect grey darken-3">
                                    <i class="fab fa-github left material-icons"></i> GitHub</a>
                            </div>
                            <div class='col s6'>
                                <a :href="linkedinLoginUrl" style="width:100%;" class="btn  waves-effect grey darken-3">
                                    <i class="fab fa-linkedin material-icons left"></i>linkedin</a>
                            </div>
                            <br>
                        </div>
                        <!-- бутон за смяна м/у  Email/Социални акаунти -->
                        <div class="row">
                            <div class='col s12'>
                                <a @click="signUpEmail=!signUpEmail"
                                   class="btn-floating btn-large waves-effect waves-light red pink accent-3">
                                    <i v-show="!signUpEmail" class="material-icons">email</i>
                                    <i v-show="signUpEmail" class="material-icons">arrow_upward</i>
                                </a>
                            </div>
                        </div>

                        <!--Sign Up форма-->
                        <form v-show="signUpEmail" method="POST" :action="emailSignupUrl">

                            <div v-if="errors" class="pink accent-3 errors">
                                <ul>
                                    <li v-for="e in errors.errors">
                                        {{e[0]}}
                                    </li>
                                </ul>
                            </div>
                            <br>

                            <input type="hidden" name="_method" value="PUT"/>
                            <input name="authenticity_token" :value="csrfToken" type="hidden">

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='email' name='email' :value="userEmail"
                                           id="emailSignUp"/>
                                    <label for='emailSignUp'>{{$t('login.input')}} email</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='password' id="passwordSignUp"/>
                                    <label for='passwordSignUp'>{{$t('login.input')}} {{$t('login.pass')}}</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='password_confirmation'
                                           id='password_confirmation'/>
                                    <label for='password_confirmation'>{{$t('login.confirmPass')}}</label>
                                </div>
                            </div>

                            <br/>
                            <div class='row'>
                                <button type='submit' class='col s12 btn btn-large waves-effect pink accent-3'>
                                    {{$t('login.signup')}}
                                </button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>


        </div>

    </div>
</template>

<script>
    export default {
        props: [
            'csrfToken',
            'emailLoginUrl', 'emailSignupUrl', 'githubLoginUrl', 'linkedinLoginUrl', 'forgotPassUrl',
            'errors', 'signupErrs', 'loginErrs',
            'userEmail'
        ],
        data() {

            let data = {
                show: 'login',
                signUpEmail: false,
                loginEmail: false
            };

            if (getUrlParam("signup") == "true") {
                data.show = 'signup';
            }

            if (this.signupErrs) {
                data.show = 'signup';
                data.signUpEmail = true;
            }
            else if (this.loginErrs) {
                data.loginEmail = true;
            }

            return data
        },
        methods: {
            toggle() {
                this.show == 'login' ? this.show = 'signup' : this.show = 'login';
            }
        }
    }
</script>
