<!--Форма за забравена парола-->
<style scoped>
  .errors, .msg{
        padding: 6px 6px 6px 6px;
    }

    a{
      cursor: pointer;
    }

    /* За бъговете с цветовете на input полетата при chrome */
    input{
        color: #cfd8dc !important;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px black inset !important;
        -webkit-text-fill-color: #cfd8dc;
    }

</style>


<template lang="html">
    <div class="row white-text">

        <div style="margin-right: auto;float: none" class="col center  s12 m9 l5">

            <div class="card-panel z-depth-1 black">

                <div class="row"><h4>{{$t("login.resetPass.header")}}</h4></div>



                <!-- Съобщение за успех/грешка  -->
                <div v-show="msg">
                  <div  class="msg" :class="msg.status=='error' ?'red' :'light-green darken-2'">
                  {{msg.msg}}
                  </div>
                  <br>
                </div>

                <spinner v-show="loading"></spinner>



                <!-- Стъпка 1 - email  -->
                <div v-show="step==1">
                  <div class='row'>
                      <div class='input-field col s12'>
                          <input v-model="email" @keyup.enter="send" class='validate' type='email' id='email'/>
                          <label for='email'>{{$t("login.resetPass.email")}}</label>
                      </div>
                  </div>

                  <div class="row">
                      <div @click="send" class="waves-effect waves-light btn pink  accent-3">
                        <i class="material-icons right">send</i>
                          {{$t("login.resetPass.send")}}
                      </div>
                  </div>
                </div>

                  <!-- Стъпка 2 - код получен по email  -->
                <div v-show="step==2">

                  <div class='row'>
                      <div class='input-field col s12'>
                          <input v-model="key" type='text' id='code'/>
                          <label for='code'>{{$t("login.resetPass.code")}}</label>
                      </div>
                  </div>

                  <div class="row">
                      <div @click="enterCode" class="waves-effect waves-light btn pink  accent-3">
                        <i class="material-icons right">vpn_key</i>
                          {{$t("login.resetPass.codeConfirm")}}
                      </div>
                  </div>


                </div>

                <!-- Стъпка 3 - въвеждане на нова парола  -->
                <div v-show="step==3">


                  <div class='row'>
                      <div class='input-field col s12'>
                          <input v-model="pass" type="password"  id='pass'/>
                          <label for='pass'>{{$t("login.resetPass.pass")}}</label>
                      </div>
                  </div>

                  <div class='row'>
                      <div class='input-field col s12'>
                          <input v-model="passConf"  type="password" id='pass_c'/>
                          <label for='pass_c'>{{$t("login.resetPass.passConfirm")}}</label>
                      </div>
                  </div>

                  <div class="row">
                      <div @click="changePass" class="waves-effect waves-light btn pink  accent-3">
                        <i class="material-icons right">fingerprint</i>
                          {{$t("login.resetPass.change")}}
                      </div>
                  </div>


                </div>


                <!-- Стъпка 4 - Съобщение за успех  -->
                <div v-show="step==4">

                  <div class="msg light-green darken-2">
                      {{$t("login.resetPass.success", {email})}}
                    <br>
                    <a :href="loginUrl" class="pink-text text-darken-2">{{$t("login.login")}}</a>
                  </div>

                  <br>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
      props:['sendMailUrl', 'checkTokenUrl', 'changePassUrl', 'loginUrl'],
      data(){
        return {
          step:1,
          msg:false,
          loading:false,

          email:"",
          key:"",
          pass: "",
          passConf: "",
        }
      },
      methods:{
        send(){

          this.loading = true;
          axios.post(this.sendMailUrl, {
              email:this.email
          }).then(()=>{
              this.msg={
              status: "success",
              msg:this.$t("sendSuccess",{email:this.email})
              };
              this.step=2;
          }).catch((e)=>{
              this.msg = {status:"error",msg:e.response.data}
          }).finally(()=>{
              this.loading = false;
          });


        },
        enterCode(){
          this.loading = true;
          this.msg = false;

          var d = qs.stringify({
              email:this.email,
              token:this.key,
          })

          axios.post(this.checkTokenUrl,d)
            .then((r)=>{
                this.step=3;
            }).catch((e)=>{

                this.msg = {status:"error",msg:e.response.data}
            }).finally(()=>{
                this.loading = false;
            });


        },
        changePass(){
          this.loading = true;
          this.msg = false;

          var d = qs.stringify({
              email:this.email,
              password:this.pass,
              password_confirmation:this.passConf,
              token:this.key,
          });

          axios.post(this.changePassUrl,d)
            .then((r)=>{
                this.step=4;
            }).catch((e)=>{
                var msg = e.response.data['errors'];
                msg = msg[Object.keys(msg)[0]][0];
                this.msg = {status:"error",msg:msg}
            }).finally(()=>{
                this.loading = false;
            });
        }
      }
    }
</script>
