<!--Loader (въртящо се кръгче)-->

<style media="screen">
    .loader {
        position: relative;
    }
</style>

<template lang="html">

    <div class="preloader-wrapper active loader" :class="size">
        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['size']//big/small
    }
</script>
