$logo-height: 50px;
$gradient-left: #2c7cb5;
$gradient-right: #f52e52;
$header-padding: 30px;
$hero-img-width: 1000px;
$hero-img-height: 674px;
$break-mobile: 1400px;
$hide-how-it-works-images:1480px;
$input-text-color: #ffffff;

header {
  background-image: linear-gradient(50deg, $gradient-left, $gradient-right);
  padding: $header-padding;
}

.how-it-works {
  padding: $header-padding;
  h6 {
    text-transform: uppercase;
  }
}

input {
  color:$input-text-color !important;
}
textarea {
  color:$input-text-color !important;
}

.how-it-works-img-holder {
  border-left: #cfcfcf 3px dashed;
  img {
    margin-top: 60px;
    width: 760px;
    max-width: 100%;
  }
  @media screen and (max-width: $hide-how-it-works-images) {
    display: none;
  }
}

.how-it-works-desc.last{
  display: none;
  @media screen and (max-width: $hide-how-it-works-images) {
    display: block;
  }
}


.how-it-works-desc {
  margin-top: 150px;
  @media screen and (max-width: $break-mobile) {
    margin-top: 0px;
  }

}



.how-it-works-check {
  i {
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    font-size: 1.7rem;
  }
}

.welcome-header {
  padding-top: 30px;

  .logo {
    .logo-holder {
      display: inline-block;
      padding: 10px 10px 10px 10px;
      border-radius: 50%;
      margin-right: 7px;
      height: $logo-height*1.5;
      width: $logo-height*1.5;

      img {
        height: $logo-height;
        width: auto;
      }
    }

    h5 {
      top: -($logo-height/2.6);
      display: inline-block;
      position: relative;
    }
  }

  .nav-buttons {
    margin-top: 5px;
  }

}

.btn-rounded {
  border-radius: 50px;
}

.hero-img-holder {
  margin-right: -($header-padding+10px);
  width: $hero-img-width;
  height: $hero-img-height;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: $break-mobile/.8) {
    background-position: center;
    box-shadow:none !important;
    width: 100%;
    height: $hero-img-width/1.8 !important;
    margin-right: 0;

  }
  //@media screen and (max-width: $break-mobile/2) {
  //  width: 100%;
  //  height: $hero-img-width/1.8 !important;
  //  margin-right: 0;
  //  box-shadow: none;
  //}

  .bg {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(50deg, $gradient-left, $gradient-right);
    opacity: .2;
  }
}

@media screen and (max-width: $break-mobile) {
  .no-valign-wrapper-on-mobile {
    display: block;
  }
}



.features{
  padding: $header-padding;
  .feature{
    i{
      border: 3px solid red;
      padding: 20px;
      border-radius: 60px;
    }
  }
}