<!-- HTML за диаграмите за статистика -->
<% let scripts = true  %>

<!--Vue компонент за представяне на диаграмата--->
<chart :chart='<%=json(chart)%>'></chart>


<% contentFor("scripts") { %>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        VuexStore.commit("addUrls", {
            "loadUrl": '<%=siteChartDatumPath({site_id:siteID, chart_id:chart.ID})%>',
            "backUrl": '<%=getSitePath({site_id:siteID})%>'
        });
    });
</script>

<style type="text/css">
    /*за принтирането (всичко без canvas-a става невидимо)*/
    @media print {
        body {
            background-color: white !important;
        }

        * {
            visibility: hidden;
        }

        canvas {
            visibility: visible;
        }
    }
</style>
<% } %>


