<!-- Модал за добавяне на потребители -->
<template>
   <div id="siteUsersModal" class="modal">
      <div class="modal-content row">
          <div class="col s12">
              <h4>{{$t("site.users.modal.header")}}</h4>
              <p>{{$t("site.users.modal.subHeader")}}</p>
          </div>

          <div class="col s12">
              <ul id="sendInviteTabs" class="tabs">
                  <li class="tab col s6"><a  href="#link">
                      {{$t("site.users.modal.link")}}
                  </a></li>
                  <li class="tab col s6"><a href="#email">
                      E-mail
                  </a></li>
              </ul>
          </div>
          <!--Link-->
          <div id="link" class="col s12">
              <br>
              <div class="col s4" :class="{s12:!generatedLink}">
                  <div @click="generateLink" style="width: 100%; margin-top: 7px" class="waves-effect waves-light btn cyan" v-on:click="generateLink"><i
                          class="material-icons left">crop_rotate</i>{{$t("site.users.modal.generate")}}
                  </div>
              </div>
              <div v-show="generatedLink" class="col s7">
                  <input id="generatedLink" readonly :value="generatedLink">
              </div>
              <div v-show="generatedLink" class="col s1">
                  <i @click="copyToClipboard" style="cursor: pointer" class="material-icons tooltipped siteUsersModalTooltiped " data-position="top"  data-tooltip="копирай в буферната памет">content_copy</i>
              </div>
          </div>
          <!--Покана-->
          <div id="email" class="col s12">
              <div class="input-field col s7">
                  <i class="material-icons prefix">mail</i>
                  <input @keyup.enter="sendInvite" id="send_invite_email" v-model="inviteMail" :class="{invalid:error}" type="text" >
                  <span v-show="error" class="helper-text" :data-error="error"></span>
                  <label for="send_invite_email">{{$t("site.users.modal.emailLabel")}}</label>
              </div>
              <div class="col s5">
                  <div style="width: 100%; margin-top: 23px" class="btn waves-effect waves-light cyan" v-on:click="sendInvite"><i
                          class="material-icons right">send</i>{{$t("site.users.modal.send")}}
                  </div>
              </div>
          </div>



      </div>
      <div class="modal-footer">
         <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{$t("ok")}}</a>
      </div>
   </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        data(){
            return {
                generatedLink:"",
                inviteMail:"",
                show:false,
                error:"",
            }
        },
        created(){
            setTimeout(() => {
                M.Tabs.init(document.getElementById("sendInviteTabs"), {});
                M.Tooltip.init(document.querySelectorAll(".siteUsersModalTooltiped"),{});
            }, 300)
        },
        methods:{
            //Генериране на линк
            generateLink() {
                axios.get(this.generateWorkerUrl)
                    .then((r) => {
                        let domain = window.location.origin;
                        this.generatedLink = "" + domain + "/site/join/" + r.data + ""
                    }).catch(({response}) => {
                    this.error = response.data
                })
            },
            // Копиране в буферната памет
            copyToClipboard(){
                    var copyText = document.getElementById("generatedLink");
                    copyText.select();
                    document.execCommand("copy");
                    M.toast({html:this.$t("site.users.modal.copied")})
            },
            // Изпращане на покана
            sendInvite(){
                var d = qs.stringify({
                    email: this.inviteMail,
                });

                axios.put(this.sendInviteUrl, d)
                    .then(() => {
                        this.inviteMail = "";
                        M.toast({html:this.$t("site.users.modal.sendSuccess")});
                      //  M.Modal.getInstance(document.getElementById("siteUsersModal")).close();
                    }).catch(({response}) => {
                        this.error = response.data
                }).finally(() => {
                    this.loading = false;
                });
            },
        },
        //Vuex променливи
        computed:mapState({
            generateWorkerUrl: state => state.urls["generateWorkerUrl"],
            sendInviteUrl: state => state.urls["sendInviteUrl"],
        })
    }
</script>