<!-- Страница за потребителите с достъп -->
<style scoped>
    .collection-item {
        color: black !important;
    }

    .fa-table {
        margin-right: 10px;
        color: #575757;
    }

    #addBtn {
        position: relative;
        float: right;
    }

    #rightsModal {
        z-index: 999999;
        padding: 13px;
        width: 25%;
    }

    .right-click-menu {
        position: fixed;
        z-index: 1000;
    }

    .right-click-menu > ul {
        display: block;
        opacity: 1;
        width: 190px;
    }

    .right-click-menu > ul > li > a > i {
        float: right;
        margin: 0 0 0 0;
    }

    /*
    ::placeholder {
      color:    #090909;
    } */
</style>
<template lang="html">
    <div>
        <h3>{{$t("site.users.header")}}</h3>

        <p style="font-size: 17px"><b>{{errorRemove}}</b></p>

        <!--Потребителите-->
        <div class="row">
            <div class="col s12">
                <ul id="usersTabs" class="tabs">
                    <li class="tab col s3 "><a class="active" href="#owners">{{$t("site.users.owners")}}</a></li>
                    <li class="tab col s3"><a class="active" href="#admins">{{$t("site.users.admins")}}</a></li>
                    <li class="tab col s3"><a href="#rws">{{$t("site.users.rws")}}</a></li>
                    <li class="tab col s3"><a href="#r">{{$t("site.users.r")}}</a></li>
                </ul>
            </div>
            <div id="owners" class="col s12">
                <site-users-panel @rClick="rClick" :users="owned" :can-rclick="false"></site-users-panel>
            </div>
            <div id="admins" class="col s12">
                <site-users-panel @rClick="rClick" :users="admin" :can-rclick="true"></site-users-panel>
            </div>
            <div id="rws" class="col s12">
                <site-users-panel @rClick="rClick" :users="rw" :can-rclick="true"></site-users-panel>
            </div>
            <div id="r" class="col s12">
                <site-users-panel @rClick="rClick" :users="read" :can-rclick="true"></site-users-panel>
            </div>
        </div>


        <div v-show="rMenuShow == 'rights'" class="right-click-menu"
             :style="{top:rMenu.top + 'px',left:rMenu.left + 'px'}">
            <ul class='dropdown-content'>
                <li><a @click="changeRightsModal(rMenuItem)" data-target="rightsModal" id="changeRights"
                       class="modal-trigger">{{$t("site.users.access")}}<i class="material-icons">vpn_key</i></a></li>
                <li @click="removeUser"><a href="#!">{{$t("site.users.remove")}}<i class="material-icons right">remove_circle</i></a></li>
            </ul>
        </div>


        <a data-target="siteUsersModal"
           class="btn-floating addBtn waves-effect waves-light  cyan darken-1 modal-trigger"><i class="material-icons">add</i></a>

        <site-users-modal></site-users-modal>

        <div id="rightsModal" class="modal">
            <h5>{{$t("site.users.change")}}</h5><br>
            <p><b>{{errorRights}}</b></p>
            <p>
                <label>
                    <input v-model="rights" class="with-gap" name="rights" type="radio" value="admin"/>
                    <span>{{$t("site.users.admin")}}</span>
                </label>
            </p>
            <p>
                <label>
                    <input v-model="rights" class="with-gap" name="rights" type="radio" value="rw"/>
                    <span>{{$t("site.users.rws")}}</span>
                </label>
            </p>
            <p>
                <label>
                    <input v-model="rights" class="with-gap" name="rights" type="radio" value="read"/>
                    <span>{{$t("site.users.r")}}</span>
                </label>
            </p>
            <a class='pink accent-3 btn' href='#' @click="saveRights">{{$t("save")}}</a>

        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                rMenuShow: false,

                rMenu: {
                    top: 0,
                    left: 0
                }, //кординатите на менюто
                rMenuItem: {},
                rights: "",
                errorRights: "",
                errorRemove: "",
                loading: false,
            }
        },
        created() {
            $(window).click(() => {
                this.rMenuShow = false;
            });
            setTimeout(() => {
                M.Tabs.init(document.getElementById("usersTabs"), {});
            }, 300)
        },
        methods: {
            showOptions() {
                this.options = true;
            },
            //Показва различните групи потребители
            rClick(e) {

                e.preventDefault();
                var htmlTarget = {};

                if (typeof e.srcElement !== 'undefined') {
                    htmlTarget = e.srcElement;
                } else if (typeof e.originalTarget !== 'undefined') {
                    htmlTarget = e.originalTarget;
                }

                //Ако няма зададено id
                if (!htmlTarget.attributes.id || !htmlTarget.attributes.id) return;

                var t = htmlTarget.attributes["data-type-rclick"].nodeValue;

                this.rMenuShow = t;
                this.rMenu.left = e.clientX - 3;
                this.rMenu.top = e.clientY - 3;

                var id = htmlTarget.attributes["id"].nodeValue;
                let user = _.find(this.users, ({id: user_id}) => {
                    return user_id == id
                });
                this.rMenuItem = user;
            },
            //Премахване на потребител от сайт
            removeUser() {
                var d = qs.stringify({
                    user_id: this.rMenuItem.id,
                });

                axios.put(this.removeUserUrl, d)
                    .then(({data:id}) => {
                        this.$store.dispatch("removeUser", {id:id}).then(()=>{
                            M.toast({html: this.$t("site.users.removeSuccess")});
                            M.Modal.getInstance(document.getElementById("rightsModal")).close();
                        });
                    }).catch((e) => {
                    this.errorRemove = e.response.data;
                    this.msg = {status: "error", msg: e.response.data}
                })
            },
            //Промяна на права
            changeRightsModal({rights}) {
                this.rights = rights
            },
            //Запазване на права
            saveRights() {
                var d = qs.stringify({
                    user_id: this.rMenuItem.id,
                    rights: this.rights,
                });

                axios.put(this.changeRightsUrl, d)
                    .then(() => {
                        this.$store.dispatch("changeRights", {
                                user:this.rMenuItem,
                                rights:this.rights
                            }).then(()=>{
                            this.error = "";
                            let u = this.rMenuItem;
                            let uName= u.name?u.name:u.email;
                            M.toast({html: this.$t("site.users.changeSuccess", {user:uName})});
                            M.Modal.getInstance(document.getElementById("rightsModal")).close();
                        });
                    }).catch((e) => {
                    this.errorRights = e.response.data;
                    this.msg = {status: "error", msg: e.response.data}
                }).finally(() => {
                    this.loading = false;
                });
            },
            getUser(id) {
                window.location.href = "/user/" + id;
            }
        },
        computed: {
            owned() {
                return _.filter(this.users, ({rights: r}) => {
                    return r == "owner";
                })
            },
            admin() {
                return _.filter(this.users, ({rights: r}) => {
                    return r == "admin";
                })
            },
            rw() {
                return _.filter(this.users, ({rights: r}) => {
                    return r == "rw";
                })
            },
            read() {
                return _.filter(this.users, ({rights: r}) => {
                    return r == "read";
                })
            },
            ...mapState({
                users: "siteUsers",
                homeUrl: state => state.urls["homeUrl"],
                removeUserUrl: state => state.urls["removeUserUrl"],
                changeRightsUrl: state => state.urls["changeRightsUrl"],
                generateWorkerUrl: state => state.urls["generateWorkerUrl"],
                sendInviteUrl: state => state.urls["sendInviteUrl"],
            })
        }
    }
</script>
