<!-- Панел с всички потребители с определени права -->
<template>
    <div>
        <div v-if="!users.length" class="msg light-blue lighten-5 light-blue-text">
            <h6 class="center-align">
                <i class="material-icons">info_outline</i>&nbsp;
                {{$t("site.users.empty")}}
            </h6>
        </div>
        <ul class="collection">
            <a v-for="user in users"
               :id="user.id" href="#" class="collection-item" data-type-rClick="rights"
               @click="$emit('getUser', user.id)"
               @contextmenu="rClick($event)">
                {{user.name?user.name:user.email}}
            </a>
        </ul>

    </div>
</template>

<script>
    export default {
        props: ["users", "canRclick"],
        methods: {
            rClick(e) {
                if (this.canRclick) {
                    this.$emit("rClick", e)
                }
            }
        }
    }

</script>