<!-- Модал за създаване на функции за промяня -->
<template lang="html">
    <div id="addMutationModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{$t("site.dbs.modals.addMutation.header")}}</h4>
            <br>
            <div class="row">
                <div v-show="error" class="white-text col s12 msg pink accent-3 errors"
                     style="padding: 6px 6px 6px 6px;">
                    {{error}}
                </div>


                <!-- Coloumn -->
                <div class="input-field col s12">
                    <select v-model="column">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addMutation.column")}}</option>
                        <option v-for="c in table.columns" :value="c">{{c.verbose?c.verbose+" ("+c.column+")":c.column}}
                        </option>
                    </select>
                    <label>{{$t("site.dbs.modals.addMutation.columnLabel")}}</label>
                </div>

                <!-- Вида на функциията -->
                <div class="input-field col s12">
                    <select v-model="func">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addMutation.func")}}</option>
                        <option v-for="f in functions" :value="f.name">{{f.verbose[locale]}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addMutation.funcLabel")}}</label>
                </div>

                <!-- Aко е речник -->
                <div v-show="func=='dict'" class="col s12 ">
                    <span>{{$t("site.dbs.modals.addMutation.dict")}} - </span>

                    <div class="input-field inline">
                        <input @keyup.enter="addDictPair()" v-model="addDictKey" id="dict_key" type="text">
                        <label for="dict_key">{{$t("site.dbs.modals.addMutation.key")}}</label>
                    </div>
                    :
                    <div class="input-field inline">
                        <input @keyup.enter="addDictPair()" v-model="addDictVal" id="dict_val" type="text">
                        <label for="dict_val">{{$t("site.dbs.modals.addMutation.val")}}</label>
                    </div>

                    <a @click="addDictPair()" v-show="addDictKey && addDictVal" class="btn-floating btn-small cyen">
                        <i class="material-icons">check</i>
                    </a>


                    <ul v-show="Object.keys(dict).length" class="collection">
                        <li v-for="(v,k) in dict" class="collection-item">
                            <div>{{k}} : {{v}}
                                <a href="#!" class="secondary-content" @click="removeDictPair(k)"><i
                                        class="material-icons">delete</i></a>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Aко е добавяне на стринг -->
                <div v-show="func=='stringF'" class="col s12 ">
                    <div class="input-field inline">
                        <input v-model="prependStr" id="prependStr" type="text">
                        <label for="prependStr">{{$t("site.dbs.modals.addMutation.textBefore")}}</label>
                    </div>
                    <span>+{ {{$t("site.dbs.modals.addMutation.colText")}} }+</span>
                    <div class="input-field inline">
                        <input v-model="appendStr" id="appendStr" type="text">
                        <label for="appendStr">{{$t("site.dbs.modals.addMutation.textAfter")}}</label>
                    </div>
                </div>

            </div>
        </div>


        <!-- footer-->
        <div class="modal-footer row" style="margin-bottom: 0;padding: 0 0 0 0">
            <!--Бутон за затваряне-->
            <div class="col" :class=" showSubmit?'s6':'s12'">
                <a style="width:100%" class="waves-effect waves-light btn pink modal-close">{{$t("close")}}</a>
            </div>
            <!--Submit бутон-->
            <div class="col s6" v-show=" showSubmit">
                <a @click="save" style="width:100%"
                   class="waves-effect waves-light btn cyan darken-1">{{$t("save")}}</a>
            </div>
        </div>

    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                error: null,
                column: "",
                func: "",

                dict: {},
                addDictKey: "",
                addDictVal: "",

                appendStr: "",
                prependStr: "",

                //Видове функции
                functions: mutation_funcs,
                locale: window.locale
            }
        },
        methods: {
            //Затваря модала
            closeModal() {
                M.Modal.getInstance(document.getElementById("addMutationModal")).close();
            },
            //Прави заявка към сървъра (запазва функцията за промяна )
            save() {
                var mutation_func = {
                    func: this.func,
                    dict: JSON.stringify(this.dict),
                    stringF: this.stringF,
                };

                axios.put(this.url, mutation_func).then(({data}) => {
                    var col = this.column;
                    mutation_func.id = data;
                    mutation_func.ColumnID = col.id;

                    this.$store.dispatch("addMutationFunc", {
                        mutation_func: mutation_func,
                        column: col
                    }).then(() => {
                        M.toast({html: this.$t("site.dbs.modals.addMutation.msg")});
                        M.Modal.getInstance(document.getElementById("addMutationModal")).close();
                    })
                }).catch(({response}) => {
                    var ers = response.data.errors;
                    this.error = ers[Object.keys(ers)[0]][0];
                })
            },
            //Ако избраната функция е речник добавя ключ:стойност към речника
            addDictPair() {
                var k = this.addDictKey;
                var v = this.addDictVal;
                if (k && v) {
                    this.dict[k] = v
                }
                this.addDictKey = "";
                this.addDictVal = "";
                this.func = "dict";

                //Triger-ва computed пропертито за бутончетата save и cancel ( showSubmit)
                this.prependStr = this.prependStr + "12345";
                this.prependStr = this.prependStr.slice(0, -5);
            },

            removeDictPair(k) {
                let d = this.dict;
                delete d[k];
                this.dict = d;
                this.func = "";
                this.func = "dict";
            }
        },
        computed: {
            //Добавя "{{@}}" межу добавените преди и след стрингове
            //Пример:
            //Добавяне на стринг преди "-1"
            //Добавяне на стринг след ")."
            //Резултатния стринг : -1{{@}}).
            stringF() {
                if (!this.prependStr && !this.appendStr) {
                    return false
                }
                this.prependStr.replace("{{@}}", "");
                this.appendStr.replace("{{@}}", "");
                return this.prependStr + "{{@}}" + this.appendStr
            },

            //Дали да покаже бутон за запзаване
            showSubmit() {
                if (!this.column) {
                    return false
                }

                if (this.func && this.func !== 'dict' && this.func !== 'stringF') {
                    return true
                }

                if (this.func === 'dict' && Object.keys(this.dict).length) {
                    return true
                }

                if (this.stringF) {
                    return true
                }
                //  console.log(this.dict);
                //
                //
                // return (this.column && this.func && (this.func!=='dict'|| (this.dict && Object.keys(this.dict).length>0)) && (this.func!='stringF' || this.stringF))
            },

            ...mapState({
                table: "table",
                url(state) {
                    return state.urls["createMutationUrl"].replace("column_id", this.column.id)
                },
            }),
        }
    }
</script>

<style lang="css">
</style>
