<!-- Модал за създаване на релации -->
<template lang="html">
    <div id="addRelationModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{$t("site.dbs.modals.addRelation.header")}}</h4>
            <br>
            <div class="row">
                <div v-show="error" class="white-text col s12 msg pink accent-3 errors"
                     style="padding: 6px 6px 6px 6px;">
                    {{error}}
                </div>

                <div v-show="!hasTables" class="center-align white-text col s12 msg orange accent-3 errors"
                     style="padding: 6px 6px 6px 6px;">
                    <h5>{{$t("site.dbs.modals.addRelation.errors[0]")}}</h5>
                    <h6>{{$t("site.dbs.modals.addRelation.errors[1]")}}</h6>
                    <div @click="closeModal" class="btn right text-darken-4  orange lighten-4 orange-text">
                        {{$t("ok")}}
                    </div>
                </div>

                <!-- Origin column -->
                <div v-show="hasTables" class="input-field col s12">
                    <select v-model="originCol">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addRelation.column")}}</option>
                        <option v-for="column in table.columns" :value="column">{{column.verbose?column.verbose+" ("+column.column+")":column.column}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addRelation.columnLabel")}}</label>
                </div>
                <!-- Relation Table -->
                <div v-show="originCol" class="input-field col s12">
                    <select v-model="relationTbl">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addRelation.table")}}</option>
                        <option :value="t" v-if="t.columns&&t.id!=table.id" v-for="t in connection.tables">{{t.verbose ? t.verbose + " ( "+t.name+" )":t.name}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addRelation.tableLabel")}}</label>
                </div>
                <!-- Relation column -->
                <div v-show="relationTbl" class="input-field col s12">
                    <select v-model="replaceCol" class="selectRelationCol">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addRelation.column")}}</option>
                        <option v-for="column in relationTbl.columns" :value="column.column">{{column.verbose?column.verbose+" ("+column.column+" )":column.column}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addRelation.relationColumnLabel", {
                            table:relationTbl.verbose?relationTbl.verbose:relationTbl.name,
                            column:originCol.column,
                        })}}
                         </label>
                </div>
                <!-- Relation column -->
                <div v-show="replaceCol" class="input-field col s12">
                    <select v-model="relationCol" class="selectRelationCol">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addRelation.column")}}</option>
                        <option v-for="column in relationTbl.columns" :value="column.column">{{column.verbose?column.verbose+" ("+column.column+" )":column.column}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addRelation.onColumnLabel", {
                        table:relationTbl.verbose?relationTbl.verbose:relationTbl.name,
                        })}}</label>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <div class="modal-footer row" style="margin-bottom: 0;padding: 0 0 0 0">

            <div class="col" :class="relationCol?'s6':'s12'">
                <a  style="width:100%" class="waves-effect waves-light btn pink modal-close">{{$t("cancel")}}</a>
            </div>

            <div class="col s6"  v-show="relationCol">
                <a @click="save" style="width:100%" class="waves-effect waves-light btn cyan darken-1">{{$t("save")}}</a>
            </div>
        </div>
    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                originCol: "",
                relationTbl: "",
                relationCol: "",
                replaceCol: "",
                error: null,
            }
        },
        methods: {
            //Затваря модала
            closeModal() {
                M.Modal.getInstance(document.getElementById("addRelationModal")).close();
            },
            //Запазва релацията в нашата база (прави request към сървъра)
            save() {
                var rel = {
                    origin_table: this.table.name,
                    relation_table: this.relationTbl.name,
                    origin_column: this.originCol.column,
                    relation_column: this.relationCol,
                    replace_column: this.replaceCol,
                };

                axios.put(this.url, rel).then(({data}) => {
                    var col = this.originCol;
                    rel.id = data;
                    rel.ColumnID = this.originCol.id;
                    this.$store.dispatch("addRelation", {
                        relation: rel,
                        column: col
                    }).then(() => {
                        M.toast({html: this.$t("site.dbs.modals.addRelation.msg")});
                        this.closeModal()
                    })
                }).catch(({response}) => {
                    if (response.request.status == 422) {
                        this.error = this.$t("site.dbs.modals.addRelation.errors[2]")+" - " + response.data
                    }
                    else {
                        var ers = response.data.errors
                        this.error = ers[Object.keys(ers)[0]][0]
                    }
                })
            }
        },
        watch: {
            relationTbl() {
                setTimeout(() => {
                    M.FormSelect.init(document.querySelectorAll('.selectRelationCol'), {});
                }, 100)
            },
        },
        computed: {
            hasTables() { //дали има поне 1 таблица, с която може да направи релация
                var has = false;
                this.connection.tables.forEach(t => {
                    if (t.id != this.table.id && t.columns) has = true;
                });
                return has
            },
            ...mapState({
                table: "table",
                connection: "connection",
                url(state) {
                    return state.urls["createRelationUrl"].replace("column_id", this.originCol.id)
                },
            })
        }
    }
</script>

<style lang="css">
</style>
