<!-- Модал за създаване на валидации -->
<template lang="html">
    <div id="addValidationModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{$t("site.dbs.modals.addValidation.header")}}</h4>
            <br>
            <div class="row">
                <div v-show="error" class="white-text col s12 msg pink accent-3 errors"
                     style="padding: 6px 6px 6px 6px;">
                    {{error}}
                </div>


                <!-- Coloumn -->
                <div class="input-field col s12">
                    <select v-model="column">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addValidation.column")}}</option>
                        <option v-for="c in table.columns" :value="c">{{c.verbose?c.verbose+" ("+c.column+")":c.column}}
                        </option>
                    </select>
                    <label>{{$t("site.dbs.modals.addValidation.columnLabel")}}</label>
                </div>

                <!-- Вида на функциията за валидация-->
                <div v-show="step>=1" class="input-field col s12" id="validationFuncSelectWrapper">
                    <select v-model="func">
                        <option value="" disabled selected>{{$t("site.dbs.modals.addValidation.func")}}</option>
                        <option v-for="f in functions" :value="f">{{f.verbose[locale]}}</option>
                    </select>
                    <label>{{$t("site.dbs.modals.addValidation.funcLabel")}}</label>
                </div>

                <!-- Първия параметър-->
                <div v-if="getParamsInfo" class="col s12">
                    <!--2 параметъра - числа -->
                    <span v-show="getParamsInfo.n === 2">
                         <span>{{$t("site.dbs.modals.addValidation.params.between")}}</span>
                          <div class="input-field inline">
                            <input v-model.number="param1" id="param1" type="number" min="0" step="1">
                            <label for="param1">{{$t("site.dbs.modals.addValidation.params.lowerBorder")}}</label>
                          </div>
                          <span>{{$t("site.dbs.modals.addValidation.params.and")}}</span>
                          <div class="input-field inline">
                            <input v-model.number="param2" id="param2" type="number" min="0" step="1">
                            <label for="param2">{{$t("site.dbs.modals.addValidation.params.upperBorder")}}</label>
                          </div>
                          <span>{{$t("site.dbs.modals.addValidation.params.characters")}}</span>
                    </span>
                    <!--1 параметър - число -->
                    <span v-show="getParamsInfo.type === 'int' && getParamsInfo.n===1 " id="paramINT">
                          <div class="input-field">
                              <label class="text-capitalize" for="param10">{{func.verbose}}</label>
                              <input v-model.number="param1" id="param10" type="number" min="0" step="1"/>
                          </div>
                    </span>
                    <!--1 параметър - дата -->
                    <span v-show="getParamsInfo.type === 'date' && getParamsInfo.n===1 " id="paramDate">
                        <label>{{func.verbose}}</label>
                          <input class="datepicker" v-model="param1" id="valFuncParamDatePicker" type="text">
                    </span>
                </div>


                <!--Съобщение за грешка-->
                <div v-show="step>=3">
                    <div class="input-field inline" style="width:100%">
                        <label for="message">{{$t("site.dbs.modals.addValidation.msgLabel")}} </label>
                        <input v-model.trim="message" id="message" type="text"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-->
        <div class="modal-footer row" style="margin-bottom: 0;padding: 0 0 0 0">
            <!--Бутон за затваряне-->
            <div class="col" :class="step>=3?'s6':'s12'">
                <a  style="width:100%" class="waves-effect waves-light btn pink modal-close">{{$t("cancel")}}</a>
            </div>
            <!--Submit бутон-->
            <div class="col s6"  v-show="step>=3">
                <a @click="save" style="width:100%" class="waves-effect waves-light btn cyan darken-1">{{$t("save")}}</a>
            </div>
        </div>

    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                error: null,
                column: "",
                func: "",

                param1: "",
                param2: "",

                functions: validation_funcs,
                locale:window.locale,
            }
        },
        methods: {
            //Затваря модала
            closeModal() {
                M.Modal.getInstance(document.getElementById("addMutationModal")).close();
            },
            //Прави заявка към сървъра (запазва функцията за промяна )
            save() {
                let val_func = {
                    func: this.func.name,
                    params: [],
                    message: this.message,
                };

                if (this. getParamsInfo.n ===1){
                    val_func.params = [this.param1]
                }else if (this. getParamsInfo.n ===2){
                    val_func.params = [this.param1, this.param2]
                }

                axios.put(this.url, val_func).then(({data}) => {
                    var col = this.column;
                    val_func.id = data;
                    val_func.column_id = col.id;

                    this.$store.dispatch("addValidationFunc", {
                        validation_func: val_func,
                        column: col
                    }).then(() => {
                        M.toast({html: this.$t("site.dbs.modals.addValidation.params.msg")});
                        M.Modal.getInstance(document.getElementById("addValidationModal")).close();
                    })
                }).catch(({response}) => {
                    var ers = response.data.errors;
                    this.error = ers[Object.keys(ers)[0]][0];
                })
            },

        },
        watch: {
            getParamsInfo(i) {
                //Инициализира datePicker
                // if (i.type === "date") {
                setTimeout(() => {
                    var vue = this;
                    M.Datepicker.init(document.querySelectorAll('#valFuncParamDatePicker'), {
                        container: $("body"),
                        format: "yyyy-mm-dd",
                        onSelect(v){
                            vue.param1 = moment(v).format("YYYY-MM-DD");
                        },

                    });

                    //Намества модала на datePicker-a
                    let instance = M.Datepicker.getInstance(document.getElementById("valFuncParamDatePicker"));
                    instance.modal.options.endingTop = "20%"

                }, 50);
                // }
            }
        },
        computed: {
            //Определя, дали параметъра трябва да date или int, както и дали да са 1 или 2 параметъра
            getParamsInfo() {
                //Ако трябва да има 2 параметър - числа
                if (this.func.name === "stringLengthInRange") {
                    return {n: 2, type: "int"}
                }

                //Aко трябва да има 1 параметър - число
                if (["intGraterThan", "intLessThan"].indexOf(this.func.name) > -1) {
                    return {n: 1, type: "int"}
                }

                //Aко трябва да има 1 параметър - дата
                if (["dateBefore", "dateAfter"].indexOf(this.func.name) > -1) {
                    return {n: 1, type: "date"}
                }

                return {n:0, type:""}
            },

            //изчислява на коя стъпка е от процеса на създаване
            step() {
                let step = 0;

                //избрана колона
                if (this.column){
                    step++
                }

                //избрана функция
                if (this.func){
                    step++
                }

                //въведени параметри (ако са нужни)
                if (!this.getParamsInfo.n && this.func){
                    step++
                }else if(this.getParamsInfo.n ===1 && this.param1!==""){
                    step++
                }else if(this.getParamsInfo.n ===2 && this.param1!=="" && this.param2!==""){
                    step++
                }


                return step
            },

            ...mapState({
                table: "table",
                url(state) {
                    return state.urls["createValidationUrl"].replace("column_id", this.column.id)
                },
            })
        },

    }
</script>

<style lang="css">

    .text-capitalize:first-letter {
        text-transform: uppercase;
    }

    #validationFuncSelectWrapper > .select-wrapper > ul {
        max-height: 310px !important;;
    }
</style>
