<!--Всички релации за дадена таблица -->
<template lang="html">
    <span>
      <div v-if="relations.length" class="white tableWraper">
        <table>
          <thead>
            <tr>
                <th>{{$t('site.dbs.modals.tableSettings.relations.col')}}</th>
                <th>{{$t('site.dbs.modals.tableSettings.relations.tbl')}}</th>
                <th>{{$t('site.dbs.modals.tableSettings.relations.col1')}}</th>
                <th>{{$t('site.dbs.modals.tableSettings.relations.col2')}}</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="relation in relations">
              <td>{{relation.origin_column}}</td>
              <td>{{relation.relation_table}}</td>
              <td>{{relation.replace_column}}</td>
              <td>{{relation.relation_column}}</td>
              <td><i @click="deleteAsk(relation)" class="delBtn right-aligned material-icons">delete</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <br>
        <div class="msg light-blue lighten-5 light-blue-text">
          <h6 class="center-align">
              <i class="material-icons">info_outline</i>
              {{$t('site.dbs.modals.tableSettings.relations.empty')}}
          </h6>
        </div>
      </div>

      <a @click="openAddModal" style="top:-18px;margin-right:15px;"
         class="right btn-floating  waves-effect waves-light  pink accent-3">
        <i class="material-icons">add</i>
      </a>

    </span>

</template>

<script>
    import {mapState} from 'vuex'

    export default {

        methods: {
            //Отваря модала за добавяне на нова релация
            openAddModal() {
                M.Modal.init(document.querySelectorAll('#addRelationModal'), {});
                M.Modal.getInstance(document.getElementById("addRelationModal")).open();
            },
            //Потвърждение на изтиването на релация
            deleteAsk(r) {
                M.Modal.init(document.querySelectorAll('#deleteRelationModal'), {dismissible: false});
                M.Modal.getInstance(document.getElementById("deleteRelationModal")).open();
                this.$store.commit("setColumn", {id: r.ColumnID})
            },
        },
        computed: mapState({
            //Релациите на таблицата
            relations(state) {
                var rels = [];
                state.table.columns.forEach(c => {
                    if (c.relation.relation_table) {
                        rels.push(c.relation);
                    }
                });
                return rels
            },
        }),
    }
</script>

<style lang="css" scoped="">
    .delBtn {
        cursor: pointer;
    }

    .tableWraper {
        margin: .5rem 0 1rem;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        padding-left: 18px;
        margin-bottom: -1px;
    }
</style>
