<!--Компонент за избиране, кои колони да влязат в таблицата-->
<template lang="html">
    <ul class="collection with-header">
        <!--- Заглавието на компонента приметно Избери колони за таблица Потребители ( users )-->
        <li class="collection-header">
            <div>
                <h5>{{header}}</h5>
                <div v-if="selectAll" class="secondary-content">
                    <label>
                        <input v-model="checkAll" type="checkbox"/>
                        <span></span>
                    </label>
                </div>
                <h6>{{subHeader}}</h6>
            </div>

        </li>
        <!--Списък на колоните-->
        <li v-for="column in columns" class="collection-item">
            <div>
             <span class="columns-tooltipped" :class="{'grey-text text-darken-2':columnIn(column,disabledColumns)}"
                   data-position="right"
                   :data-tooltip="column.data_type+ ' ('+column.data_type_original+') read only -'+ column.data_type_readonly">
               <i v-if="column.data_type_readonly" class="teal-text fas fa-book-open"></i>
               <i v-else class="fas fa-square-full white-text"></i>
               <i class="blue-text fas" :class="'fa-'+dataTypesIcons[column.data_type]"></i>

               &nbsp; {{column.verbose ? column.verbose: column.column}}
             </span>

                <!--Checkbox за избиране-->
                <div class="secondary-content">
                    <label>
                        <input @change="toggle(column)" :checked="columnIn(column,selectedColumns)"
                               :disabled="columnIn(column,disabledColumns)" type="checkbox"/>
                        <span></span>
                    </label>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['columns', 'header', 'subHeader', "selected", "selectAll", "disabledColumns"],
        data() {
            return {
                selectedColumns: [], //избраните колони
                dataTypesIcons: window.dataTypesIcons, //видовете иконки за различните типо данни
            }
        },
        created(){
            this.selectedColumns = JSON.parse(JSON.stringify(this.selected));
        },
        methods: {
            //дали дадена колона присъства в масив от колони (използва се в toggle)
            columnIn(c, cs) {
                return Boolean(_.size(
                    _.find(cs, _.matchesProperty('column', c.column))
                ));
            },
            //check/uncheck-ва дадена колона
            toggle(c) {
                var sCols = this.selectedColumns;
                let selected = !this.columnIn(c, sCols);
                if (!selected) {
                    sCols = _.reject(sCols, e => {
                        return c.column === e.column
                    })
                } else {
                    sCols.push(c);
                }

                this.selectedColumns = sCols;
                this.$emit("columnSelected", c, selected)
            },
        },
        watch: {
            selected() {
                this.selectedColumns = JSON.parse(JSON.stringify(this.selected));
            },
            selectedColumns(cs) {
                // if (!this.selected){
                    this.$emit("columnsSelected", cs)
                // }

            }
        },
        computed: {
            //За функцията "избери всички"
            checkAll: {
                get() {
                    return this.selectedColumns.length === this.columns.length;
                },
                set(v) {
                    var cols = this.columns.slice();
                    if (v) {
                        this.selectedColumns = cols;
                    }
                    else {
                        this.selectedColumns = [];
                    }
                },
            }
        },
    }
</script>
