<!--Всички функция за промяна към дадена таблица-->
<template lang="html">
    <span>
      <div v-if="validations.length " class="white tableWrapper">
        <table>
          <thead>
          <tr>
                <th> {{$t('site.dbs.modals.tableSettings.validations.col')}}</th>
                <th> {{$t('site.dbs.modals.tableSettings.validations.func')}}</th>
                <th> {{$t('site.dbs.modals.tableSettings.validations.params')}}</th>
                <th> {{$t('site.dbs.modals.tableSettings.validations.msg')}}</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="v in validations">
                <td>{{findCol(v.column_id)}}</td>
                <td>{{findFunc(v.func)}}</td>
                <td>
                        <!--Празни параметри-->
                        <span v-if="!v.params[0]">
                            -
                        </span>
                    <!--Числа-->
                        <span v-else-if="typeof v.params[0] === 'number'">
                            {{v.params.join(", ")}}
                        </span>
                    <!--Дата-->
                         <span v-else>
                            {{validateDate(v.params[0])}}
                        </span>
                </td>
                <td>
                    {{v.message?v.message:"-"}}
                </td>
                <td>
                    <i @click="deleteAsk(v)" class="delBtn right-aligned material-icons">delete</i>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
        <!--Aко няма колони със фукнция за валидация-->
      <div v-else>
        <br>
        <div class="msg light-blue lighten-5 light-blue-text">
          <h6 class="center-align">
              <i class="material-icons">info_outline</i>&nbsp;
                  {{$t('site.dbs.modals.tableSettings.validations.empty')}}
          </h6>
        </div>
      </div>

        <!--Бутонче за отвяряне на модала за добавяне-->
      <a @click="openAddModal" style="top:-18px;margin-right:15px;"
         class="right btn-floating  waves-effect waves-light  pink accent-3">
        <i class="material-icons">add</i>
      </a>

    </span>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {validation_funcs}
        },
        methods: {
            //отваря модала за добяне на нова функция
            openAddModal() {
                M.Modal.init(document.querySelectorAll('#addValidationModal'), {});
                M.Modal.getInstance(document.getElementById("addValidationModal")).open();
            },
            //отваря модала за потвърждаване на изтриването
            deleteAsk(v) {
                M.Modal.init(document.querySelectorAll('#deleteValidatorModal'), {dismissible: false});
                M.Modal.getInstance(document.getElementById("deleteValidatorModal")).open();

                this.$store.commit("setValidationFunc", v);
                this.$store.commit("setColumn", {id: v.column_id});
            },

            //връща името на колона на база id-то и
            findCol(id) {
                let c = _.find(this.allColumns, c => {
                    return c.id === id
                });
                return c.verbose ? c.verbose : c.column;
            },

            //Връща human readable името на  функция
            findFunc(name) {
                return _.find(this.validation_funcs, f => {
                    return f.name === name
                }).verbose[window.locale];
            },

            //валидира дата (timestring -> 2019-03-06)
            validateDate(d) {
                return moment(d).format("YYYY-MM-DD")
            }


        },
        computed: mapState({
            //Всички валидации за таблицата
            validations(state) {
                var vf = [];
                state.table.columns.forEach(c => {
                    if (c.validation_rules.length) {
                        vf.push(...c.validation_rules)
                    }
                });
                return vf
            },
            allColumns: state => state.table.columns

        }),

    }
</script>

<style lang="css" scoped="">
    .delBtn {
        cursor: pointer;
    }

    .tableWrapper {
        margin: .5rem 0 1rem;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        padding-left: 18px;
        margin-bottom: -1px;
    }

</style>
