<!--Права на колони (дали да са само за четене или четене и редактиране)-->

<template lang="html">
    <div>
        <columns-select v-if="columns" :style="{'height':height+'px'   }" style="overflow-y: scroll;"
                        :selectAll="false"
                        :header="$t('site.dbs.table.accessHeader')"
                        :sub-header="$t('site.dbs.table.accessSubheader')"
                        :columns="columns"
                        :selected="selectedColumns"
                        :disabledColumns="disabled"
                        @columnSelected="selected"
        ></columns-select>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        props:["height"],
        created() {
            this.columns = this.table.columns;
            //Всички колони, които са readonly стават чекнати
            this.selectedColumns = _.filter(this.columns, (c) => {
                return c.readonly
            });
            //Всички колони, които могат да са САМО readonly (поради типа си данни)
            //стават disable-нати
            this.disabled = _.filter(this.columns, (c) => {
                return c.data_type_readonly
            });
        },
        data() {
            return {
                selectedColumns: [],
                disabled: [],
                columns:[],
            }
        },
        methods: {
            //Вика се когато някоя колона бъде избрана
            //прави се заявка към нашата база и  се промянва дали е
            //да е само за четене в зависимост от това дали е check-ната
            //или uncheck-ната
            selected(c, readOnly) {
                c.readOnly = readOnly;
                //Заявка към базата
                axios.put(this.url, c).then(() => {
                }).catch(e => {
                    console.log(e)
                });

                //Променя масива с колони
                this.columns = _.map(this.columns, e => {
                    if (e.column === c.column) {
                        e.readonly = readOnly;
                    }
                    return e
                });

                let t = this.table;
                t.columns = this.columns;
                //Запазва промените във vuex store-a
                this.$store.dispatch("setTable", t)
            }
        },
        computed: mapState({
            url: state => state.urls["updateColumnUrl"],
            table:"table",
        })

    }
</script>
