<!------------------------------------------
Преименуване на колони
сменяне на тривиалното им име (verbose_name)
------------------------------------------->


<style lang="css">
    .rename-input {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .editBtn {
        cursor: pointer;
    }

    .editBtn:hover {
        text-shadow: 1px 1px 2px #949494;
    }
</style>


<template lang="html">
    <!--Списък на всички колони-->
    <ul class="collection with-header" :style="{'height':height+'px'   }" style="overflow-y: scroll;">
        <!--Header-a на списъка -->
        <li class="collection-header">
            <div>
                <h5>{{$t("site.dbs.table.renameColumns")}}</h5>
            </div>
        </li>

        <li v-for="column in columns" class="collection-item">
            <!--Името на колоната-->
            <span v-show="selected != column.column">
              {{column.verbose ? column.verbose: column.column}}
            </span>
            <!--Инпутче за промяна на името-->
            <div v-show="selected == column.column" class="rename-input input-field  inline">
                <input v-model="newName"/>
            </div>
            <!--Check mark бутонче за потвърждаване на редактирането-->
            <i @click="rename(column)" v-show="selected == column.column" class="material-icons green-text editBtn">check</i>
            <!--Бутонче за отваряне на input-a за промяна на името-->
            <i @click="select(column)" class="material-icons right editBtn">edit</i>
        </li>
    </ul>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        props:["height"],
        data() {
            return {
                'selected': null, //Избраната колона за редакция
                'newName': '', //Името въвеждано от потребителя в input полето
                "columns":null, //всички колони
            }
        },
        created(){
            this.columns = this.table.columns;
        },
        watch:{
          "table.columns"(v){
            if (!this.columns){
              this.columns = v
            }
          }
        },
        methods: {
            //Прави заявка към базата
            rename(c) {
                c.verbose = this.newName;
                axios.put(this.url, c).then(() => {
                    this.columns = _.map(this.columns, e => {
                        if (e.column == c.column) e.verbose = this.newName
                        return e
                    });
                    this.selected = null;
                    M.toast({html: this.$t("site.dbs.table.renameColumnsSuccess")});
                }).catch(e => console.log(e))
            },
            //Вика се при натискане на бутона за редакция
            //отваря input-чето
            select(c) {
                this.newName = c.verbose ? c.verbose : c.column
                this.selected = c.column
            }
        },
        computed: mapState({
            table:"table",
            url: state => state.urls["updateColumnUrl"],
        })
    }
</script>
