<!----------------------------------------------------------------------------

Главният компонент за таблици в някоя база данни

Грижи се за:
    зарежда редовете в избранатс таблица (като ги paginate-ва, ако са много )
    търсене на записи (чрез търсачката)
    всякакъв тип настройки на таблицата (чрез модала за настройки)
    редакция  на данни във някоя клетка

------------------------------------------------------------------------------>

<template lang="html">
    <!-- страницата за таблица -->
    <div>


        <div class="cyan darken-1 white-text header z-depth-2">

            <!-- Навигация към предните страници  -->
            <i v-on:click="$emit('navigate-back')" class="material-icons left grey-text text-lighten-4 headerBtn">arrow_back</i>
            <h4>

                {{table.verbose ? table.verbose : table.name}}
                <h5 style="display:inline" v-if="!loading"> -  {{$tc("site.dbs.table.entries",count)}}</h5>
            </h4>
            <!-- Настройки -->
            <i v-if="columns && ( access=='owner' || access=='admin')" style="margin-top:-43px"
               v-on:click="tableSettings"
               class="material-icons right  grey-text text-lighten-4 headerBtn">more_vert</i>

        </div>

        <!-- Търсачка -->
        <div v-show="!loading && count>3 && columns" class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input v-model="search" type="text" id="table_search">
            <label for="table_search">{{$t("site.dbs.table.search")}}</label>
        </div>


        <div v-if="loading">
            <div class="center-align">
                <spinner></spinner>
            </div>
        </div>

        <div v-show="!columns && !conn_err">
            <div class="msg orange white-text">
                {{$t("site.dbs.table.noCols")}}
            </div>

            <db-table-chose-columns v-if="!conn_err"
                                    v-on:saved="columnsSelected"
            ></db-table-chose-columns>
        </div>


        <!-- Грешка при свързване -->
        <div class="msg pink accent-3 white-text" v-if="!loading && !count && conn_err.length">
            <h6 class="center-align"><i class="material-icons">sentiment_very_dissatisfied</i> {{$t("site.dbs.table.connErr")}} "
                {{conn_err}}" !</h6>
        </div>

        <span v-if="columns">

        <!-- Празна таблица  -->
        <div class="msg orange darken-1 white-text" v-if="!loading && !count && !conn_err">
          <h6 class="center-align"><i class="material-icons">sentiment_dissatisfied</i>  {{$t("site.dbs.table.tableEmpty")}}</h6>
        </div>



        <div class="table-wrapper">
          <table class="yScrollableTable">
              <!--Имената на колоните-->
            <thead>
              <tr>
                  <th v-for="column in columns">
                    <span class="columns-tooltipped" data-position="top"
                          :data-tooltip="makeTooltip(column)">


                      <span v-if="column.relation.replace_column ||column.mutation_function.func "> <!--Ако има някакви мутации-->
                        <i v-if="column.relation.replace_column" class="amber-text text-accent-4 fas fa-link"></i>
                          <!--Aко Е е релация  -->
                        <i v-if="column.mutation_function.func"
                           class="purple-text text-accent-2 fas fa-hat-wizard "></i> <!--Aко Е е функция  -->
                      </span>
                        <span v-else>  <!--Aко НЕ е релация или функция -->
                        <i v-if="column.readonly" class="teal-text fas fa-book-open"></i>
                        <i class="blue-text fas" :class="'fa-'+dataTypesIcons[column.data_type]"></i>
                      </span>

                      &nbsp; {{column.verbose ? column.verbose: column.column}}
                    </span>
                  </th>
              </tr>
            </thead>
              <!--Редовете от базата -->

            <tbody>
              <tr v-for="(row, row_index) in rows">
                <td v-for="(col, col_index) in row" @contextmenu="cellRClick($event, row_index, col_index)">
                    <!--Инпут за редакция-->
                     <db-table-edit-cell v-if="(toEdit.col === col_index && toEdit.row === row_index)"
                                         :cell-value="col"
                                         :column="columns[col_index]"
                                         :identifiers="getIdentifiers(row)"
                                         :pk-column="table.pk_column"
                                         :pk-value="getPkValue(row)"
                                         @edited="columnEdited"
                     ></db-table-edit-cell>

                    <!--Данните в клетката-->
                  <span v-else>
                      <span style="max-width:400px" class="truncate" v-if="col != 'Bool(False)' && col != 'Bool(True)'">
                        <!-- Text -->
                        {{col}}
                      </span>


                      <!--Ако е bool  (зелена отметка/червен хикс) -->
                      <span v-if="col === 'Bool(True)'">
                          <!-- Bool True -->
                        <i class="material-icons green-text">check</i>
                      </span>
                      <span v-if="col === 'Bool(False)'">
                          <!-- Bool False -->
                        <i class="material-icons red-text">close</i>
                      </span>
                  </span>


                </td>
              </tr>
            </tbody>


          </table>
        </div>


            <!-- pagination -->
        <db-table-pagination
                @changePage="changePage"
                :count="count"
                :offset="offset"
                :limit="limit"
        ></db-table-pagination>


        <div v-if="columns && count > 25" style="display: flex;">
          <div style="width: 270px;"><h6>{{ $t('site.dbs.table.showNOnPage', { n: limit }) }}  </h6></div>
          <div style="margin-top:-20px;width:100%">
            <p class="range-field">
             <input type="range" v-model.number="limit" min="25" step="25" max="500"/>
            </p>
          </div>
        </div>


        </span>

        <!-- Модал за настройки на таблица -->
        <table-settings-modal v-if="tableSettingsModal"
                              @rows-edited="load"
        ></table-settings-modal>


        <!-- Модал за добавяне на релация -->
        <column-add-relation v-if="tableSettingsModal"/>

        <!-- Модал за потвърждаване на изтриване на релация -->
        <delete-relation-modal v-if="tableSettingsModal"/>

        <!-- Модал за добавяне функция за промяна -->
        <column-add-mutation v-if="tableSettingsModal"/>

        <!-- Модал за потвърждаване на изтриване на фунцкия за промяна -->
        <delete-mutation-modal v-if="tableSettingsModal"/>

        <!-- Модал за добавяне функция за валидация -->
        <column-add-validator v-if="tableSettingsModal"/>

        <!-- Модал за потвърждаване на изтриване на функция за валидация -->
        <delete-validator-modal v-if="tableSettingsModal"/>



        <!--Context menu-->
        <!-- Right click menu table!-->
        <div v-show="rMenuItem" class="right-click-menu"
             :style="{top:rMenu.top + 'px',left:rMenu.left + 'px'}">
            <ul style="width:170px" class='dropdown-content'>
                <li class="cellEditShow" @click="editColumnClicked">
                    <a  href="#!">{{$t("site.dbs.table.edit")}}<i class="fas fa-pen-alt  "></i></a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: [],
        data() {
            return {
                search: "", //фразата за търсене в търсачката

                ws: null, //WebSocket-a
                loading: true, //Дали таблицата се зарежда


                rows: [], // редовете, които се показват
                offset: 0,
                limit: 50,
                count: 0, // броя на всички редове в базата на отдалеяения сървър

                //Дали е отворен модал за настройки
                tableSettingsModal: false,

                //Иконите за различните типове данни
                dataTypesIcons: window.dataTypesIcons,

                //Дали има грешка при свърване с сървъра
                conn_err: true,

                //За context  menu-то
                rMenu: {
                    top: 0,
                    left: 0
                }, //кординатите на менюто
                rMenuItem: null,
                toEdit: {
                    row: -1,
                    col: -1,
                }//Кординати на клетката отворена за редакция
            }
        },
        created() {


            //за right click менюто
            $(window).click((e) => {
                //Скрива edit input-a
                let t = $(e.target);
                if (!(t.parents('.cellEditShow').length) && !(t.parents('.datepicker-table-wrapper').length) && !(t.parents('.datepicker-calendar').length)  && !(t.parents('.datepicker-controls').length)) {
                    this.toEdit.row = -1;
                }
                //
                 this.rMenuItem = null;
            });
        },
        watch: {
            //За търсачката
            search: _.debounce(function () {
                this.load()
            }, 100),
            //Aко се смени таблицата
            "table.id"() {
                this.init()
            },
            columns(cs) {
                if (this.columns) {
                    this.columnsWatcher(cs)
                }
            },
            limit() {
                this.load()
            }
        },
        methods: {
            //Зарежда редовете (праща ws съобщение)
            load: _.debounce(function () {
                this.rows = [];
                this.ws.send(`rows=Offset:${this.offset};Limit:${this.limit};Search:"${this.search}"`);
            }, 500),

            //init-ва таблицата (инициализира webSocket връзка, задава колони и др )
            init() {
                //reset-ва всички данни
                Object.assign(this.$data, this.$options.data.call(this));


                //Проверява, дали е възможна връзка
                setTimeout(() => {
                    axios.post(this.checkConnUrl.replace("table_id", this.table.id)).then(() => {
                        this.conn_err = false;
                        // //За колоните
                        // this.columns = this.table.columns;

                        //за боря редове
                        axios.post(this.getRowsCountUrl, this.table).then(r => {
                            this.count = r.data;
                            this.loading = false;
                        }).catch(e => {
                            console.log(e);
                            this.loading = false;
                        })
                    }).catch(({response}) => {
                        this.loading = false;
                        this.conn_err = response.data
                    })
                }, 1);

            },

            //За pagination-a (сменя страницата)
            changePage(p) {
                this.offset = (p - 1) * this.limit;
                this.load();
            },

            //Вика се, когато се променят колоните
            columnsSelected(columns) {
                let t = this.table;
                t.columns = columns;
                this.$store.dispatch("setTable", t).catch(e => console.log(e));
            },

            //Отваря модала за настройки
            tableSettings() {
                this.tableSettingsModal = true;
                setTimeout(() => {
                    M.Modal.init(document.querySelectorAll('#tableSettingsModal'), {});
                    M.Modal.getInstance(document.getElementById("tableSettingsModal"))
                        .open();
                }, 100)
            },

            //Връща правилното описание на колона (tooltip-a)
            makeTooltip(c) {
                if (c.relation.replace_column) {
                    return this.$t("site.dbs.table.tooltips.relationTo", {
                        table:c.relation.relation_table,column:c.relation.relation_column});
                }
                if (c.mutation_function.func) {
                    return this.$t("site.dbs.table.tooltips.mutation", {
                        f:c.mutation_function.func});

                }
                return c.data_type + ' (' + c.data_type_original + ') read only -' + c.readonly

            },

            //Вика се при промяна на колоните (отваря web socket връзка)
            columnsWatcher(cs) {
                if (cs != null && !cs.length) {
                    return
                }
                setTimeout(() => {
                    //Проверява, дали е възможна връзка с базата
                    axios.post(this.checkConnUrl.replace("table_id", this.table.id)).then(() => {

                        //Инициализира web Socket връзка
                        this.rows = [];
                        let protocol = "ws://";
                        if (location.protocol === "https:") {
                            protocol = "wss://";
                        }
                        let domain = window.location.host;
                        var url = protocol + domain + this.getRowsUrl.replace("table_id", this.table.id);

                        this.ws = new WebSocket(url);
                        this.ws.addEventListener("message", e => {
                            this.rows.push(JSON.parse(e.data));
                        });
                        this.load()
                    }).catch(e => {
                        console.log(e);
                        this.loading = false
                    })
                }, 100);

            },

            //Натискане на десен бутон върху клетка
            cellRClick(e, row, col) {
                e.preventDefault();

                //Aко няма адекватни кординати на клетката
                if (row < 0 || col < 0) return;

                //Aко колоната е readonly
                if (this.columns[col].readonly) return;

                //ако потребителя няма право да редактира
                if (this.access === "read") {
                    return;
                }

                this.rMenuItem = {col: col, row: row};
                this.rMenu.left = e.clientX - 3;
                this.rMenu.top = e.clientY - 3;
            },

            //вика се при натискане на бутона "редактирай" (след десен бутон върху клетка)
            editColumnClicked() {
                this.toEdit.col = this.rMenuItem.col;
                this.toEdit.row = this.rMenuItem.row;
            },

            //Връща identifier-ите използвани за редакция на данни в клетка
            //пример : {id:1, email:"go6o@mail.com"...}
            getIdentifiers(row){
                let identifiers = {};
                for (let i =0; i<row.length;i++){
                    //добавя всички подхидящи identifier-и
                    //(които нямата mutation_func или relation)
                    let c = this.columns[i]; // колоната отгоаряща на i-тото завъртане на loop-a
                    if(!c.mutation_function.func  && !c.relation.replace_column && ["time", "json", "xml", "binary", "geometry", "text", "float"].indexOf(c.data_type) < 0  && ["NULL", "Bool(False)", "Bool(True)"].indexOf(row[i]) < 0 ){
                        identifiers[this.columns[i].column] = row[i];
                    }
                }
                return identifiers;
            },

            //Връща уникалната стойност (PK-a) за реда
            getPkValue(row){
                let pkCol=  this.table.pk_column;
                return row[_.findIndex(this.columns, function(c) { return c.column === pkCol; })];
            },

            //вика са при успешна редакция на данни в някоя колона
            columnEdited(new_val){
                this.rows[this.toEdit.row][this.toEdit.col] = new_val;
                this.toEdit.row = -1;
            }
        },
        computed: mapState({
            access: "access",
            table: "table",
            columns: state => state.table.columns,
            checkConnUrl: state => state.urls["tableCheckConnUrl"],
            getTableSavedColumnsUrl: state => state.urls["getTableSavedColumnsUrl"],
            getRowsUrl: state => state.urls["getRowsUrl"],
            getRowsCountUrl: state => state.urls["getRowsCountUrl"],
        })
    }
</script>


<style lang="css">



    /*Позволява scroll и хоризонтално*/
    .table-wrapper {
        overflow-x: scroll;
    }

    .fa-table {
        margin-right: 10px;
        color: #575757;
    }

    #addBtn {
        position: relative;
        float: right;
    }

    .modal {
        z-index: 999999;
    }

    .right-click-menu {
        position: fixed;
        z-index: 1000;
    }

    .right-click-menu > ul {
        display: block;
        opacity: 1;
        width: 150px;
    }

    .right-click-menu > ul > li > a > i {
        float: right;
        margin: 0 0 0 0;
    }

    .header {
        margin-top: -24px;
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: 30px;
        padding: 1px 10px 8px 10px;
    }

    .headerBtn {
        cursor: pointer;
        margin-top: 30px;
    }

    .headerBtn:hover {
        text-shadow: 2px 2px 1px #558ABB;
    }

    input {
        color: black;
    }
</style>