<!------------------------------------------
Избор на колони, които да се администратират
(да се показват във таблицата )
-------------------------------------------->
<template lang="html">
    <div>
        <columns-select v-if="columns" :style="{'height':height+'px'   }" style="overflow-y: scroll;"
                        :selectAll="true"
                        :header='$t("site.dbs.table.choseColumns")'
                        :sub-header="$t('for')+' '+$t('table')+' ' + (table.verbose ? table.verbose+' ( '+table.name+' )' : table.name )"
                        :columns="columns"
                        :selected="table.columns ? table.columns:[]"
                        :disabledColumns="[]"
                        v-on:columnsSelected="selected"
        ></columns-select>
        <div @click="save" class="btn pink waves-effect waves-light" style="width:100%">{{$t("ok")}}</div>
    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: ['height', "update"],
        data() {
            return {
                columns: [],
                selectedColumns: [],
            };
        },
        created() {
            this.load()
        },
        methods: {
            load() {

                //Проверка за зададено table id

                if (typeof this.table.id === "undefined") {
                    return
                }


                this.columns = [];
                axios.post(this.getUrl, this.table).then((d) => {
                    this.columns = d.data;
                    setTimeout(() => {
                        M.Tooltip.init(document.querySelectorAll('.columns-tooltipped'), {enterDelay: 800});
                    }, 100);
                }).catch(e => {
                    console.log(e);
                });
            },
            save() {

                var t = JSON.parse(JSON.stringify(this.table));
                t.columns = this.selectedColumns;

                axios.put(this.putUrl, t).then(() => {
                    this.$store.dispatch("setTable", t).catch(e => console.log(e));
                    M.toast({html: this.$t("site.dbs.table.columnsSuccess")})
                }).catch(e => {
                    console.log(e);
                })
            },
            selected(cs) {
                this.selectedColumns = cs
            },
        },
        watch: {
            "table.id"() {
                console.log("column select table.id watcher");
                this.load()
            }
        },
        computed: mapState({
            table: "table",
            getUrl: state => state.urls["getTableColumnsUrl"],
            putUrl: function (state) {
                if (this.update) {
                    return state.urls["updateTableColumnsUrl"]
                }
                return state.urls["createTableColumnsUrl"];
            },
        })
    }
</script>
