<!------------------------------------------------------------------

За редакция на данните в клетка
 показва се при натискане на десен бутон (върху клетка )-> редактирай

--------------------------------------------------------------------->
<template>

    <span style="max-width:400px" class="cellEditShow">
              <div class="input-field row cellEditShow">

                    <!--Съобщение за грешка-->
                    <span class="red-text">{{error}}</span>
                  <!--Aко няма зададена уникална колона-->
                        <span v-if="!pkColumn" class="orange-text text-darken-2">
                            <span v-if="access==='admin'||access==='owner'">
                                {{ $t("site.dbs.table.cellEdit.errs[0]") }}
                            </span>
                            <span v-else>
                                {{ $t("site.dbs.table.cellEdit.errs[1]") }}
                            </span>

                        </span>
                  <!--Aко има функция за редакция-->
                        <span v-else-if="column.mutation_function.func">
                            <!--timestampt2timestring-->
                            <span v-if="column.mutation_function.func=='timestamp2timestring'">
                               <input v-model="newValue" type="text" class="datepicker col s10">
                            </span>

                            <!--int2bool-->
                            <span v-else-if="column.mutation_function.func=='int2bool'">
                                <div class="col s10">
                                     <label>
                                        <input v-model="newValue" name="editCellBoolRadio" type="radio"
                                               value="Bool(True)"/>
                                        <span><i class="material-icons green-text">check</i></span>
                                    </label>
                                    <label>
                                        <input v-model="newValue" name="editCellBoolRadio" type="radio"
                                               value="Bool(False)"/>
                                        <span><i class="material-icons red-text">close</i></span>
                                    </label>
                                </div>
                            </span>

                            <!---dict-->
                             <span v-else-if="column.mutation_function.func=='dict'">
                               <select class="col s10" v-model="newValue" id="cellEditSelect">
                                      <option v-for="v in JSON.parse(column.mutation_function.dict)"
                                              :value="v">{{v}}</option>
                               </select>
                            </span>

                            <!---stringF--->
                            <span v-else-if="column.mutation_function.func=='stringF'">
                               <input v-model="newValueF" class="col s10" type="text"/>
                            </span>

                        </span>
                  <!--Aко е ралация към друга таблица-->
                        <span v-else-if="column.relation.origin_column" class="orange-text text-darken-2">
                            {{ $t("site.dbs.table.cellEdit.errs[2]") }}
                        </span>
                  <!--Aко няма функция за промяна-->
                        <span v-else>
                            <!--Text -> text area -->
                            <span v-if="column.data_type=='text'">
                                <textarea v-model="newValue" class=" materialize-textarea"></textarea>
                            </span>
                            <!--bool -> check boxes-->
                            <span v-else-if="column.data_type=='bool'">
                                <div class="col s10">
                                     <label>
                                        <input v-model="newValue" name="editCellBoolRadio" type="radio"
                                               value="Bool(True)"/>
                                        <span><i class="material-icons green-text">check</i></span>
                                    </label>
                                    <label>
                                        <input v-model="newValue" name="editCellBoolRadio" type="radio"
                                               value="Bool(False)"/>
                                        <span><i class="material-icons red-text">close</i></span>
                                    </label>
                                </div>
                            </span>

                            <!--Time -> data picker -->
                            <span v-else-if="column.data_type=='time'">
                                <input v-model="newValue" type="text" class="datepicker col s10">
                            </span>

                            <span v-else>
                                  <input v-model="newValue" class="" type="text"/>
                            </span>

                        </span>


                  <!--- Бутон за запазване --->
                  <div class="col s6" v-if="!column.relation.origin_column&& pkColumn">
                      <spinner v-show="loading" size="small"></spinner>
                        <button @click="save" data-position="bottom" :data-tooltip=" $t('site.dbs.table.cellEdit.save') " v-show="!loading"
                                class="btn-small btn-floating blue edit-cell tooltipped"><i
                                class="material-icons">save</i></button>
                  </div>

                  <!--- Бутон за връщане на предните записи --->
                  <div class="col s6 right-align" v-if="!column.relation.origin_column && pkColumn">
                        <button @click="logs" data-position="bottom" :data-tooltip=" $t('site.dbs.table.cellEdit.logs') "
                                class="btn-small btn-floating orange edit-cell tooltipped ">
                            <i class="material-icons ">history</i></button>
                  </div>
              </div>

        <!--Модал със edit-log-овете-->
            <div id="editLogsModal" class="modal cellEditShow">
                <div class="modal-content">
                    <logs-table @revert="revert" :logs="editLogs" :show-header="true" :show-column="false"
                                height="450"></logs-table>
                </div>
            </div>
    </span>
</template>

<script>
    import {mapState} from 'vuex'
    import {stringify} from "qs";

    export default {
        props: ["cellValue", "column", "identifiers", "pkColumn", "pkValue"],
        data() {
            return {
                newValue: "",
                loading: false,
                error: null,

                editLogs: [],

                //Aко има функция за промяна stringF
                strBefore: "qwe",
                strAfter: "rty",
                newValueF: "",
            }
        },
        created() {

            this.newValue = this.cellValue;

            //инициализира tooltip-овете на бутоните за запазване и преглед на историята
            setTimeout(() => {
                M.Tooltip.init(document.querySelectorAll('.edit-cell.tooltipped'), {});
            }, 50);


            this.initInputs()
        },

        methods: {

            //инициализира всички нужни front-and компонентчета (dropdawn, datepicker, )
            initInputs() {
                //Ako има функция за промяна dict (има нужда от <select>)
                if (this.column.mutation_function.func === "dict") {
                    setTimeout(() => {
                        M.FormSelect.init(document.querySelectorAll('#cellEditSelect'), {});
                    }, 50);
                }

                //Ako има функция за промяна stringF
                if (this.column.mutation_function.func === "stringF") {
                    let strings = this.column.mutation_function.stringF.split("{{@}}");
                    this.strAfter = strings[1];
                    this.strBefore = strings[0];

                    this.newValueF = this.newValue.slice(0, -this.strAfter.length);
                    this.newValueF = this.newValueF.slice(this.strBefore.length);
                }


                //Aко има функция timestamp2timestring  (има нужда от date picker)
                if (this.column.mutation_function.func === "timestamp2timestring" || this.column.data_type === "time") {
                    setTimeout(() => {
                        //DatePicker-a, ако има такъв
                        var vue = this;
                        M.Datepicker.init(document.querySelectorAll('.datepicker'), {
                            format: "yyyy-mm-dd (00:00) ",
                            setDefaultDate: true,
                            defaultDate: moment(this.newValue, "YYYY-MM-DD (H:m)").toDate(),
                            onOpen() {
                                setTimeout(() => {
                                    $(".datepicker-modal").addClass("cellEditShow");
                                    $(".datepicker-calendar").addClass("cellEditShow");
                                }, 50);
                            },
                            onSelect(newVal) {
                                vue.newValue = moment(newVal).format("YYYY-MM-DD (00:00)");
                            }
                        });
                    }, 100);
                }
            },

            //Запазва промените
            save() {
                //Данни за put-a
                let d = {
                    column_id: this.column.id,
                    new_value: this.newValue,
                    identifiers: JSON.stringify(this.identifiers),
                };

                this.loading = true;

                axios.put(this.url, stringify(d)).then(() => {
                    this.$emit("edited", this.newValue);
                    this.loading = false;
                }).catch(({response}) => {
                    this.loading = false;
                    this.error = response.data
                })
            },

            //Зарежда edit log-овете
            logs() {
                //Данни за post-a
                let d = {
                    column_id: this.column.id,
                    pk_column: this.pkColumn,
                    pk_value: this.pkValue,
                };

                //прави заяква към въръвра
                axios.post(this.logsUrl, stringify(d)).then(({data}) => {
                    this.editLogs = [];

                    //Маха ненужните данни
                    _.forEach(data, log => {
                        log.user = log.user.name ? log.user.name : log.user.email;
                        log.column = {column: log.column.column, verbose: log.column.verbose};
                        this.editLogs.push(log)
                    });

                    //отваря модала със списъка с log-ве
                    M.Modal.init(document.querySelectorAll('#editLogsModal'), {
                        parent: "body"
                    });
                    M.Modal.getInstance(document.getElementById("editLogsModal")).open();
                    //Прави  tooltips на бутончетата за връщане към предищно състояние (oт модала със логове)
                    setTimeout(() => {
                        M.Tooltip.init(document.querySelectorAll('.edit-cell-logs.tooltipped'), {});
                    }, 50);


                }).catch(({response}) => {
                    this.error = response.data
                });
            },

            //"връща" предишно състояние
            revert(log) {
                this.newValue = log.old_value;
                M.Modal.getInstance(document.getElementById("editLogsModal")).close();
                this.initInputs()
            }
        },

        watch: {
            newValueF(v) {
                this.newValue = this.strBefore + v + this.strAfter;
            }
        },


        computed: mapState({
            url: state => state.urls["updateCellDataUrl"],
            logsUrl: state => state.urls["cellEditLogUrl"],
        })
    }
</script>

