<!--
Мода да потвърждаване на изтриване на функция за промяна
-->
<template lang="html">
    <div style="margin-top:100px;" id="deleteValidatorModal" class="modal">
        <div class="modal-content">
            <h5>{{$t("site.dbs.modals.deleteValidation.header")}}</h5>
        </div>
        <div class="modal-footer">
            <a v-on:click="deleteMut" href="#!" class="modal-close waves-effect waves-green btn-flat">{{$t("yes")}}</a>
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">{{$t("no")}}</a>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        methods: {
            //  Изтрива функцията (прави request към сървъра)
            deleteMut() {
                axios.delete(this.url.replace("column_id", this.column.id).replace("validation_id", this.validation_func.id)).then(() => {
                    M.toast({html: this.$t("site.dbs.modals.deleteValidation.msg")});
                    this.$store.dispatch("removeValidation",{
                        validation_func: this.validation_func,
                        column: this.column
                    })
                 }).catch((e) => console.log(e))
            }
        },
        computed: mapState({
            column: "column",
            validation_func: "validation_func",
            url: state => state.urls["deleteValidationUrl"]
        })
    }
</script>

<style lang="css">
</style>
