<!--
Всички функция за промяна към дадена таблица
-->
<template lang="html">
    <span>
      <div v-if="mutations.length " class="white tableWrapper">
        <table>
          <thead>
            <tr>
                <th>{{$t('site.dbs.modals.tableSettings.mutators.col')}}</th>
                <th>{{$t('site.dbs.modals.tableSettings.mutators.func')}}</th>
                <th>{{$t('site.dbs.modals.tableSettings.mutators.params')}}</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="m in mutations">
              <td>{{findCol(m.ColumnID)}}</td>
              <td>{{findFunc(m.func)}}</td>
              <td><pre v-if="m.func=='dict'">{{mutParams(m)}}</pre>
                  <span v-else>{{mutParams(m)}}</span>
              </td>
                <!--Бутонче за потвърждаване на изтриването-->
              <td><i @click="deleteAsk(m)" class="delBtn right-aligned material-icons">delete</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <br>
        <div class="msg light-blue lighten-5 light-blue-text">
          <h6 class="center-align">
              <i class="material-icons">info_outline</i>&nbsp;
              {{$t('site.dbs.modals.tableSettings.mutators.empty')}}
          </h6>
        </div>
      </div>

      <a @click="openAddModal" style="top:-18px;margin-right:15px;"
         class="right btn-floating  waves-effect waves-light  pink accent-3">
        <i class="material-icons">add</i>
      </a>

    </span>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {mutation_funcs}
        },
        methods: {
            //отваря модала за добяне на нова функция
            openAddModal() {
                M.Modal.init(document.querySelectorAll('#addMutationModal'), {});
                M.Modal.getInstance(document.getElementById("addMutationModal")).open();
            },
            //отваря модала за потвърждаване на изтриването
            deleteAsk(m) {
                M.Modal.init(document.querySelectorAll('#deleteMutationModal'), {dismissible: false});
                M.Modal.getInstance(document.getElementById("deleteMutationModal")).open();
                this.$store.commit("setColumn", {id: m.ColumnID})
            },
            //Връща името на  колона на база id-то
            findCol(id) {
                let c = _.find(this.allColumns, c => {
                    return c.id === id
                });
                return c.verbose ? c.verbose : c.column;
            },
            //Връща human readable името на  функция
            findFunc(name) {
                return _.find(this.mutation_funcs, f => {
                    return f.name === name
                }).verbose[window.locale];
            },

            //Връща параметрите за мутация (ако няма такива връща "---")
            mutParams(m) {
                if (m.func == "dict") {
                    var s = "";
                    var dictJson = JSON.parse(m.dict);
                    Object.keys(dictJson).forEach(k => {
                        var v = dictJson[k];
                        s += k + " : " + v + "\n"
                    });
                    return s;
                }
                if (m.func === "stringF") {
                    return m.stringF.replace("{{@}}", this.$t('site.dbs.modals.tableSettings.mutators.stringFText'))
                }
                return "---"
            }
        },
        computed: mapState({
            //Всички функции за мутация за дадената таблица
            mutations(state) {
                var mf = [];
                state.table.columns.forEach(c => {
                    if (c.mutation_function.func) {
                        mf.push(c.mutation_function)
                    }
                });
                return mf
            },
            allColumns: state => state.table.columns

        }),

    }
</script>

<style lang="css" scoped="">
    .delBtn {
        cursor: pointer;
    }

    .tableWrapper {
        margin: .5rem 0 1rem;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        padding-left: 18px;
        margin-bottom: -1px;
    }

    pre {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-collapse: collapse;
        border-spacing: 0px 0px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.87);
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        text-align: left;
    }
</style>
