<!------------------------------------
Бутоните за страница (paginate-ването)
под таблиците от БД
-------------------------------------->
<template lang="html">
    <ul v-if="count>limit" class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li v-bind:class="{active: offset==0 && n==0 ? true : n==Math.ceil(offset/limit) }" class="waves-effect"
            v-for="(p,n) in new Array(Math.ceil(count/limit))">

            <!-- Aко е близо до активен бутон или края на бутоните -->
            <a v-if="(n-1<=Math.ceil(offset/limit) && n+3>=Math.ceil(offset/limit) ) || n<=3 || n>=Math.ceil(count/limit) -5"
               @click="$emit('changePage',(n+1))" href="#!">{{n+1}}</a>
        </li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</template>

<script>
    export default {
        props: ['count', 'offset', 'limit'],
    }
</script>

<style lang="css">
</style>
