<!------------------------------------------------------------------------------------------------------------------------------
Модал за всички настойки на таблица
Това включва:
    Таб таблица
        промяна името на таблицата
        промяна колоната уникален ключ на таблицата (ползва се за редакция на данни в клетки)

    Таб колони
        избор на колони, които да влязат в таблицата
        преименуване на колони
        задаване на колони, които да са само за четене

        Таб модификации
           добавяне и изтриване на функции за промяна (int->bool; unix timestamp -> time string и др.)
           добавяне и изтриване на функции за валидации (текс между m и k символа; валиден email и др.)
           добавяне и изтриване на релации
            (стойностите в колона user (uuid) във таблица posts ще се сменят със потребителските имена на потребителите (string) )

    Таб промени
        всички записи за редакции в клетките на таблицата


-------------------------------------------------------------------------------------------------------------------------------->

<style lang="css">
    .input-field input {
        color: #2f2f2f;
    }

    .errors, .msg {
        padding: 6px 6px 6px 6px;
    }

    .spinner {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1000;
        margin-left: -24px;
    }

    .loading {
        pointer-events: none;
    }

    #tablePkSelectWrapper > .select-wrapper > ul{
       max-height: 310px !important; ;
    }

</style>

<template lang="html">
    <!--materialize modal-->
    <div id="tableSettingsModal" class="modal modal-fixed-footer">
        <div class="modal-content" :class="{loading:loading}">


            <div class="spinner">
                <spinner size="big" v-show="loading"></spinner>
            </div>

            <!--Табове с Настройки на таблицата -->
            <h4>{{$t("site.dbs.modals.tableSettings.header")}} "{{table.verbose ? table.verbose : table.name}}"</h4>
            <br>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" id="table-settings-tabs">
                        <li class="tab col s3"><a href="#table">{{$t("site.dbs.modals.tableSettings.table")}}</a></li>
                        <li class="tab col s3"><a href="#columns">{{$t("site.dbs.modals.tableSettings.columnsHeader")}}</a></li>
                        <li class="tab col s3"><a href="#logs">{{$t("site.dbs.modals.tableSettings.modifications")}}</a></li>
                    </ul>
                </div>
                <!--ТАБЛИЦА -->
                <div id="table" class="col s12">
                    <br>
                    <!--Table name-->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">fingerprint</i>
                        <input :class="{invalid:tableRenamingErr}" v-model="tableName" :placeholder="table.name"
                               id="table_edit_name" type="text">
                        <label class="active" for="table_edit_name">{{$t("site.dbs.modals.tableSettings.tableName")}}</label>
                        <span v-show="tableRenamingErr" class="helper-text" :data-error="tableRenamingErr"></span>
                    </div>

                    <br>
                    <!--PK column-->
                    <div class="input-field col s12" id="tablePkSelectWrapper">
                        <i class="material-icons prefix">vpn_key</i>

                        <select  id="tablePkSelect" v-model="pkColumn" class="invalid">
                            <option value="" disabled selected>{{$t("site.dbs.modals.tableSettings.pkColumnHint")}}</option>
                            <option v-for="column in table.columns" :value="column.column">{{column.verbose?column.verbose+" ("+column.column+")":column.column}}</option>
                        </select>

                        <label>{{$t("site.dbs.modals.tableSettings.pkColumn")}}</label>
                        <span v-show="pkColumnErr" class="helper-text" :data-error="pkColumnErr"></span>
                    </div>

                    <!--Бутон за запазване на промените-->
                    <div class="col s12" v-show="table.verbose !==tableName || table.pk_column !== pkColumn ">
                        <a @click="saveChanges" style="width:100%" class="waves-effect waves-light btn pink">{{$t("save")}}</a>
                    </div>
                </div>
                <!--КОЛОНИ-->
                <div id="columns" class="col s12">
                    <!-- Tab menu настройки на колони-->
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs" id="table-settings-tabs-cols">
                                <li class="tab col s3"><a class="active" href="#chose_cols">{{$t("site.dbs.modals.tableSettings.columns.chose")}}</a></li>
                                <li class="tab col s3"><a href="#col_rename">{{$t("site.dbs.modals.tableSettings.columns.rename")}}</a></li>
                                <li class="tab col s3"><a href="#col_rights">{{$t("site.dbs.modals.tableSettings.columns.rights")}}</a></li>
                                <li class="tab col s3"><a href="#mutators">{{$t("site.dbs.modals.tableSettings.columns.modificationsH")}}</a></li>

                            </ul>
                        </div>
                        <!-- Избор на колони -->
                        <div id="chose_cols" class="col s12">
                            <db-table-chose-columns
                                    height="298"
                                    :update="true"
                            ></db-table-chose-columns>

                        </div>

                        <!-- Права -->
                        <div id="col_rights" class="col s12">
                            <db-table-access  height="335"></db-table-access>
                        </div>

                        <!-- Преименуване -->
                        <div id="col_rename" class="col s12">
                            <db-table-rename-cols  height="335"></db-table-rename-cols>
                        </div>

                        <!---мутации f(column) и валидации -->
                        <div id="mutators" class="col s12">

                            <div class="row">
                                <div class="col s12">
                                  <ul class="tabs" id="table-settings-tabs-cols-mutators">
                                    <li class="tab col s3"><a class="active" href="#mutators_functions">{{$t("site.dbs.modals.tableSettings.columns.modifications.mutations")}}</a></li>
                                    <li class="tab col s3"><a  href="#mutators_relations">{{$t("site.dbs.modals.tableSettings.columns.modifications.relations")}}</a></li>
                                      <li class="tab col s3"><a  href="#mutators_validators">{{$t("site.dbs.modals.tableSettings.columns.modifications.validations")}}</a></li>
                                  </ul>
                                </div>
                                <!-- функции за модификация -->
                                <div id="mutators_functions" class="col s12">
                                    <column-mutations></column-mutations>
                                </div>
                                <!-- релации -->
                                <div id="mutators_relations" class="col s12">
                                  <column-relations></column-relations>
                                </div>

                                <!--валидации-->
                                <div id="mutators_validators" class="col s12">
                                    <column-validations></column-validations>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
                <!--ПРОМЕНИ-->
                <div id="logs" class="col s12">
                    <table-logs @rows-edited="$emit('rows-edited')"></table-logs>
                </div>
            </div>
        </div>


        <div class="modal-footer " :class="{loading:loading}">
            <a href="#!" class="modal-close waves-effect waves-teal btn-flat">{{$t("close")}}</a>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import {stringify} from "qs";


    export default {
        data() {
            return {
                loading: true, //дари да се покаже loader-a

                //За преименуването на таблицата
                tableName: "",//новоти име на таблицата (при редактиране)
                tableRenamingErr: null,

                //За задаване на PK колона
                pkColumn:"",
                pkColumnErr:null
            }
        },
        created() {
            //Името на таблицата
            this.tableName = this.table.verbose ? this.table.verbose : this.table.name;
            //Уникалният и ключ
            this.pkColumn = this.table.pk_column;

            setTimeout(() => {
                //Tab-ове
                M.Tabs.init(document.getElementById("table-settings-tabs"), {
                    onShow: () => {
                        iCols.updateTabIndicator();
                    }
                });
                //Табове за колони
                var iCols = M.Tabs.init(document.getElementById("table-settings-tabs-cols"), {
                  onShow: () => {
                      iColsMuts.updateTabIndicator();
                  }
                });
                //Табове за мутации на колони
                var iColsMuts = M.Tabs.init(document.getElementById("table-settings-tabs-cols-mutators"), {});

                //dropdown
                M.FormSelect.init( document.querySelectorAll('select'), {});

                this.loading = false;

            }, 300)
        },
        watch: {
            //Следи за промяна в колоните, за да миже дa update-не селекта за PK колона
            "table.columns"(){
                setTimeout(()=>{
                    M.FormSelect.init(document.querySelectorAll('#tablePkSelect'),{});
                },60);
            }
        },

        methods: {

            //запазва промените, ако има такива (име и pk column)
            saveChanges(){
                if (this.table.verbose !==this.tableName ){
                    this.renameTable()
                }
                if (this.table.pk_column !== this.pkColumn){
                    this.setPkColumn()
                }
            },


            //Преименува таблица
            renameTable() {
                let url = this.renameTableUrl.replace("table_id", this.table.id);
                axios.post(url, stringify({verbose: this.tableName})).then(() => {
                  let t = this.table;
                  t.verbose = this.tableName;
                  this.$store.dispatch("setTable", t).then(()=>{
                    M.toast({html: this.$t("site.dbs.modals.tableSettings.renameSuccess")});
                  })
                }).catch(({response}) => {
                    this.tableRenamingErr = response.data.errors.verbose[0]
                })
            },

            //задава PK колона за  таблицата
            setPkColumn() {
                let url = this.setTablePkColumnUrl.replace("table_id", this.table.id);
                axios.post(url, stringify({pk_column: this.pkColumn})).then(() => {
                    $('#tablePkSelectWrapper > .select-wrapper').removeClass("invalid");
                    let t = this.table;
                    t.pk_column = this.pkColumn;
                    this.$store.dispatch("setTable", t).then(()=>{
                        M.toast({html:  this.$t("site.dbs.modals.tableSettings.pkSuccess")});
                    })
                }).catch(({response}) => {
                    $('#tablePkSelectWrapper > .select-wrapper').addClass("invalid");
                   this. pkColumnErr = response.data
                })
            }
        },
        computed: mapState({
            table:"table",
            getTableColumnsUrl: state => state.urls["getTableColumnsUrl"],
            renameTableUrl: state => state.urls["renameTableUrl"],
            setTablePkColumnUrl: state => state.urls["setTablePkColumnUrl"],
        })
    }
</script>
