<!---------------------------------------
Всички edit log-ове за дадена таблица
(във таблица->настройки->промени)
---------------------------------------->

<template>
    <div>

        <!--Loader-->
        <spinner v-show="loading" style="margin-left: 50%;margin-bottom: -180px;"
                 size="big"></spinner>

        <!--Таблица с log-овете-->
        <logs-table
                @revert="revert"
                :show-header="false"
                :show-column="true"
                :logs="logs"
                height="360"
        ></logs-table>


    </div>

</template>

<script>
    import {mapState} from 'vuex'
    import {stringify} from "qs";

    export default {

        data() {
            return {
                logs: [], //всички logo-ве за таблицата
                loading:false //дари да се покаже loader-а
            }
        },

        created() {
            //Взима всички log-ове за таблицата
            this.loadLogs()
        },

        methods: {
            revert(log) {
                console.log(log);
                let identifiers = {};
                identifiers[log.pk_column]=log.pk_value;

                //Данни за put-a
                let d = {
                    column_id: log.column_id,
                    new_value: log.old_value,
                    identifiers: JSON.stringify(identifiers),
                };
                this.loading = true;

                //Прави заяква към сървъра (за промянва на данни в клетка)
                axios.put(this.revertUrl, stringify(d)).then(() => {
                    this.loading = false;
                    M.toast({html:this.$t("sited.dbs.table.logs.revertSuccess")});
                    this.$emit("rows-edited");
                    this.loadLogs();
                }).catch(({response}) => {
                    this.loading = false;
                    M.toast({html: response.data, classes: 'red darken-1'});
                })

            },


            //Зарежда log-овете
            loadLogs(){
                axios.get(this.url).then(({data}) => {
                    this.logs=[];
                    //Маха ненужните данни (за потребителя и колоната)
                    _.forEach(data, log => {
                        log.user = log.user.name ? log.user.name : log.user.email;
                        log.column = {column: log.column.column, verbose: log.column.verbose};
                        this.logs.push(log)
                    });

                    //Прави  tooltips на бутончетата за връщане към предищно състояние (във таблицата с логове)
                    setTimeout(() => {
                        M.Tooltip.init(document.querySelectorAll('.edit-cell-logs.tooltipped'), {});
                    }, 50);


                }).catch(({response}) => {
                    console.log(response)
                })
            }
        },

        computed: mapState({

            tableID: state => state.table.id,
            //url за зареждане на logo-ве
            url: function (state) {
                return state.urls["getTableLogsUrl"].replace("table_id", this.tableID)
            },
            //url за въстановяване на предишно състояние
            revertUrl: state => state.urls["updateCellDataUrl"],
        })
    }
</script>