<!-- Първа страница когато се логнеш -->
<br>
<h4 class="center">
    <%=t("index.welcome")%>,
    <%= if  (!null(current_user.Name)) { %>
       <%=current_user.Name %>
    <% } else { %>
     <%=current_user.Email %>
    <% } %>
    !
</h4>
<br>
        <!--- съвет на деня --->
<div class="center orange darken-2 z-depth-1 white-text msg">
    <h5>&nbsp;<i class="far fa-lightbulb"></i>&nbsp;  <%=t("index.tipHeader")%>,</h5>
    <p>&nbsp;  <%=t("index.tip")%>,</p>
</div>
