<!--Модал за добавяне/редакция на диаграма (статистика)-->
<template lang="html">
    <div :id="isEdit ? 'editChartModal': 'addChartModal' " class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>
                <span v-if="isEdit">{{$t("site.charts.modal.headerUpdate")}}</span>
                <span v-else>{{$t("site.charts.modal.headerCreate")}}</span>
            </h4>
            <br>

            <div v-show="error" class="white-text col s12 msg pink accent-3 errors" style="padding: 6px 6px 6px 6px;">
                {{error}}
            </div>

            <!--Стъпка 1 - данни за статистиката  -->
            <span v-show="step==1">

                <!-- Вид на статистиката (на данните) -->
                       <div class="input-field row">
                         <select class="chartSelect0" v-model="statistics_type">
                           <option value="percentage" class="active">{{$t("site.charts.modal.types[0]")}}</option>
                           <option value="countTime">{{$t("site.charts.modal.types[1]")}}</option>
                         </select>
                         <label>{{$t("site.charts.modal.typeLabel")}}</label>
                       </div>


                <!--DBConn -->
                        <div class="input-field row">
                          <select class="chartSelect1" v-model="dbcon">
                            <option value="" disabled selected>{{$t("site.charts.modal.db")}}</option>
                            <option v-if="connHasColumns(conn)" v-for="conn in connections" :value="conn">{{conn.connection_name}}</option>
                          </select>
                          <label>{{$t("site.charts.modal.dbLabel")}}</label>
                        </div>
                <!-- Table -->
                      <div v-show="dbcon" class="input-field row">
                        <select class="chartSelect2" v-model="table">
                          <option value="" disabled selected>{{$t("site.charts.modal.table")}}</option>
                          <option v-if="t.columns" v-for="t in dbcon.tables"
                                  :value="t">{{t.verbose?t.verbose:t.name}}</option>
                        </select>
                        <label>{{$t("site.charts.modal.tableLabel")}}</label>
                      </div>
                <!-- Column -->
                      <div v-show="table && statistics_type" class="input-field row">
                        <select class="chartSelect3" v-model="column">
                          <option value="" disabled>{{$t("site.charts.modal.column")}}</option>
                          <option v-for="c in table.columns" :value="c.column">{{c.verbose?c.verbose:c.column}}</option>
                        </select>
                        <label>
                            <span v-if="statistics_type === 'percentage'">{{$t("site.charts.modal.columnLabel")}}</span>
                            <span v-else>{{$t("site.charts.modal.createdAtColumnLabel")}}</span>
                        </label>
                      </div>

                <!--Дали created_at колоната е timestamp(intiger)-->
                  <label v-show="statistics_type == 'countTime' && column">
                    <input type="checkbox" v-model="is_timestamp"/>
                    <span>{{$t("site.charts.modal.isTimestamp")}}</span>
                  </label>
            </span>

            <!--Стъпка 1 - вид на диаграмата  -->

            <span v-show="step==2">
                <!-- Вид на диаграмата-->
                <div class="input-field row">
                  <select class="chartSelect4" v-model="type">
                    <option value="" disabled selected>{{$t("site.charts.modal.chart")}}</option>
                    <option :data-icon="'/assets/images/charts/'+t.type+'.png'" v-for="t in chartTypes"
                            :value="t.type">
                        <span v-if="locale==='bg'">{{t.verbose}}</span>
                        <span v-else>{{t.type}}</span>

                        <span v-if="t.type=='pie'" class="new badge cyan" :data-badge-caption='$t("site.charts.modal.recommended")'></span>
                    </option>
                  </select>
                  <label>{{$t("site.charts.modal.chartLabel")}}</label>
                </div>
            </span>

            <span v-show="step==3">
                <!-- Името на диаграмата -->
                <div class="input-field row">
                  <input v-model="name" placeholder="" type="text">
                  <label class="active">{{$t("site.charts.modal.name")}}</label>
                </div>
            </span>

        </div>
        <div class="modal-footer">
            <!--Назад-->
            <a v-if="step!=1" @click="back()" href="#2!" class="waves-effect waves-teal btn-flat">{{$t("back")}}</a>
            <!--Напред-->
            <a v-if="(column && step==1) || (step==2 && type)" @click="next()" href="#1!"
               class="waves-effect waves-teal btn-flat">{{$t("next")}}</a>
            <!--Submit-->
            <a v-if="step==3 && type" @click="submit()" href="#3!" class="waves-effect waves-teal btn-flat">{{$t("save")}}</a>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: ['isEdit', 'editItem'],
        data() {
            return {
                error: false,
                step: 1, //стъпката във wizard-a за създаване / редактиране на таблица
                statistics_type: "percentage", //вида на данните в диаграмата
                dbcon: "", //връзката към базата данни
                table: "",
                column: "",
                type: "", //вида на представяне на данните (вида на диаграмата)
                name: "",
                is_timestamp: false,
                locale:window.locale,

                //възможните видо диаграми
                chartTypes: [
                    {type: "bar", verbose: "стълбчеста"},
                    {type: "radar", verbose: "радарна"},
                    {type: "doughnut", verbose: "пръстеновидна"},
                    {type: "pie", verbose: "кръгова"},
                    {type: "polarArea", verbose: "диаметрално кръгова"},
                ]
            }
        },
        created() {
            //инициализира първите 2 select-a
            this.initSelect(".chartSelect0");
            this.initSelect(".chartSelect4");
        },
        watch: {
            connections() {
                this.initSelect(".chartSelect1");
            },
            dbcon() {
                this.initSelect(".chartSelect2");
            },
            table() {
                //Задава колона created_at по подразбиране
                if (this.statistics_type == "countTime" && !this.column) {
                    this.column = this.createdAtCol().column;
                    this.is_timestamp = this.createdAtCol().data_type == "int";
                }
                this.initSelect(".chartSelect3");
            },
            type() {
                //Задава име поподразбиране
                let chart = _.find(this.chartTypes, c => {
                    return c.type === this.type;
                });
                if  (locale==="bg"){
                    chart=chart.verbose;
                }else{
                    chart=chart.type
                }
                chart = chart.charAt(0).toUpperCase() +chart.slice(1);

                if (this.type && this.statistics_type != "countTime" && !this.name) {
                    this.name = this.$t("site.charts.modal.names[0]", {
                        type:chart,
                        column:this.column
                    })
                }

            },
            step() {
                //Прескача стъпката за избиране типа, ако статистиката  е countTime
                //Само line е възможен тип
                if (this.step === 2 && this.statistics_type === "countTime") {
                    this.type = "line";
                    this.step = 3;
                    if (!this.name)
                        this.name =  this.$t("site.charts.modal.names[1]", {
                           table:this.table.name
                        });
                }else if (this.step === 2) this.initSelect(".chartSelect4");
            },
            //вика се когато модала се използва за редакция (вместо създаване)
            editItem(c) {
                //Попълва всички полета
                this.statistics_type = c.statistics_type;
                this.dbcon = c.db;
                this.column = c.column;
                this.type = c.type;
                this.is_timestamp = c.is_timestamp;
                this.table = _.find(c.db.tables, (t) => {
                    return t.name === c.table
                });
                this.name = c.name;
                this.is_timestamp = c.is_timestamp;
            }

        },
        methods: {
            //Мърда стъпка напред
            next() {
                this.step += 1
            },
            //Мърда стъпка назад
            back() {
                this.step -= 1
            },
            //Праща заявка към сървъра
            submit() {
                let chart = {
                    table: this.table.name,
                    column: this.column,
                    type: this.type,
                    db_id: this.dbcon.id,
                    db: this.dbcon,
                    name: this.name,
                    statistics_type: this.statistics_type,
                    is_timestamp: this.is_timestamp,
                };

                //Ако модала се ползва за редакция
                if (this.isEdit)  chart.id  = this.editItem.id;


                this.error = false;
                axios.put(this.url, chart).then(({data}) => {
                    if (!this.isEdit) chart.id = data;
                    //Update-ва vuex store-a
                    let vuexMethod = "addChart";
                    if (this.isEdit)  vuexMethod  ="editChart";
                    this.$store.dispatch(vuexMethod, chart).then(() => {
                        let m = this.$t("site.charts.modal.messages[0]");
                        if (this.isEdit) m= this.$t("site.charts.modal.messages[1]") ;

                        M.toast({html:m });

                        let  mod = "addChartModal";
                        if (this.isEdit) mod="editChartModal";
                        M.Modal.getInstance(document.getElementById(mod)).close();

                        //reset-ва всички данни
                        Object.assign(this.$data, this.$options.data.call(this));
                    }).catch(e=>{console.log(e)});
                }).catch(({response}) => {
                    //406 Ако има грешка при свърване със отдалечения сървър
                    if (response.status === 406) {
                        this.error =  this.$t("site.charts.modal.messages[2]", {
                            err:response.data
                        });
                    }//403 ако има грешка при данните във модала (не отговарят на валидациите)
                    else {
                        let ers = response.data.errors;
                        this.error = ers[Object.keys(ers)[0]][0]
                    }
                })
            },
            //Инициализира dropdown
            initSelect(name) {
                setTimeout(() => {
                    M.FormSelect.init(document.querySelectorAll(name));
                }, 10)
            },
            //Проверява, дали има връзка към БД, която да има таблица, която да има избрани колони
            //Връща дали връзката е възможно да бъде избрана
            connHasColumns(conn) {
                var has = false;
                conn.tables.forEach(t => {
                    if (t.columns && t.columns.length) {
                        has = true
                    }
                });
                return has
            },
            //Връща created_at колоната по подразбиране
            createdAtCol() {
                let col = "";
                //Aко има колона с име created_at
                this.table.columns.forEach(c => {
                    if (_.includes(["created_at", "Created_at", "Created_At", "createdAt", "CreatedAt", "created", "Created", "created_on", "createdOn", "CreatedOn"], c.column)) {
                        col = c
                    }
                });

                if (col) return col;
                //Aко няма колона с име created_at, но има с тип време
                this.table.columns.forEach(c => {
                    if (c.data_type === "time") col = c
                });
                return col
            }
        },
        computed: mapState({
            connections: "connections",
            //url-a за запазване / update-ване
            url: function (state) {
                if (this.isEdit) return state.urls['updateChartUrl'].replace("chart_id", this.editItem.id);
                return state.urls['createChartUrl']
            },
        }),

    }
</script>
