<!----------------------------------------
Статистика (диаграми)
Списък със всички статистики за даден сайт
------------------------------------------>
<template lang="html">
    <div>
        <h3>{{$t("site.charts.header")}}</h3>

        <!--loader-->
        <div v-if="loading">
            <div class="center-align">
                <spinner></spinner>
            </div>
        </div>

        <!-- съобщение, че няма добавени статистики -->
        <div v-if="!loading && (!charts || !charts.length )" class="msg light-blue lighten-5 light-blue-text">
            <h6 class="center-align">
                <i class="material-icons">info_outline</i>&nbsp;
                {{$t("site.charts.empty")}}
            </h6>
        </div>
        <br>

        <!--Диаграмите-->
        <div class="row">
            <div class="col s12 m9 l5 " v-for="chart in charts">
                <div class="card horizontal">
                    <!--Изображение, показващо вида на диаграмата-->
                    <div class="card-image hide-on-small-only" @contextmenu="rClick($event)" :data-id="chart.id">
                        <div class="img" :style="'background-image: url(\'/assets/images/charts/'+chart.type+'.png\');'"
                             @contextmenu="rClick($event)" :data-id="chart.id"></div>
                    </div>
                    <!--Малко meta данни за статистиката-->
                    <div class="card-stacked">
                        <div @contextmenu="rClick($event)" :data-id="chart.id" class="card-content">
                            <h6>{{chart.name}}</h6>
                            <span class="definition"> {{$t("site.charts.db")}} :</span> {{chart.db.connection_name}} <br>
                            <span class="definition"> {{$t("site.charts.table")}} :</span> {{chart.table}} <br>
                            <span class="definition"> {{$t("site.charts.column")}} : </span> {{chart.column}} <br>
                        </div>
                        <!--Бутонче за отваряне на диаграмата-->
                        <div class="card-action">
                            <a :href="getChartUrl(chart.id)" class="pink-text text-accent-3 right"> {{$t("open")}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Бутон за добавяне-->
        <a data-target="addChartModal"
           class="btn-floating addBtn  waves-effect waves-light  cyan darken-1 modal-trigger"><i class="material-icons">add</i></a>


        <!--Десен клик меню-->
        <div v-show="rMenuShow" class="right-click-menu"
             :style="{top:rMenu.top + 'px',left:rMenu.left + 'px'}">
            <ul class='dropdown-content'>
                <li><a @click="editChart" href="#!">{{$t("site.charts.settings")}}<i class="fas fa-sliders-h "></i></a></li>
                <li><a @click="deleteAsk" href="#!">{{$t("site.charts.delete")}}<i class="fas fa-trash"></i></a></li>
            </ul>
        </div>

        <!-- Модал за потвърждаване на изтриването -->
        <div style="z-index: 99999999999" id="chartConfirmDeleteModal" class="modal">
            <div class="modal-content">
                <h4>{{$t("site.charts.deleteHeader")}}</h4>
                <p>{{$t("site.charts.deleteAsk", {name:rMenuItem.name})}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect btn red" >{{$t("no")}}</a>
                <a href="#!" class="modal-close waves-effect btn green" @click="deleteChart">{{$t("yes")}}</a>
            </div>
        </div>

        <!--Модал за добавяне-->
        <chart-modal :is-edit="false"></chart-modal>

        <!--Модал за редакция-->
        <chart-modal :is-edit="true" :edit-item="rMenuItem" ></chart-modal>

    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                loading:true,

                //за   right click menu-то
                rMenuShow: false,
                rMenu: {top: 0, left: 0},
                rMenuItem: {},
            }
        },
        created() {
            //Зарежда статистиките
            setTimeout(() => {
                this.load()
            }, 100);

            //за right click менюто
            $(window).click(() => {this.rMenuShow = false;});
            $(window).scroll(() => { this.rMenuShow = false;});
        },
        methods: {
            //Зарежда данни от базата за всички диаграми
            load() {
                axios.get(this.loadUrl).then(({data}) => {
                    this.$store.commit("setCharts", data);
                    this.loading = false;
                }).catch(({response}) => {
                    console.log(response);
                    this.loading = false;
                })
            },
            //Връща url за отваряне на диаграма
            getChartUrl(id) {
                return this.chartUrl.replace("chart_id", id)
            },
            //Меню при десен бутон
            rClick(e) {
                e.preventDefault();

                if (this.access != "owner" && this.access != "admin"){
                    return
                }

                var htmlTarget = {};

                if (typeof e.srcElement !== 'undefined') {
                    htmlTarget = e.srcElement
                } else if (typeof e.originalTarget !== 'undefined') {
                    htmlTarget = e.originalTarget
                }

                //Ако няма зададено id
                if (!htmlTarget.attributes["data-id"]) return;

                //Дали става въпрос за таблица или връзка към база данни
                this.rMenuShow = true;
                this.rMenu.left = e.clientX - 3;
                this.rMenu.top = e.clientY - 3;
                var id = htmlTarget.attributes["data-id"].nodeValue;

                this.rMenuItem = _.find(this.charts, c => {
                    return c.id == id;
                });


            },
            //отваря модала за потвърждение на изтриването
            deleteAsk() {
                M.Modal.init(document.querySelectorAll('#chartConfirmDeleteModal'), {dismissible: false});
                M.Modal.getInstance(document.getElementById("chartConfirmDeleteModal"))
                    .open();
            },
            //вика се при потвърждаване на изтриването
            deleteChart() {
                axios.delete(this.deleteUrl.replace("chart_id", this.rMenuItem.id)).then(() => {
                    this.$store.dispatch("removeChart",this.rMenuItem ).then(()=>{
                        M.toast({html:this.$t("site.charts.deleteSuccess")})
                    })
                }).catch(({response}) => {
                    console.log(response)
                })
            },
            //Вика се при десен бутон->редактирай
            editChart(){
                M.Modal.init(document.querySelectorAll('#editChartModal'),{});
                M.Modal.getInstance(document.getElementById("editChartModal"))
                    .open();
            }
        },
        computed: mapState({
            charts: "charts",
            access:"access",
            loadUrl: state => state.urls['getChartsUrl'], //url за зареждане на всички диаграми
            chartUrl: state => state.urls['chartUrl'], //url за отваряне на отделна статистика
            deleteUrl: state => state.urls['deleteChartUrl'], //url за изтриване
        }),

    }
</script>

<style lang="css">
    .definition {
        font-size: 110%;
    }

    .img {
        width: 130px;
        height: 330px;
        background-size: cover;
        opacity: .5;
    }
</style>
