<!-- Ръководство за употреба -->
<style>
	.manualPage {
		width: 73%;
		margin-left: 14%;
		/*height: 730px;*/
		overflow-y: auto;
	}

    .manualPageContent{
        overflow-y: auto;
        height: 600px;
    }

	.pages-buttons{
		width: 73%;
		margin-left: 14%;
	}

	.arrow{
		cursor: pointer;
	}


    .pageNavLink{
        cursor: pointer;
    }

	@media (max-width: 450px){
		.manualPage {
			width: 95%;
			margin-left: 3%;
			height: 600px;
		}
	}
</style>
<template>
	<div>
		<!-- Страници на ръководството -->
		<div class="white card-panel manualPage" id="page1" data-number="1" style="text-align: center;" v-show="page===0">
            <div  style="padding-top: 20%; padding-bottom: 20%">
                <h3>Bananamin - управлявай твоя сайт</h3>
                <h5><i>Ръководство за употреба</i></h5>
            </div>

		</div>
		<!--Съдържание-->
		<div class="white card-panel manualPage" id="page2" data-number="2" v-show="page===1">
			<h3 style="text-align: center;">Съдържание</h3>
			<h6 @click="goToPage(3)" class="pageNavLink">1. Направи нов сайт</h6>
			<h6 @click="opener >=1?opener=0:opener=1"  class="pageNavLink">2. Редактиране на сайт <i class="material-icons tiny">arrow_drop_down</i></h6>

            <div v-show="opener>=1" style="margin-left: 10px">
                <span @click="goToPage(4)" class="pageNavLink">2.1. Потребители с достъп</span><br>
                <span @click="opener >=2?opener=1:opener=2" >2.2. Бази данни<i class="material-icons tiny">arrow_drop_down</i></span><br>
                <div v-show="opener>=2" style="margin-left: 10px">
                    <span @click="goToPage(5)" class="pageNavLink">2.2.1. Добавяне на връзка и избиране на таблици</span><br>
                    <span @click="goToPage(6)" class="pageNavLink">2.2.2. Променяне на таблица</span><br>
                    <span @click="opener >=3?opener=2:opener=3">2.2.3. Променяне на колона</span> <i class="material-icons tiny">arrow_drop_down</i><br>
                    <div v-show="opener>=3" style="margin-left: 10px">
                        <span @click="goToPage(7)" class="pageNavLink">2.2.3.1. Избор на колони, преименуване, права</span><br>
                        <span @click="goToPage(8)" class="pageNavLink">2.2.3.2. Модификации</span><br>
                    </div>
                    <span @click="goToPage(9)" class="pageNavLink">2.2.4. Редакция на данни</span><br>
                </div>
                <span @click="goToPage(10)" class="pageNavLink">2.3. Добавяне на статистика</span><br>
            </div>
            
			<h6 @click="goToPage(11)" class="pageNavLink">3. Покани</h6>
			<h6 @click="goToPage(12)" class="pageNavLink">4. Моят профил</h6>
		</div>
		<!--същински страницни ръководство-->
			<div v-for="(p, key) in pages" class="white card-panel manualPage" v-show="page===(key+2)">
				<h4 style="text-align: center;">{{p.title}}</h4>
                <div class="manualPageContent">
                    <p class="flow-text">{{p.text}}</p>
                    <img v-for="img in p.screenshots" class="responsive-img materialboxed" :src="img">
                </div>


			</div>
		<!-- Бутони за смяна на страниците -->
		<div class="row pages-buttons">
			<!--Стрелка назад-->
			<div class="col s4">
				<div v-show="page>0" @click="page--" class="arrow"><i class="material-icons black-text" style="font-size: 48px;">arrow_back</i></div>
			</div>
			<!--Бутон за връщане към садържанието-->
			<div class="col s4 center">
				<div v-show="page>2" @click="page=1" class="arrow"><i class="material-icons black-text" style="font-size: 48px;">assignment</i></div>
			</div>
			<!--Стрелка напред-->
			<div class="col s4">
				<div v-show="page<(pages.length+1)" @click="page++" class="right arrow	"><i class="material-icons black-text" style="font-size: 48px;">arrow_forward</i>
				</div>
			</div>
		</div>


	</div>
</template>

<script>
	export default {
		props: ['pages'],
		data() {
            return {
               page:0, //текущата страница от ръководството (0 е зглавната страница а 1-садържанието)
               opener:0,//колко нива навътре да отвори садържанието
            }
        },
		methods: {
			goToPage(newPage){
				this.page = newPage
			}
		},
        //Инициализира material-box изображенията
        created(){
		    setTimeout(()=>{
                M.Materialbox.init(document.querySelectorAll('.materialboxed'), {});
            },1000);

        },
	}
</script>