<!-- Логин форма -->
<br>
<br>
<br>
<login
        csrf-token="<%= authenticity_token %>"

        github-login-url='<%= authPath({provider:"github"}) %> '
        linkedin-login-url='<%= authPath({provider:"linkedin"}) %> '

        email-signup-url="<%= signUpPath() %> "
        email-login-url="<%= loginPath () %> "

        forgot-pass-url="<%=authResetPasswordPath()%>"



        <%= if (errors) { %>
            :errors='<%=errors%>'
            user-email="<%= user.Email %>"
            <%= if (signUpErrs) { %>
                :signup-errs="<%=signUpErrs%>"
            <%}else{%>
                :login-errs="<%=logInErrs%>"
            <% } %>
        <%}else{%>
            :errors='false'
            :signup-errs="false"
            :login-errs="false"
        <% } %>
></login>
