<!-- Форма за забравена парола -->
<br>
<br>
<br>
<reset-password

        send-mail-url="<%=authResetPasswordSendMailPath()%>"
        check-token-url="<%=authResetPasswordCheckTokenPath()%>"
        change-pass-url="<%=authResetPasswordChangePassPath()%>"
        login-url="<%=loginPath()%>"
></reset-password>