<!-- Имейл за докладване на проблем -->
<div class="callout secondary">
    <h2>Докладване за проблем</h2>

    <table>
    	<tr>
    		<th>Операционна система</th>
    		<th>Версия на ОС</th>
    		<th>Браузър</th>
    		<th>IP адрес</th>
			<th>Потребител</th>
    	</tr>
    	<tr>
    		<td><%= br.Os %></td>
    		<td><%= br.OsVersion %></td>
    		<td><%= br.Browser %></td>
    		<td><%= br.Ip %></td>
            <td><%= br.Email%></td>
    	</tr>
    </table>

    <p><%= br.Comment %></p>

    <img src="/assets/images/screenshots/<%= br.Screenshot %>">
</div>