<!-- Layout за имейлите -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Enables media queries -->
        <meta name="viewport" content="width=device-width"/>
        <!-- Link to the email's CSS, which will be inlined into the email -->
        <link rel="stylesheet" href="<%=env("APP_URL")%>/foundation-emails.css">
    </head>

    <body>
        <div class="body">
            <%= yield %>
        </div>
    </body>

</html>

