<!-- Имейл за забравена парола -->
<div class="callout secondary">
    <h2>Код за възстановяване на паролата</h2>

    <p>Ако не сте поискали код за промяна на паролата, моля игнорирайте този email</p>

    <h4>Код за възстановяване <b><%=prs.Token %></b></h4>
</div>
