<!-- Страница за профил -->
<% let scripts = true  %>


<div class="row" style="margin-left: 10%">
	<h3><%= if (myProfile) { %>
			Моят Профил
		<% } else { %>
			Профил на <%= user.Email %>
		<% } %>
	</h3>
</div>
<!--TODO::тея url-и е добре да слязат във vuex-store-a-->
<profile-table
	:user='<%= json(user) %>'
<%= if (owned) { %>
	:owned='<%= json(owned) %>'
    :other='<%= json(other) %>'
<% } %>

	my-profile="<%= myProfile %>"
    csrf-token="<%= authenticity_token %>"
    edit-meta-url = "<%= editMetaProfilePath({user_id: user.ID}) %>"
    edit-pass-url = "<%= editPassPath({user_id: user.ID}) %>"
    profile-file-url = "<%= profileFilePath({user_id: user.ID}) %>"
    edit-skills-url = "<%= editSkillsPath({user_id: user.ID}) %>"
    <%= if (errors) { %>
        :errors='<%= errors %>'
    <% } else { %>
        :errors='false'
    <% } %>
>
</profile-table>

<% contentFor("scripts") { %>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        VuexStore.commit("addUrls", {
            "homeUrl": "<%= rootPath() %>"
        });
    });

</script>
<% } %>