<!--Bug report -->
<template lang="html">
    <div class="row">
        <br>

        <div style="margin-right: auto;float: none" class="col center  s12 m9 l5 card white">
            <div class="row">
                <div v-if="errors" class="pink accent-3 errors">
                    <ul>
                        <li v-for="e in errors.errors" class="white-text">
                            {{e[0]}}
                        </li>
                    </ul>
                </div>
                <br>
                <h5 style=" text-transform: uppercase;">{{title}}</h5>
                <!-- Форма за създаване на репорт -->
                <form :action="formUrl" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="POST"/>
                    <input name="authenticity_token" :value="csrfToken" type="hidden"/>

                    <div class='input-field col s12'>
                        <input :value="os" class='validate' type='text' name='os' id='os' placeholder=""/>
                        <label for='os'>{{$t("bugreport.os")}}</label>
                    </div>

                    <div class='input-field col s12'>
                        <input :value="osVersion" class='validate' type='text' name='os_version' id='os_version'
                               placeholder=""/>
                        <label for='os_version'>{{$t("bugreport.os_version")}}</label>
                    </div>

                    <div class='input-field col s12'>
                        <input :value="browser" class='validate' type='text' name='browser' id='browser'
                               placeholder=""/>
                        <label for='browser'>{{$t("bugreport.browser")}}</label>
                    </div>

                    <div class='input-field col s12'>
                        <input :value="ip" class='validate' type='text' name='ip_address' id='ip_address'
                               placeholder=""/>
                        <label for='ip_address'>{{$t("bugreport.ip")}}</label>
                    </div>

                    <div class='input-field col s12'>
                        <input :value="email" class='validate' type='text' name='email' id='email' placeholder=""/>
                        <label for='email'>{{$t("bugreport.mail")}}</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="comment" name="comment" class="validate materialize-textarea"></textarea>
                        <label for="comment">{{$t("bugreport.comment")}}</label>
                    </div>

                    <div class="file-field input-field col s12">
                        <div class="btn pink accent-3">
                            <span>{{$t("bugreport.photo")}}</span>
                            <input type="file" name="screenshot_file" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="screenshot">
                        </div>
                    </div>


                    <br/>

                    <div class='input-field col s12'>
                        <button style="width:100%;" type='submit' class='btn btn-large waves-effect pink accent-3'>
                            {{$t("bugreport.report")}}
                        </button>
                    </div>

                    <br><br>

                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["title", "formUrl", "csrfToken", "email", "errors"],
        data() {
            return {
                browser: ",",
                os: "",
                osVersion: "",
                ip: ""
            }

        },
        created() {
            //Зареждане на операционна система, версия, браузър и Ip адрес
            var unknown = '-';

            // browser
            var nVer = navigator.appVersion;
            var nAgt = navigator.userAgent;
            var browser = navigator.appName;
            var version = '' + parseFloat(navigator.appVersion);
            var nameOffset, verOffset, ix;

            // Opera
            if ((verOffset = nAgt.indexOf('Opera')) != -1) {
                browser = 'Opera';
                version = nAgt.substring(verOffset + 6);
                if ((verOffset = nAgt.indexOf('Version')) != -1) {
                    version = nAgt.substring(verOffset + 8);
                }
            }
            // Opera Next
            if ((verOffset = nAgt.indexOf('OPR')) != -1) {
                browser = 'Opera';
                version = nAgt.substring(verOffset + 4);
            }
            // Edge
            else if ((verOffset = nAgt.indexOf('Edge')) != -1) {
                browser = 'Microsoft Edge';
                version = nAgt.substring(verOffset + 5);
            }
            // MSIE
            else if ((verOffset = nAgt.indexOf('MSIE')) != -1) {
                browser = 'Microsoft Internet Explorer';
                version = nAgt.substring(verOffset + 5);
            }
            // Chrome
            else if ((verOffset = nAgt.indexOf('Chrome')) != -1) {
                browser = 'Chrome';
                version = nAgt.substring(verOffset + 7);
            }
            // Safari
            else if ((verOffset = nAgt.indexOf('Safari')) != -1) {
                browser = 'Safari';
                version = nAgt.substring(verOffset + 7);
                if ((verOffset = nAgt.indexOf('Version')) != -1) {
                    version = nAgt.substring(verOffset + 8);
                }
            }
            // Firefox
            else if ((verOffset = nAgt.indexOf('Firefox')) != -1) {
                browser = 'Firefox';
                version = nAgt.substring(verOffset + 8);
            }
            // MSIE 11+
            else if (nAgt.indexOf('Trident/') != -1) {
                browser = 'Microsoft Internet Explorer';
                version = nAgt.substring(nAgt.indexOf('rv:') + 3);
            }
            // Other browsers
            else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) < (verOffset = nAgt.lastIndexOf('/'))) {
                browser = nAgt.substring(nameOffset, verOffset);
                version = nAgt.substring(verOffset + 1);
                if (browser.toLowerCase() == browser.toUpperCase()) {
                    browser = navigator.appName;
                }
            }
            browser += " " + nVer;


            // system
            var os = unknown;
            var clientStrings = [
                {s: 'Windows 10', r: /(Windows 10.0|Windows NT 10.0)/},
                {s: 'Windows 8.1', r: /(Windows 8.1|Windows NT 6.3)/},
                {s: 'Windows 8', r: /(Windows 8|Windows NT 6.2)/},
                {s: 'Windows 7', r: /(Windows 7|Windows NT 6.1)/},
                {s: 'Windows Vista', r: /Windows NT 6.0/},
                {s: 'Windows Server 2003', r: /Windows NT 5.2/},
                {s: 'Windows XP', r: /(Windows NT 5.1|Windows XP)/},
                {s: 'Windows 2000', r: /(Windows NT 5.0|Windows 2000)/},
                {s: 'Windows ME', r: /(Win 9x 4.90|Windows ME)/},
                {s: 'Windows 98', r: /(Windows 98|Win98)/},
                {s: 'Windows 95', r: /(Windows 95|Win95|Windows_95)/},
                {s: 'Windows NT 4.0', r: /(Windows NT 4.0|WinNT4.0|WinNT|Windows NT)/},
                {s: 'Windows CE', r: /Windows CE/},
                {s: 'Windows 3.11', r: /Win16/},
                {s: 'Android', r: /Android/},
                {s: 'Open BSD', r: /OpenBSD/},
                {s: 'Sun OS', r: /SunOS/},
                {s: 'Linux', r: /(Linux|X11)/},
                {s: 'iOS', r: /(iPhone|iPad|iPod)/},
                {s: 'Mac OS X', r: /Mac OS X/},
                {s: 'Mac OS', r: /(MacPPC|MacIntel|Mac_PowerPC|Macintosh)/},
                {s: 'QNX', r: /QNX/},
                {s: 'UNIX', r: /UNIX/},
                {s: 'BeOS', r: /BeOS/},
                {s: 'OS/2', r: /OS\/2/},
                {s: 'Search Bot', r: /(nuhk|Googlebot|Yammybot|Openbot|Slurp|MSNBot|Ask Jeeves\/Teoma|ia_archiver)/}
            ];
            for (var id in clientStrings) {
                var cs = clientStrings[id];
                if (cs.r.test(nAgt)) {
                    os = cs.s;
                    break;
                }
            }

            var osVersion = window.navigator.oscpu;


            this.setIp();
            this.os = os;
            this.browser = browser;
            this.osVersion = osVersion
        },
        methods: {
            setIp() {
                $.getJSON("https://ipfind.co/?ip=77.244.198.63&auth=f1628256-399e-4ae1-8250-522505e7bac0", ({ip_address})=>{
                   this.ip= ip_address;
                });
            }

        }
    }
</script>